@charset "utf-8";

html {
	overflow-y:scroll;
}

body {
	margin:0;
	padding:0;
	background:#F2F2F3 url(../images/wrap_bg2.jpg) repeat-y center top;
	color:#333333;
	font-size:12px;
	line-height:1.5;
	font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
}

* html body {
	margin:0;
	padding:0;
	background:#F2F2F3 url(../images/wrap_bg2.jpg) repeat-y center top;
	color:#333333;
	font-size:75%;
	line-height:1.5;
	font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
}

*:first-child+html body {
	margin:0;
	padding:0;
	background:#F2F2F3 url(../images/wrap_bg2.jpg) repeat-y center top;
	color:#333333;
	font-size:75%;
	line-height:1.5;
	font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
}

form, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}

a,
a:visited,
a:active {
	color:#4093BC;
        text-decoration:none;
	cursor: pointer;
}

a:hover {
	color:#4093BC;
        text-decoration:underline;
}

a img{
	border:0;
}

li img {
	vertical-align:top;
}

em {
	/* font-weight:bold;
	font-style:normal; */
}

p,li {
	line-height:160%;
}

textarea {
    font-size:100%;
}





