@charset "utf-8";

/* top page
-------------------------------------------------------------------------------------------------------*/
#top .section3 {
	width:470px;
	padding-bottom:25px;
}

#top #mainContainer #rightContainer {
	width:182px;
	float:right;
	display:inline;
	padding-bottom:30px;
}

#top #mainContainer #rightContainer #banner {
        list-style: none;
	border:solid #CCC 1px;
        width:174px;
        padding: 3px 3px 0 3px;
        background: #EBEBEB;
}

#top #mainContainer #rightContainer #banner li {
        padding-bottom: 3px;
}

#top h3 {
	background:#FFFFFF url(../images/h3_bg.jpg) repeat-x left top;
        height:28px;
        font-size:100%;
        padding-top: 12px;
        padding-left: 12px;
}

#top .more{
    text-align: right;
}

#top .more .navi_icon{
        clear:both;
	background:#FFFFFF url(../images/navi_icon.gif) no-repeat left center;
	padding-left:15px;
	font-weight:normal;
}

#top #t_news ul{
	padding-top:10px;
	list-style:none;
	float:left;
	margin-left:0;
}

#top #t_news ul li{
background:#FFFFFF url(../images/line_dotted.gif) repeat-x left bottom;
padding:0 0 11px 0;
margin-bottom:9px;
clear:both;
width:470px;
position:relative;
overflow:hidden;
zoom: 1;
margin-left:0;
}

#top #t_news ul li .new{
vertical-align:middle;
padding-left:3px;
}

#top #t_news ul li .date{
float:left;
display:inline;
width:100px;
}

#top #t_news ul li .infoarea{
width:365px;
float:right;
display:inline;
}

#top #t_about{
border-top: solid 3px #0082C3;
border-bottom: solid 1px #CCC;
padding-bottom: 10px;
}

#top #t_about p{
margin-top: 10px;
margin-bottom: 10px;
font-size: 120%;
font-weight: bold;
font-family:'Times New Roman' ,serif;
font-style: italic;
}




/* topics
-------------------------------------------------------------------------------------------------------*/
#topics #newslist{
	list-style:none;
	margin-left:0;
	margin-top:0;
}

#topics #newslist{
	list-style:none;
	float:left;
	margin-left:0;
}

#topics #newslist li{
background:#FFFFFF url(../images/line_dotted.gif) repeat-x left bottom;
padding:0 0 11px 0;
margin-bottom:9px;
clear:both;
width:670px;
position:relative;
overflow:hidden;
zoom: 1;
margin-left:0;
}

#topics #newslist li .new{
vertical-align:middle;
padding-left:3px;
}

#topics #newslist li .date{
float:left;
display:inline;
width:100px;
}

#topics #newslist li .infoarea{
width:570px;
float:right;
display:inline;
}

#topics #mainContainer .dedate{
text-align: right;
margin-bottom: 15px;
}

#topics #mainContainer h3{
margin-bottom: 5px;
}


/* message
-------------------------------------------------------------------------------------------------------*/
#message .msg{
float:left;
display: inline;
width:480px;
}

#message .imager{
width:170px;
}


/* org
-------------------------------------------------------------------------------------------------------*/
#org .mem tr .name{
width: 35%;
}

#org .mem tr .post{
width: 65%;
}

#org #mainContainer .mem2{
margin-bottom: 15px;
}

#org #mainContainer .mem2 tr td{
border:1px #CCC solid;
}

#org #mainContainer .mem2 tr .link{
width:15%;
}

#org #mainContainer .mem2 tr .name{
width:auto;
background: #FAFAFA;
}

/* contact
-------------------------------------------------------------------------------------------------------*/
#contact .sname{
line-height:190%;
border: 1px #CCC solid;
padding: 10px;
background: #FAFAFA;
}

#contact .title{
font-weight: bold;
font-size: 130%;
color: #005984;
}

#contact .no{

}

/* event
-------------------------------------------------------------------------------------------------------*/
#event #mainContainer table tr .info{
    width:82%;
}

#event #mainContainer table tr td .ename{
    font-weight: bold;
    color: #005984;
    margin-bottom: 5px;
    display:block;
    font-size: 110%;
}

#event #mainContainer table tr .link{
    width:18%;
    border-bottom: 1px dotted #CCC;
}
#event #mainContainer table tr .link2{
    width:15%;
    border-top: 1px dotted #CCC;
}


/* entry
-------------------------------------------------------------------------------------------------------*/
#mainContainer .section2 .entry ul{
	margin-left:25px;
	margin-bottom:20px;
}

#mainContainer .section2 .entry ol{
	margin-left:30px;
	margin-bottom:20px;
}

#mainContainer .section2 .entry dl{
	margin-left:15px;
	margin-bottom:20px;
}


/* paging
-------------------------------------------------------------------------------------------------------*/
#pagenavi {
	width:670px;
	padding-top:10px;
	padding-bottom:0;
}

#pagenavi2 {
	width:670px;
	padding-top:15px;
}

.kensu {
	width:220px;
	float:left;
	color:#666666;
	font-size:90%;
}

.paging {
	text-align:right;
	width:450px;
	float:right;
}

.paging .int_navi a:link {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .int_navi a {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .int_navi a:visited {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .int_navi a:hover {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	color:#FFFFFF;
	text-decoration:none;
	padding:2px 4px;
}

.paging .now_page {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	padding:2px 4px;
}

.paging .nextpage a {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .nextpage a:visited {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .nextpage a:hover {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	color:#FFFFFF;
	text-decoration:none;
	padding:2px 4px;
}

.paging .prevpage a {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .prevpage a:visited {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .prevpage a:hover {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	color:#FFFFFF;
	text-decoration:none;
	padding:2px 4px;
}




