<?
include("admin/inc.php");
?>

<?
include("head.php");
?>

<body>
	<?
	include("header.php");
	?>

	<div class="container content">
		<div class="row">

			<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
				<h1>SEESとは</h1>
				<div class="breadcrumbs">
					<ul class="row">
						<li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
						<li>SEESとは</li>
					</ul>
				</div>

				<article>
					<h2>シニアエンジニア向け案件情報をご紹介します。</h2>
					<p>SEESとは- Senior Engineer Employment Service -の略称で、<br>シニアエンジニア（40代～50代後半）向け、案件紹介サービスです。</p>
					<p>掲載している案件はすべて年齢不問ですので、煩わしい年齢制限に関係なく、<br>純粋にスキルや希望条件での案件をお探しいただけます。</p>
					<p class="img2_1"><img src="img/about/img2_1.png" alt="案件情報ご紹介"></p>
				</article>
				<article>
					<h2>お支払いサイトは<span>最短30日</span>です。お待たせいたしません。</h2>
					<p>
						給与の支払いサイトは<strong>最短で末締め翌月30日払い</strong>、45日以内の迅速なお支払いをお約束します！
					</p>
				</article>

				<article>
					<h2>お忙しい方のための<span>出張登録制度</span>があります。</h2>
					<p><strong>現場が忙しくて動けない、家を離れられない</strong>等、<br>諸事情があり弊社にお越し頂くのが難しい方向けの制度です。</p>
					<p>渋谷から60分圏内に限り、コーディネーターがご指定の場所に伺い<br>初回の登録面談をさせて頂きます。</p>
				</article>

				<article>
					<h2>スキルシートを送るだけ！<span>24時間以内</span>にご返答します！</h2>
					<p>スキルシートをアップしていただくだけで、最適な案件をご紹介いたします。</p>
					<p>Webに掲載しきれない最新・未公開案件もありますので、<br>初めての方にはまずこちらのご登録をお勧めしております。</p>
					<p><strong>スキルシートをいただいてから24時間以内には、必ず以下どちらかのご連絡をさせて頂きます。</strong></p>
					<ul class="row">
						<li class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<p>・具体的な案件情報<br>
						・申し訳ありませんが現在ご紹介できる案件が御座いません。<br>
						　マッチする案件が見つかり次第ご連絡致します。</p>
						<p>当社からご紹介した案件にエントリー頂ける場合は<br>
						初回登録面談のご案内をさせて頂きます。</p>
						</li>
						<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img6">
							<img src="img/about/img6.png" alt="スキルシートを送るだけ！">
						</li>
					</ul>
				</article>

				<p class="bottom_banner">
					<a href="skill.html" class="skill_btn">
						スキルシートのご登録はこちらから
						<span>スキルシートのご登録後、<br>24時間以内にご返答します。</span>
					</a>
				</p>

			</section><!--/.main-->

			<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			  <?
			  include("side.php");
			  ?>
			</aside><!--/aside-->

		</div><!--/.row-->
	</div><!-- /.container-->

	<?
	include("footer.php");
	?>

</body>
</html>
