<?
include("admin/inc.php");
?>

<?
include("head.php");
?>

<body>

    <?
    include("header.php");
    ?>

	<div class="container content">
		<div class="row">

			<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
				<h1>紹介キャンペーン</h1>
				<div class="breadcrumbs">
					<ul class="row">
						<li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
						<li>紹介キャンペーン</li>
					</ul>
				</div>

				<div class="campaign">
					<div>
					<img src="img/campaign/campaign_title1.png" alt="2017年10月31日お申し込み分まで｜ご紹介者様に5万円！ご紹介された方にも5万円！！" title="2017年10月31日お申し込み分まで｜ご紹介者様に5万円！ご紹介された方にも5万円！！">
					</div>
					<h2>
						<img src="img/campaign/campaign_title2.png" alt="紹介キャンペーン" title="紹介キャンペーン">
					</h2>
					<div class="campaign_detail">
						<h2>
							<img src="img/campaign/campaign_title3.png" alt="SEESでは紹介キャンペーンを実施しています！" title="SEESでは紹介キャンペーンを実施しています！">
						</h2>
						<h3><img src="img/campaign/3step.png"alt="3step" title="3step"></h3>
						<div>
							<img src="img/campaign/explanatory_diagram.png" alt="step1:ご友人・ご家族を紹介する|step2:ご紹介者様が就労する|step3:それぞれに5万円プレゼント！" title="step1:ご友人・ご家族を紹介する|step2:ご紹介者様が就労する|step3:それぞれに5万円プレゼント！">
						</div>
						<div class="campaign_overview">
							<img src="img/campaign/overview.png" alt="ご友人、お知り合いやご家族等、あなたのまわりのシニアエンジニアの方をご紹介下さい。ご紹介いただいた方がSEESを介して、ご就労いただいたいた場合、あなたとご紹介いただいたエンジニアの方、お二人にそれぞれに5万円をプレゼントします。">
						</div>
						<div class="campaign_text">
							<dl>
								<dt >
									<img src="img/campaign/detail_1.png" alt="実施期間">
								</dt>
								<dd>
									<strong>2017</strong>年<strong>10</strong>月<strong>31</strong>日お申し込み分まで	
								</dd>
							</dl>
							<dl>
								<dt>
									<img src="img/campaign/detail_2.png" alt="応募条件">
								</dt>
								<dd>
									<ul>
										<li>弊社にご来社いただける方。</li>
										<li>ご紹介いただいた方が過去にSEESに登録されたことのない方</li>
										<li class="ab">※過去にご登録されていた場合は対象外となります。</li>
									</ul>	
								</dd>
							</dl>
							<dl>
								<dt>
									<img src="img/campaign/detail_3.png" alt="ご注意点">
								</dt>
								<dd>
									<ul>
										<li>シニアエンジニアの方が弊社を介して、2カ月後のご就労後に適用となります。</li>
										<li>ご指定の口座に2カ月ご就労後の翌月20日にお振込みいたします。</li>
										<li class="ab">※振込手数料は弊社が負担いたします。</li>
									</ul>	
								</dd>
							</dl>
							<dl>
								<dt>
									<img src="img/campaign/detail_4.png" alt="お申し込み方法">
								</dt>
								<dd>
									<a href="inquiry.html">お問合せフォーム</a>からお申込みいただくか、<br>または、下記連絡先までご連絡いただきますようお願いいたします。
								</dd>
							</dl>
					</div><!--.campaign_text-->
				</div><!--.campaign_detail-->
					<a href="inquiry.html" class="inq"  title="まずはお気軽にお問合せ下さい!!"></a>
				</div><!--.campaign-->

			</section><!--/.main-->

			<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			  <?
			  include("side.php");
			  ?>
			</aside><!--/aside-->

		</div><!--/.row-->
	</div><!-- /.container-->

  	<?
  	include("footer.php");
  	?>

</body>
</html>
