<?
include("admin/inc.php");
?>
    
<?
include("head.php");
?>

<body>
    <?
    include("header.php");
    ?>

    <div class="container content">
        <div class="row">

            <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">

                <h1>運営会社</h1>
                <div class="breadcrumbs">
                  <ul class="row">
                    <li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
                    <li>運営会社</li>
                  </ul>
                </div>

                <article class="company">
                  <h2>会社概要</h2>
                    <table>
                      <tr>
                        <th>社名</th>
                        <td>株式会社Miraie</td>
                      </tr>
                      <tr>
                        <th>所在地</th>
                        <td>〒150－0002<br>
                        東京都渋谷区渋谷1－12－2　クロスオフィス渋谷4F</td>
                      </tr>
                      <tr>
                        <th>設立</th>
                        <td>2007年7月（3月決算）</td>
                      </tr>
                      <tr>
                        <th>電話</th>
                        <td>03-5774-6300</td>
                      </tr>
                      <tr>
                        <th>FAX</th>
                        <td>03-5774-6301</td>
                      </tr>
                      <tr>
                        <th>代表取締役社長</th>
                        <td>岡野 徹志</td>
                      </tr>

                      <tr>
                        <th>サイトURL</th>
                        <td><a href="https://www.miraie-group.jp/" target="new">https://www.miraie-group.jp/</a></td>
                      </tr>

                      <tr>
                        <th>アクセス</th>
                        <td>
                        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1620.8457310804663!2d139.7027611367543!3d35.65997260637256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b587b2beefb%3A0x4064b85c0bd17c73!2z5p2x5Lqs6YO95riL6LC35Yy65riL6LC377yR5LiB55uu77yR77yS4oiS77yS!5e0!3m2!1sja!2sjp!4v1406601050157" width="400" height="300" frameborder="0" style="border:0"></iframe>

                       <br /><small><a href="https://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA%E6%B8%8B%E8%B0%B71%EF%BC%8D12%EF%BC%8D12&amp;aq=&amp;sll=35.678523,139.730784&amp;sspn=0.114202,0.186081&amp;brcurrent=3,0x60188b588cd34965:0x53b9fe8f5a627a1e,0,0x60188b586256530b:0xf37539b10959e052&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA%E6%B8%8B%E8%B0%B7%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%91%EF%BC%92%E2%88%92%EF%BC%91%EF%BC%92&amp;t=m&amp;z=14&amp;ll=35.660069,139.704356" style="color:#0000FF;text-align:left">大きな地図で見る</a></small>
                        </td>
                      </tr>
                    </table>
                </article>

            </section><!--/.main-->

            <aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <?
              include("side.php");
              ?>
            </aside><!--/aside-->

        </div><!--/.row-->
    </div><!-- /.container-->

    <?
    include("footer.php");
    ?>
			
</body>
</html>
