<?
include("admin/inc.php");
//データ読み込み
if ($_GET [id] != "") {
	$stmt = $db->prepare ( "select * from kyujin_data where flag = :flag and kyujin_id = :kyujin_id" );
	$stmt->bindParam ( ':flag', $flag, PDO::PARAM_STR );
	$stmt->bindParam ( ':kyujin_id', $_GET [id], PDO::PARAM_STR );
	$stmt->execute ();
	$ken = $stmt->rowCount ();
	$data = $stmt->fetch ( PDO::FETCH_ASSOC );
	if ($ken == 0) {
		header ( "Location: index.html" );
	}
} else {
	header ( "Location: index.html" );
}

$kinmuti=$data[kinmuti];
$tanka=$data[tanka];
?>

<?
include("head.php");
?>

<body>

	<?
	include("header.php");
	?>

	<div class="container content">
		<div class="row">

			<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
				<div class="breadcrumbs">
					<ul class="row">
						<li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
						<li><a href="list.html">新着求人案件一覧</a></li>
						<li><? echo $data[anken]; ?></li>
					</ul>
				</div>
				<section class="projects detail">
					<article>
						<div class="anken">
							<h1 class="anken-tit-h"><? echo $data[anken]; ?></h1>
							<dl>
								<dt><span>勤務地</span></dt>
								<dd>
									<?
									if($data[kinmuti]!=""){

										$kinmuti2=explode('、',$data[kinmuti]);

										for($i=0;$i<sizeof($kinmuti2);$i++){
											$stmt2 = $db->prepare("select * from kyujin_kinmuti where kinmuti_id=:kinmuti_id");
											$stmt2->bindParam(':kinmuti_id', $kinmuti2[$i], PDO::PARAM_STR);
											$stmt2->execute();
											$data2 = $stmt2->fetch(PDO::FETCH_ASSOC);
											echo $data2[kinmuti];
											if(($i+1)<sizeof($kinmuti2)){ echo "、"; }
										}
									}
									?>
								</dd>
							</dl>
							<dl>
								<dt><span>単価</span></dt>
								<dd class="tanka"><? echo number_format($data[tanka])."円"; ?></dd>
							</dl>
							<dl>
								<dt><span>ポジション</span></dt>
								<dd>
								<?
								if($data[potision]!=""){
									$potision2=explode('、',$data[potision]);
									for($i=0;$i<sizeof($potision2);$i++){
										$stmt2 = $db->prepare("select * from kyujin_potision where potision_id = :potision_id");
										$stmt2->bindParam(':potision_id', $potision2[$i], PDO::PARAM_STR);
										$stmt2->execute();
										$data2 = $stmt2->fetch(PDO::FETCH_ASSOC);
										echo $data2[potision];
										if(($i+1)<sizeof($potision2)){ echo "、"; }
									}
								}
								?>
								</dd>
							</dl>
							<dl>
								<dt><span>期間</span></dt>
								<dd><? echo $data[kikan]; ?></dd>
							</dl>
							<dl>
								<dt><span>面談回数</span></dt>
								<dd><? echo $data[mendan]; ?></dd>
							</dl>
							<dl>
								<dt><span>内容</span></dt>
								<dd><? echo preg_replace("/\n/","<br>",$data[naiyou]); ?></dd>
							</dl>
							<dl>
								<dt><span>スキル</span></dt>
								<dd><? echo preg_replace("/\n/","<br>",$data[keiken]); ?></dd>
							</dl>
							<dl>
								<dt><span>備考</span></dt>
								<dd><? echo preg_replace("/\n/","<br>",$data[bikou]); ?></dd>
							</dl>
						</div>
					</article>
					<div class="entry-btn">
						<a class="btn_base btn_entry" href="entry.html?id=<? echo $data[kyujin_id]; ?>">この案件にエントリーする</a>
					</div>
				</section>

				<!--類似案件-->
				<section class="related">
					<?
					//第一条件で絞る
					$stmt = $db->prepare("select * from kyujin_data where kinmuti = :kinmuti and tanka = :tanka and kyujin_id != :kyujin_id limit 0,10");
					$stmt->bindParam(':kinmuti', $kinmuti, PDO::PARAM_STR);
					$stmt->bindParam(':tanka', $tanka, PDO::PARAM_STR);
					$stmt->bindParam(':kyujin_id', $_GET[id], PDO::PARAM_STR);
					$stmt->execute();
					while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
						$rid[]=$data[kyujin_id];
						$rtitle[]=mb_strimwidth($data[anken],0,36,'...','UTF-8');
					}

					//第二条件で絞る
					$sql="select * from kyujin_data where kinmuti = :kinmuti and kyujin_id! = :kyujin_id";
					$parameter1[":kinmuti"] = $kinmuti;
					$parameter1[":kyujin_id"] = $_GET[id];
					for($i=0;$i<sizeof($rid);$i++){
						$sql.=" and kyujin_id! = :rid$i";
						$parameter1[":rid$i"] = $rid[$i];
					}
					$sql.=" limit 0,10";
					$stmt = $db->prepare($sql);
					$stmt->execute($parameter1);
					while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
						$rid[]=$data[kyujin_id];
						$rtitle[]=mb_strimwidth($data[anken],0,36,'...','UTF-8');
					}

					//第三条件で絞る
					$sql="select * from kyujin_data where tanka = :tanka and kyujin_id! = :kyujin_id";
					$parameter2[":tanka"] = $tanka;
					$parameter2[":kyujin_id"] = $_GET[id];
					for($i=0;$i<sizeof($rid);$i++){
						$sql.=" and kyujin_id! = :rid$i";
						$parameter2[":rid$i"] = $rid[$i];
					}
					$sql.=" limit 0,10";
					$stmt = $db->prepare($sql);
					$stmt->execute($parameter2);
					while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
						$rid[]=$data[kyujin_id];
						$rtitle[]=mb_strimwidth($data[anken],0,36,'...','UTF-8');
					}
					?>

					<?
					if($rid[0]!=""){
					?>
					<h3>この案件と似ている案件を探す</h3>
					<ul class="row">
					<?
					for($i=0;$i<sizeof($rid);$i++){
					?>
						<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="detail.html?id=<? echo $rid[$i]; ?>"><? echo $rtitle[$i]; ?></a></li>
					<?
					}
					?>
					</ul>
					<?
					}
					?>
					
				</section>
			</section>

			<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			  <?
			  include("side.php");
			  ?>
			</aside><!--/aside-->

		</div><!--/.row-->
	</div><!-- /.container-->

	<?
	include("footer.php");
	?>

</body>
</html>
