<?
include("admin/inc.php");
if($_GET[id]!=""){ $id=$_GET[id]; }else{ $id=$_POST[id]; }

//データ読み込み
if($id!=""){
	$stmt = $db->prepare ( "select * from kyujin_data where flag=:flag and kyujin_id=:kyujin_id" );
	$stmt->bindParam ( ':flag', $flag, PDO::PARAM_STR );
	$stmt->bindParam ( ':kyujin_id', $id, PDO::PARAM_STR );
	$stmt->execute ();
	$data = $stmt->fetch ( PDO::FETCH_ASSOC );
	$ken = $stmt->rowCount ();
	if($ken==0){ header("Location: index.html"); }

}else{
	header("Location: index.html");
}

//$kinmuti=$data[kinmuti];
$tanka=$data[tanka];

$kakaku[400000]="〜400,000円";
$kakaku[500000]="400,000〜500,000円";
$kakaku[600000]="500,000〜600,000円";
$kakaku[700000]="600,000〜700,000円";
$kakaku[999999999]="700,000円〜";
?>

<?
include("head.php");
?>

<body>

		<?
		include("header.php");
		?>

		<div class="container content">
			<div class="row">

				<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
						<div class="breadcrumbs">
							<ul class="row">
								<li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
								<li><a href="list.html">新着求人案件一覧</a></li>
								<li><a href="detail.html?id=<? echo $_GET[id]; ?>">詳細</a></li>
								<li>エントリー</li>
							</ul>
						</div>

						<section class="projects detail">
							<article>
								<div class="anken">
									<h1 class="anken-tit-h"><? echo $data[anken]; ?></h1>
									<dl>
										<dt><span>勤務地</span></dt>
										<dd>
											<?
														if($data[kinmuti]!=""){

												$kinmuti2=explode('、',$data[kinmuti]);

												for($i=0;$i<sizeof($kinmuti2);$i++){
													$stmt2 = $db->prepare("select * from kyujin_kinmuti where kinmuti_id=:kinmuti_id");
													$stmt2->bindParam(':kinmuti_id', $kinmuti2[$i], PDO::PARAM_STR);
													$stmt2->execute();
													$data2 = $stmt2->fetch(PDO::FETCH_ASSOC);
													echo $data2[kinmuti];
													if(($i+1)<sizeof($kinmuti2)){ echo "、"; }
												}
											}
											?>
										</dd>
									</dl>
									<dl>
										<dt><span>単価</span></dt>
										<dd class="tanka"><? echo number_format($data[tanka])."円"; ?></dd>
									</dl>
									<dl>
										<dt><span>ポジション</span></dt>
										<dd>
										<?
										if($data[potision]!=""){

										$potision2=explode('、',$data[potision]);

										for($i=0;$i<sizeof($potision2);$i++){
										$stmt2 = $db->prepare ( "select * from kyujin_potision where potision_id=:potision_id" );
										$stmt2->bindParam ( ':potision_id', $potision2[$i], PDO::PARAM_STR );
										$stmt2->execute ();
										$data2 = $stmt2->fetch ( PDO::FETCH_ASSOC );
										echo $data2[potision];
										if(($i+1)<sizeof($potision2)){ echo "、"; }
										}
										}
										?>
										</dd>
									</dl>
									<dl>
										<dt><span>内容</span></dt>
										<dd><? echo preg_replace("/\n/","<br>",$data[naiyou]); ?></dd>
									</dl>
									<dl>
										<dt><span>スキル</span></dt>
										<dd><? echo preg_replace("/\n/","<br>",$data[keiken]); ?></dd>
									</dl>
								</div>
							</article>
						</section>

						<p class="flowchart"><img src="resource/img_common/img1.png" alt=""></p>

						<form action="entry_kakunin.html" method="POST" enctype="multipart/form-data" name="form" id="formid">

							<input type="hidden" name="filename" value="<? echo $_POST[filename]; ?>">
							<input type="hidden" name="filename2" value="<? echo $_POST[filename2]; ?>">
							<input type="hidden" name="id" value="<? echo $id; ?>">

							<div class="formstyle">
								<table>
									<tr>
										<th>お名前 <span class="red">(必須)</span></th>
										<td>
											<input name="name" type="text" id="textfield" size="30" value="<? echo $_POST[name]; ?>">
										</td>
									</tr>
									<tr>
										<th>フリガナ <span class="red">(必須)</span></th>
										<td><input name="hurigana" type="text" id="textfield5" size="30" value="<? echo $_POST[hurigana]; ?>"></td>
									</tr>
									<tr>
										<th>性別 <span class="red">(必須)</span></th>
										<td>
											<label><input type="radio" name="sei" id="radio" value="男性"<? if($_POST[sei]=="男性"){ echo " checked"; } ?>>男性</label>
											<label><input type="radio" name="sei" id="radio2" value="女性"<? if($_POST[sei]=="女性"){ echo " checked"; } ?>>女性</label>
										</td>
									</tr>
									<tr>
										<th>年齢 <span class="red">(必須)</span></th>
										<td><input name="age" type="text" id="textfield6" size="10" value="<? echo $_POST[age]; ?>">歳</td>
									</tr>
									<tr>
										<th>お電話番号 <span class="red">(必須)</span></th>
										<td><input name="tel" type="text" id="textfield7" size="30" style="ime-mode:disabled;" value="<? echo $_POST[tel]; ?>"></td>
									</tr>
									<tr>
										<th>メールアドレス <span class="red">(必須)</span></th>
										<td><input name="mail" type="text" id="textfield2" size="50" style="ime-mode:disabled;" value="<? echo $_POST[mail]; ?>"></td>
									</tr>
									<tr>
										<th>最寄り駅</th>
										<td><input name="eki" type="text" id="eki" size="30" value="<? echo $_POST[eki]; ?>">例)渋谷</td>
									</tr>
									<tr>
										<th>希望報酬</th>
										<td>
											<select name="tanka" id="tanka">
												<option value="" selected>選択して下さい</option>
												<option value="350000"<? if($_POST[tanka]=="350000"){ echo " selected"; } ?>>〜350,000円</option>
												<option value="400000"<? if($_POST[tanka]=="400000"){ echo " selected"; } ?>>350,000〜400,000円</option>
												<option value="450000"<? if($_POST[tanka]=="450000"){ echo " selected"; } ?>>400,000〜450,000円</option>
												<option value="450000"<? if($_POST[tanka]=="450000"){ echo " selected"; } ?>>400,000〜450,000円</option>
												<option value="500000"<? if($_POST[tanka]=="500000"){ echo " selected"; } ?>>450,000〜500,000円</option>
												<option value="550000"<? if($_POST[tanka]=="550000"){ echo " selected"; } ?>>500,000〜550,000円</option>
												<option value="600000"<? if($_POST[tanka]=="600000"){ echo " selected"; } ?>>550,000〜600,000円</option>
												<option value="650000"<? if($_POST[tanka]=="650000"){ echo " selected"; } ?>>600,000〜650,000円</option>
												<option value="700000"<? if($_POST[tanka]=="700000"){ echo " selected"; } ?>>650,000〜700,000円</option>
												<option value="999999999"<? if($_POST[tanka]=="999999999"){ echo " selected"; } ?>>700,000円〜</option>
											</select>
										</td>
									</tr>
									<tr>
										<th>希望業務開始日</th>
										<td>
											<input type="text" value="<? echo $_POST[colname]; ?>" name="colname" readonly onClick="cal.hide();cal.write();" onChange="cal.getFormValue(); cal.hide();">
											<br>
											<div id="calid"></div>
										</td>
									</tr>
									<tr>
										<th>履歴書 / 職務経歴書</th>
										<td>
											<label>
												<input type="file" name="rireki" id="rireki">
												<span class="cap">※PDF、エクセル、ワードファイルのいずれかを添付して下さい。<br>
												※アップロードできるファイルサイズ上限は2MBまでとなります。</span>
											</label>
											<?
											if($_POST[filename]!=""){
											?>
											<br><b>ファイルアップロード済</b>
											<?
											}
											?>
										</td>
									</tr>
									<tr>
										<th>スキルシート<span class="red">(必須)</span></th>
										<td>
											<input type="file" name="skill" id="skill">
											<span class="cap">※PDF、エクセル、ワードファイルのいずれかを添付して下さい。<br>
											※アップロードできるファイルサイズ上限は2MBまでとなります。</span>
											<?
											if($_POST[filename2]!=""){
											?>
																<br><b>ファイルアップロード済</b>
											<?
											}
											?>
										 </td>
									</tr>
									<tr>
										<th>備考<span class="red"></span></th>
										<td><textarea name="naiyou" cols="50" rows="10" id="textfield4"><? echo $_POST[naiyou]; ?></textarea></td>
									</tr>
								</table>
								<p class="cap">
									ご登録にあたって、個人情報の取扱いについては<a href="privacypolicy.html" target="new">プライバシーポリシー</a>をご同意いただだいた上でお申し込み下さい。
								</p>
							</div>

							<div class="kwaku">
								<div class="search_set">
									<p><input type="button" value="リセット" class="btn_base btn_sub clearForm"></p>
									<p><input type="submit" value="確認" class="btn_base btn_entry"></p>
								</div>
							</div>

						</form>

					</section><!--/.main-->

					<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<?
						include("side.php");
						?>
					</aside><!--/aside-->

			</div><!--/.row-->
		</div><!-- /.container-->

		<?
		include("footer.php");
		?>

</body>
</html>
