<?
include("admin/inc.php");
?>

<?
include("head.php");
?>

<body>

	<?
	include("header.php");
	?>

	<div class="container content">
		<div class="row">

		<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">

				<div class="breadcrumbs">
					<ul class="row">
						<li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
						<li><a href="list.html">新着求人案件一覧</a></li>
						<li><a href="detail.html?id=<? echo $_GET[id]; ?>">詳細</a></li>
						<li>エントリー</li>
					</ul>
				</div>
				<h1 class="thanks-text">エントリーありがとうございました。</h1>
				<div class="thanks-text-body">
					<p>この度はエントリーありがとうございます。<br>
					折り返し担当者よりご連絡させて頂きます。</p>
					<p>なお、お問い合わせ順に返信致しておりますが<br>
					多くのお問い合わせを頂いている場合は返信が遅れる場合があります。<br>
					予めご了承下さい。</p>
<p>また、弊社からお送りするメールが迷惑メール扱いになり、ご連絡が届かないケースがあります。<br>
					お手数をおかけしますが、迷惑メールフィルター等をご確認いただきますようお願い申し上げます。</p>
					<p class="backtoppage"><a href="index.html" class="btn_base btn_sub">トップページへ戻る</a></p>
				</div>
		</section><!--/.main-->

		<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<?
			include("side.php");
			?>
		</aside><!--/aside-->

		</div><!--/.row-->
	</div><!-- /.container-->

	<?
	include("footer.php");
	?>

<script type='text/javascript'>var _tagc_cv_pid=337;</script>
<script id='t_sc' type='text/javascript' src='https://tag-c.jp/cnv.js?_buid=<? echo $_GET["m"]; ?>&_price=&key1='></script>

</body>
</html>
