<?
include("admin/inc.php");
?>

<?
include("head.php");
?>

<body>

    <?
    include("header.php");
    ?>

	<div class="container content">
		<div class="row">

			<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">

			    <h1>就業までのフロー</h1>
				<div class="breadcrumbs">
					<ul class="row">
						<li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
						<li>就業までのフロー</li>
					</ul>
				</div>

			    <div class="flow">
			    	<ul>
			    		<li>
			    			<dl>
			    				<dt><span>STEP</span>1</dt>
			    				<dd class="step01">
			    					<h3>WEBサイトからエントリー</h3>
			    					<p>フォームからスキルシートをご登録いただくか、応募したい案件へエントリーを行ってください。折り返し、弊社よりご連絡させていただきます。</p>
			    				</dd>
			    			</dl>
			    		</li>
			    		<li>
			    			<dl>
			    				<dt><span>STEP</span>2</dt>
			    				<dd class="step02">
			    					<h3>ご登録/面談</h3>
			    					<p>実際にお会いしてスキルなどをお伺いいたします。 お忙しい方は、出張してお伺いすることも可能です。（渋谷から６０分圏内の場所）</p>
			    				</dd>
			    			</dl>
			    		</li>
			    		<li>
			    			<dl>
			    				<dt><span>STEP</span>3</dt>
			    				<dd class="step03">
			    					<h3>就業先との面談</h3>
			    					<p>参加したいプロジェクトが決まりましたら、就業先との面談を行います。</p>
			    				</dd>
			    			</dl>
			    		</li>
			    		<li>
			    			<dl>
			    				<dt><span>STEP</span>4</dt>
			    				<dd class="step04">
			    					<h3>ご契約</h3>
			    					<p>就業先が決定いたしましたら、開始日の調整や諸条件の確認などを行います。</p>
			    				</dd>
			    			</dl>
			    		</li>
			    		<li>
			    			<dl>
			    				<dt><span>STEP</span>5</dt>
			    				<dd class="step05">
			    					<h3>就業開始</h3>
			    					<p>あなたのスキルを生かして、就業開始してください。</p>
			    				</dd>
			    			</dl>
			    		</li>
			    	</ul>
			    	
			    </div>

				<p class="bottom_banner">
					<a href="skill.html" class="skill_btn">
						スキルシートのご登録はこちらから
						<span>スキルシートのご登録後、<br>24時間以内にご返答します。</span>
					</a>
				</p>

			</section><!--/.main-->

			<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			  <?
			  include("side.php");
			  ?>
			</aside><!--/aside-->

		</div><!--/.row-->
	</div><!-- /.container-->

  	<?
  	include("footer.php");
  	?>

</body>
</html>
