<?
include("admin/inc.php");
?>

<?
include("head.php");
?>

<body>
	<?
	include("header.php");
	?>

	<section class="main-img">
		<div class="container">
			<h1 class="row">
				<span class ="aa">フリーランス<br>の女性<span class="main-txt-small">向けの案件情報</span></span>
				<span class ="b">最短30日<span class="main-txt-small">の支払いサイト</span></span>
				<span class ="c">登録出張制度<span class="main-txt-small">忙しい方向け登録面談</span></span>
				<span class ="d">24時間以内<span class="main-txt-small">にご連絡をいたします</span></span>
			</h1>
				<div class="main-img-campaign_banner">
					<p class="main-img-campaign_text"><img src="img/index/campaign_banner_txt.png" alt="テキスト"></p>
					<a href="campaign2017.html"><img src="img/index/campaign_banner_btn.png" alt="キャンペーン"></a>
				</div>
		</div>
	</section>


	<div class="container">
		<div class="row">
			<div class="main-img-btn">
				<ul class="row">
					<li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<a href="skill.html" class="skill_btn">
							<div class="skillbox">
								<span class="skill-txt">スキルシートのご登録はこちら</span>
							<span class ="skill-txt-small">
							スキルシートのご登録後、24時間以内にご返答します。
							</span>
							</div>
						</a>
					</li>
					<li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<a href="touroku.html" class="touroku_btn">
							<div class="tourokubox">
								<span class="skill-txt">
							登録面談の受付はこちら</span>
							<span class="skill-txt-small">
							お忙しい方のための出張登録制度もあります。
							</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<section class="top-main">
		<h2>フリーランスの女性<br>求人サイトSEESで検索する</h2>
		<div class="container">
			<form method="GET" action="list.html">
				<!--.freeword-->
				<div class="freeword">
					<ul>
						<li><input type="text" name="q" placeholder="職種、言語、勤務地など　例）システムエンジニア"></li>
						<li class="btn_wrap"><button type="submit" class="btn_base btn_default">求人検索</button></li>
					</ul>
				</div><!--.freeword-->
				<!--条件検索-->
				<section class="search-box">
					<h2>条件を指定して探す</h2>
					<ul class="row">
						<li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<h3 class="search_down"><span>言語</span>から探す</h3>
							<div class="search_list">
								<?
									$stmt = $db->prepare("select * from kyujin_gengo order by jun");
									$stmt->execute();
									$kn = $stmt->rowCount();
									$cnt=0;
									$cnt2=1;
									while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
											$cnt++;
											if($cnt==1){
											echo '<div class="search-row">'; }?>
											<p><input type="checkbox" name="gengo[]" value="<? echo $data[gengo_id]; ?>" id="gengo<? echo $data[gengo_id]; ?>" <?
											for($i=0;$i<sizeof($gengo2);$i++){
														if($gengo2[$i]==$data[gengo_id]){ echo " checked"; }
											}
											?>> <label for="gengo<? echo $data[gengo_id]; ?>" class="checkbox"><? echo $data[gengo]; ?></label></p>
											<?
											if($cnt%7==0){
													$end=0;
													echo '</div>';
													if($kn>$cnt){ echo '<div class="search-row">'; $end=1; }
											}
									}
									if($end==1){ echo "</div>"; }
								?>
							</div>
						</li>
						<li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<h3 class="search_down"><span>インフラスキル</span>から探す</h3>
							<div class="search_list">
								<?
									$stmt = $db->prepare("select * from kyujin_skill order by jun");
									$stmt->execute();
									$kn = $stmt->rowCount();
									$cnt=0;
									$cnt2=1;
									while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
											$cnt++;
											if($cnt==1){
											echo '<div class="search-row">';
											}
											?>
											<p><input type="checkbox" name="skill[]" value="<? echo $data[skill_id]; ?>" id="skill<? echo $data[skill_id]; ?>" <?
											for($i=0;$i<sizeof($skill2);$i++){
														if($skill2[$i]==$data[skill_id]){ echo " checked"; }
											}

											?>> <label for="skill<? echo $data[skill_id]; ?>" class="checkbox"><? echo $data[skill]; ?></label></p>
											<?
											if($cnt%7==0){
													$end=0;
													echo '</div>';
													if($kn>$cnt){ echo '<div class="search-row">'; $end=1; }
											}
									}

									if($end==1){ echo "</div>"; }
								?>
							</div>
						</li>
						<li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<h3 class="search_down"><span>勤務地</span>から探す</h3>
							<div class="search_list">
								<div class="row">
									<!--東京都-->
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<h4>東京都</h4>
										<?
											$stmt = $db->prepare("select * from kyujin_kinmuti where prefecture = '01' order by jun");
											$stmt->execute();
											$kn = $stmt->rowCount();
											$cnt=0;
											$end = 0;
											while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
													$cnt++;
													if($cnt==1){
													echo '<div class="search-row tokyo_pref">';
													}
													?>
													<p><input type="checkbox" name="kinmuti[]" value="<? echo $data[kinmuti_id]; ?>" id="kinmuti<? echo $data[kinmuti_id]; ?>" <?

													for($i=0;$i<sizeof($kinmuti2);$i++){
																if($kinmuti2[$i]==$data[kinmuti_id]){ echo " checked"; }
													}

													?>> <label for="kinmuti<? echo $data[kinmuti_id]; ?>" class="checkbox"><? echo $data[kinmuti]; ?></label></p>
													<?
													if($cnt%5==0){
															$end=0;
															echo '</div>';
															if($kn>$cnt){ echo '<div class="search-row tokyo_pref">'; $end=1; }
													}
											}

											if($end==1){ echo "</div>"; }
										?>
									</div>
								</div>
								<div class="row search-area">
									<!--神奈川県-->
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 search-pref">
										<h4>神奈川県</h4>
										<?
											$stmt2 = $db->prepare("select * from kyujin_kinmuti where prefecture = '02' order by jun");
											$stmt2->execute();
											$kn2 = $stmt2->rowCount();
											$cnt2=0;
											$end2 = 0;
											while($data = $stmt2->fetch(PDO::FETCH_ASSOC)){
													$cnt2++;
													if($cnt2==1){
													echo '<div class="search-row">';
													}
													?>
													<p><input type="checkbox" name="kinmuti[]" value="<? echo $data[kinmuti_id]; ?>" id="kinmuti<? echo $data[kinmuti_id]; ?>" <?

													for($i=0;$i<sizeof($kinmuti2);$i++){
																if($kinmuti2[$i]==$data[kinmuti_id]){ echo " checked"; }
													}

													?>> <label for="kinmuti<? echo $data[kinmuti_id]; ?>" class="checkbox"><? echo $data[kinmuti]; ?></label></p>
													<?
													if($cnt2%3==0){
															$end2=0;
															echo '</div>';
															if($kn2>$cnt2){ echo '<div class="search-row">'; $end2=1; }
													}
											}

											if($end2==1){ echo "</div>"; }
										?>
									</div>
									<!--千葉県-->
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 search-pref">
										<h4>千葉県</h4>
										<?
											$stmt3 = $db->prepare("select * from kyujin_kinmuti where prefecture = '03' order by jun");
											$stmt3->execute();
											$kn3 = $stmt3->rowCount();
											$cnt3=0;
											$end3 = 0;
											while($data = $stmt3->fetch(PDO::FETCH_ASSOC)){
													$cnt3++;
													if($cnt3==1){
													echo '<div class="search-row">';
													}
													?>
													<p><input type="checkbox" name="kinmuti[]" value="<? echo $data[kinmuti_id]; ?>" id="kinmuti<? echo $data[kinmuti_id]; ?>" <?

													for($i=0;$i<sizeof($kinmuti2);$i++){
																if($kinmuti2[$i]==$data[kinmuti_id]){ echo " checked"; }
													}

													?>> <label for="kinmuti<? echo $data[kinmuti_id]; ?>" class="checkbox"><? echo $data[kinmuti]; ?></label></p>
													<?
													if($cnt3%3==0){
															$end3=0;
															echo '</div>';
															if($kn3>$cnt3){ echo '<div class="search-row">'; $end3=1; }
													}
											}

											if($end3==1){ echo "</div>"; }
										?>

									</div>  
									<!--埼玉県-->
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 search-pref">
										<h4>埼玉県</h4>
										<?
											$stmt4= $db->prepare("select * from kyujin_kinmuti where prefecture = '04' order by jun");
											$stmt4->execute();
											$kn4 = $stmt4->rowCount();
											$cnt4=0;
											$end4 = 0;
											while($data = $stmt4->fetch(PDO::FETCH_ASSOC)){
													$cnt4++;
													if($cnt4==1){
													echo '<div class="search-row">';
													}
													?>
													<p><input type="checkbox" name="kinmuti[]" value="<? echo $data[kinmuti_id]; ?>" id="kinmuti<? echo $data[kinmuti_id]; ?>" <?

													for($i=0;$i<sizeof($kinmuti2);$i++){
																if($kinmuti2[$i]==$data[kinmuti_id]){ echo " checked"; }
													}

													?>>  <label for="kinmuti<? echo $data[kinmuti_id]; ?>" class="checkbox"><? echo $data[kinmuti]; ?></label></p>
													<?
													if($cnt4%2==0){
															$end4=0;
															echo '</div>';
															if($kn4>$cnt4){ echo '<div class="search-row">'; $end4=1; }
													}
											}
											if($end4==1){ echo "</div>"; }
										?>
									</div>    
									<!--その他-->
									<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 search-pref">
										<h4>その他</h4>
										<?
											$stmt5= $db->prepare("select * from kyujin_kinmuti where prefecture = '05' order by jun");
											$stmt5->execute();
											$kn5 = $stmt5->rowCount();
											$cnt5=0;
											$end5 = 0;
											while($data = $stmt5->fetch(PDO::FETCH_ASSOC)){
													$cnt5++;
													if($cnt5==1){
													echo '<div class="search-row">';
													}
													?>
													<p><input type="checkbox" name="area[]" value="<? echo $data[kinmuti_id]; ?>" id="kinmuti<? echo $data[kinmuti_id]; ?>"<?

													for($i=0;$i<sizeof($kinmuti2);$i++){
																if($kinmuti2[$i]==$data[kinmuti_id]){ echo " checked"; }
													}

													?>> <label for="kinmuti<? echo $data[kinmuti_id]; ?>" class="checkbox"><? echo $data[kinmuti]; ?></label></p>
													<?
													if($cnt5%1==0){
															$end5=0;
															echo '</div>';
															if($kn5>$cnt5){ echo '<div class="search-row">'; $end5=1; }
													}
											}

											if($end5==1){ echo "</div>"; }
											?>
									</div>
								</div>
							</div>
						</li>
						<li class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
							<h3 class="search_down"><span>ポジション</span>から探す</h3>
							<div class="search_list">
								<div class="search-row">
									<?
									$stmt = $db->prepare("select * from kyujin_potision order by jun");
									$stmt->execute();
									$kn = $stmt->rowCount();
											$cnt=0;
											while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
											?>
													<p><input type="checkbox" name="potision[]" value="<? echo $data[potision_id]; ?>" id="position<? echo $data[potision_id]; ?>" <?

													for($i=0;$i<sizeof($potision2);$i++){
															if($potision2[$i]==$data[potision_id]){ echo " checked"; }
													}

													?>> <label for="position<? echo $data[potision_id]; ?>" class="checkbox"><? echo $data[potision]; ?></label></p>
													<?
											}
									?>
								</div>
							</div>
						</li>
						<li class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
							<h3 class="search_down"><span>報酬</span>から探す</h3>
							<div class="search_list">
								<div class="search-row">
									<p>
										<input type="checkbox" name="housyu[]" value="400000" id="fee40">
										<label for="fee40" class="checkbox">〜400,000円</label>
									</p>
									<p>
										<input type="checkbox" name="housyu[]" value="500000" id="fee50">
										<label for="fee50" class="checkbox">400,000〜500,000円</label>
									</p>
									<p>
										<input type="checkbox" name="housyu[]" value="600000" id="fee60">
										<label for="fee60" class="checkbox">500,000〜600,000円</label>
									</p>
									<p>
										<input type="checkbox" name="housyu[]" value="700000" id="fee70">
										<label for="fee70" class="checkbox">600,000〜700,000円</label>
									</p>
									<p>
										<input type="checkbox" name="housyu[]" value="999999999" id="fee99">
										<label for="fee99" class="checkbox">700,000円〜</label>
									</p>
								</div>
							</div>
						</li>
						<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 kwaku">
							<div class="search_set">
								<p>
									<input type="button" value="リセット" class="btn_base btn_sub clearForm">
								</p>
								<p>
									<button type="submit" class="btn_base btn_default">検索</button>
								</p>
							</div>
						</li>
					</ul>
				</section><!--.search-box-->
			</form>
		</div><!--/.container-->
		<!--新着求人情報 -->
		<section class="projects">
			<h2>新着求人案件</h2>
			<div class="projects_wrapper">
				<div class="container">
					<div class="row">
					<?
					$kakaku[400000]="〜400,000円";
					$kakaku[500000]="400,000〜500,000円";
					$kakaku[600000]="500,000〜600,000円";
					$kakaku[700000]="600,000〜700,000円";
					$kakaku[999999999]="700,000円〜";
					$stmt = $db->prepare("select * from kyujin_data where flag=:flag order by kousinbi desc limit 0,12");
					$stmt->bindParam (':flag', $flag, PDO::PARAM_STR);
					$stmt->execute();

					while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
					?>
						<!--新着求人情報繰り返し枠 -->
						<article class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<a href="detail.html?id=<? echo $data[kyujin_id]; ?>" class="anken">
								<div>
									<p class="lineSub"></p>
									<p class="line"></p>
									<h3><? echo $data[anken]; ?></h3>
									<dl>
										<dt><span>勤務地</span></dt>
										<dd>
										<?
										if($data[kinmuti]!=""){
												$kinmuti2=explode('、',$data[kinmuti]);

												for($i=0;$i<sizeof($kinmuti2);$i++){
														$stmt3 = $db->prepare("select * from kyujin_kinmuti where kinmuti_id=:kinmuti_id");
														$stmt3->bindParam (':kinmuti_id', $kinmuti2[$i], PDO::PARAM_STR);
														$stmt3->execute();
														$data3 = $stmt3->fetch(PDO::FETCH_ASSOC );
														echo $data3[kinmuti];
														if(($i+1)<sizeof($kinmuti2)){ echo "、"; }
												}
										}
										?>
										</dd>
									</dl>
									<dl>
										<dt><span>単価</span></dt>
										<dd class="tanka"><? echo number_format($data[tanka])."円"; ?></dd>
									</dl>
									<dl>
										<dt><span>ポジション</span></dt>
										<dd>
										<?
										if($data[potision]!=""){

												$potision2=explode('、',$data[potision]);

												for($i=0;$i<sizeof($potision2);$i++){
														$stmt2 = $db->prepare("select * from kyujin_potision where potision_id=:potision_id");
														$stmt2->bindParam (':potision_id', $potision2[$i], PDO::PARAM_STR);
														$stmt2->execute();
														$data2 = $stmt2->fetch(PDO::FETCH_ASSOC );
														echo $data2[potision];
														if(($i+1)<sizeof($potision2)){ echo "、"; }
												}
										}
										?>
										</dd>
									</dl>
									<dl class="naiyou">
										<dt>[内容]</dt>
										<dd><? echo preg_replace("/\n/","<br>",$data[naiyou]); ?></dd>
									</dl>		
								</div>
							</a>
						</article>
						<!--新着求人情報繰り返し枠ここまで -->
						<?
						}
						?>
					</div><!--/.row-->
					<p class="more"><a href="list.html" class="btn_base btn_default">新着求人をもっと見る</a></p>
				</div><!--/.container-->
			</div><!--/.projects_wrapper-->
		</section><!--/.projects-->
	</section>

	<div class="container content">
		<div class="row">
			<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
				<div class="top_contents">
					<h2>SEESとは</h2>
					<div class="top_about">
						<h3>シニアエンジニア向け案件情報をご紹介します。</h3>
						<dl class="top_about01">
							<dt>掲載している案件はすべて年齢不問ですので、煩わしい年齢制限に関係なく、純粋にスキルや希望条件での案件をお探しいただけます</dt>
							<dd><img src="img/index/top-sees_system.png" alt="SEESとは"></dd>
						</dl>
						<h3>SEES３つの特長</h3>
						<ul class="row">
							<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<dl>
									<dt><img src="img/index/top-sees_thumb01.png" alt="お支払いサイトは最短30日！お待たせしません！"></dt>
									<dd>お支払いサイトは最短30日！<br>お待たせしません！</dd>
								</dl>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<dl>
									<dt><img src="img/index/top-sees_thumb02.png" alt="お忙しい方のための出張登録制度あり！"></dt>
									<dd>お忙しい方のための<br>出張登録制度あり！</dd>
								</dl>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<dl>
									<dt><img src="img/index/top-sees_thumb03.png" alt="スキルシートを送るだけ！24時間以内にご返答します！"></dt>
									<dd>スキルシートを送るだけ！<br>24時間以内にご返答します！</dd>
								</dl>
							</li>
						</ul>
						<p class="txt_link"><a href="about.html">詳細を見る</a></p>
					</div>
					
					<h2>就業までのフロー</h2>
					<div class="top_flow">
						<ul>
							<li>
								<dl>
									<dt><span>STEP1</span></dt>
									<dd class="flow_thumb"><img src="img/index/top-flow_thumb01.png" alt="WEBサイトからエントリー"></dd>
									<dd>WEBサイトから<br>エントリー</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt><span>STEP2</span></dt>
									<dd class="flow_thumb"><img src="img/index/top-flow_thumb02.png" alt="ご登録/面談"></dd>
									<dd>ご登録/面談</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt><span>STEP3</span></dt>
									<dd class="flow_thumb"><img src="img/index/top-flow_thumb03.png" alt="就業先との面談"></dd>
									<dd>就業先との面談</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt><span>STEP4</span></dt>
									<dd class="flow_thumb"><img src="img/index/top-flow_thumb04.png" alt="ご契約"></dd>
									<dd>ご契約</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt><span>STEP5</span></dt>
									<dd class="flow_thumb"><img src="img/index/top-flow_thumb05.png" alt="就業開始"></dd>
									<dd>就業開始</dd>
								</dl>
							</li>
						</ul>
						<p class="txt_link"><a href="flow.html">詳細を見る</a></p>
					</div>
				</div>
			</section><!--/.main-->
			<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<?
				include("side.php");
				?>
			</aside><!--/aside-->
		</div>
	</div>

	<div class="footer_btn">
		<ul class="row">
			<li class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><a href="touroku.html" class="touroku_btn">登録面談の受付はこちら</a></li>
			<li class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><a href="skill.html" class="skill_btn">スキルシートのご登録はこちら</a></li>
		</ul>
	</div>
	<?
	include("footer.php");
	?>
			
</body>
</html>