<?
include("admin/inc.php");
?>

<?
include("head.php");
?>

<body>
    <?
    include("header.php");
    ?>

  	<div class="container">
        <div class="row">

            <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">

                <!--.carousel-->
                <div class="carousel slide" id="carousel-toppage" data-ride="carousel" data-pause="false">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-toppage" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-toppage" data-slide-to="1"></li>
                        <li data-target="#carousel-toppage" data-slide-to="2"></li>
                        <li data-target="#carousel-toppage" data-slide-to="3"></li>
                    </ol>
                    <ul class="carousel-inner" role="listbox">
                        <li class="item active"><img src="img/index/main1_1.png" alt=""></li>
                        <li class="item"><img src="img/index/main2.png" alt=""></li>
                        <li class="item"><img src="img/index/main3.png" alt=""></li>
                        <li class="item"><img src="img/index/main4.png" alt=""></li>
                    </ul>
                    <a class="left carousel-control" href="#carousel-toppage" role="button" data-slide="prev">
                        <span class="carousel-control-left-btn" aria-hidden="true"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-toppage" role="button" data-slide="next">
                        <span class="carousel-control-right-btn" aria-hidden="true"></span>
                    </a>
                </div><!--/.carousel-->

                <h1>40歳以上のシニアエンジニア向け求人サイトSEESで検索する</h1>

                <form method="GET" action="list.html">

                    <!--.freeword-->
                    <div class="freeword">
                        <ul>
                            <li><h2>フリーワード</h2></li>
                            <li><input type="text" name="q" placeholder="例)渋谷　など"></li>
                            <li><input type="image" src="resource/img_common/kensaku.png" alt="検索"></li>
                        </ul>
                    </div><!--.freeword-->

                    <section class="search-box search-gengo">
                        <div class="h-2">
                            <h2><span>言語</span>から探す</h2>
                        </div>
                        <div class="row">
                            <?
                              $stmt = $db->prepare("select * from kyujin_gengo order by jun");
                              $stmt->execute();
                              $kn = $stmt->rowCount();
                              $cnt=0;
                              $cnt2=1;
                              while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
                                  $cnt++;
                                  if($cnt==1){
                                  echo '<div class="search-row">'; }?>
                                  <p><input type="checkbox" name="gengo[]" value="<? echo $data[gengo_id]; ?>"<?
                                  for($i=0;$i<sizeof($gengo2);$i++){
                                        if($gengo2[$i]==$data[gengo_id]){ echo " checked"; }
                                  }
                                  ?>> <a href="list.html?gengo[]=<? echo $data[gengo_id]; ?>"><? echo $data[gengo]; ?></a></p>
                                  <?
                                  if($cnt%3==0){
                                      $end=0;
                                      echo '</div>';
                                      if($kn>$cnt){ echo '<div class="search-row">'; $end=1; }
                                  }
                              }
                              if($end==1){ echo "</div>"; }
                            ?>
                        </div>
                    </section>

                    <section class="search-box search-skill">
                        <div class="h-2">
                            <h2><span>インフラスキル</span>から探す</h2>
                        </div>
                        <div class="row">
                            <?
                              $stmt = $db->prepare("select * from kyujin_skill order by jun");
                              $stmt->execute();
                              $kn = $stmt->rowCount();
                              $cnt=0;
                              $cnt2=1;
                              while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
                                  $cnt++;
                                  if($cnt==1){
                                  echo '<div class="search-row">';
                                  }
                                  ?>
                                  <p><input type="checkbox" name="skill[]" value="<? echo $data[skill_id]; ?>"<?

                                  for($i=0;$i<sizeof($skill2);$i++){
                                        if($skill2[$i]==$data[skill_id]){ echo " checked"; }
                                  }

                                  ?>> <a href="list.html?skill[]=<? echo $data[skill_id]; ?>"><? echo $data[skill]; ?></a></p>
                                  <?
                                  if($cnt%3==0){
                                      $end=0;
                                      echo '</div>';
                                      if($kn>$cnt){ echo '<div class="search-row">'; $end=1; }
                                  }
                              }

                              if($end==1){ echo "</div>"; }
                              ?>
                        </div>
                    </section>

                    <div class="row">  
                        <section class="col-lg-4 col-md-4 col-sm-12 col-xs-12 search-box search-position">
                            <div class="h-2">
                                <h2><span>ポジション</span>から探す</h2>
                            </div>
                              <?
                              $stmt = $db->prepare("select * from kyujin_potision order by jun");
                              $stmt->execute();
                              $kn = $stmt->rowCount();
                                  $cnt=0;
                                  while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
                                  ?>
                                      <div class="search-row"><p><input type="checkbox" name="potision[]" value="<? echo $data[potision_id]; ?>"<?

                                      for($i=0;$i<sizeof($potision2);$i++){
                                          if($potision2[$i]==$data[potision_id]){ echo " checked"; }
                                      }

                                      ?>> <a href="list.html?potision[]=<? echo $data[potision_id]; ?>"><? echo $data[potision]; ?></a></p></div>
                                      <?
                                  }
                                ?>
                        </section>
                        <section class="col-lg-4 col-md-4 col-sm-12 col-xs-12 search-box search-area">
                            <div class="h-2">
                                <h2><span>勤務地</span>から探す</h2>
                            </div>
                            <ul class="row">
                              <li>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="港区"> <a href="list.html?area[]=<? echo urlencode("港区"); ?>">港区</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="新宿区"> <a href="list.html?area[]=<? echo urlencode("新宿区"); ?>">新宿区</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="千代田区"> <a href="list.html?area[]=<? echo urlencode("千代田区"); ?>">千代田区</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="渋谷区"> <a href="list.html?area[]=<? echo urlencode("渋谷区"); ?>">渋谷区</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="中央区"> <a href="list.html?area[]=<? echo urlencode("中央区"); ?>">中央区</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="品川区"> <a href="list.html?area[]=<? echo urlencode("品川区"); ?>">品川区</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="目黒区"> <a href="list.html?area[]=<? echo urlencode("目黒区"); ?>">目黒区</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="豊島区"> <a href="list.html?area[]=<? echo urlencode("豊島区"); ?>">豊島区</a></p></div>
                              </li>
                              <li>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="江東区"> <a href="list.html?area[]=<? echo urlencode("江東区"); ?>">江東区</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="文京区"> <a href="list.html?area[]=<? echo urlencode("文京区"); ?>">文京区</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="大田区"> <a href="list.html?area[]=<? echo urlencode("大田区"); ?>">大田区</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="西東京"> <a href="list.html?area[]=<? echo urlencode("西東京"); ?>">西東京</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="神奈川県"> <a href="list.html?area[]=<? echo urlencode("神奈川県"); ?>">神奈川県</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="千葉県"> <a href="list.html?area[]=<? echo urlencode("千葉県"); ?>">千葉県</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="埼玉県"> <a href="list.html?area[]=<? echo urlencode("埼玉県"); ?>">埼玉県</a></p></div>
                                <div class="search-row"><p><input type="checkbox" name="area[]" value="その他"> <a href="list.html?area[]=<? echo urlencode("その他"); ?>">その他</a></p></div>
                              </li>
                            </ul>
                        </section>
                        <section class="col-lg-4 col-md-4 col-sm-12 col-xs-12 search-box search-housyu">
                            <div class="h-2">
                                <h2><span>報酬</span>から探す</h2>
                            </div>
                            <div class="search-row"><p><input type="checkbox" name="housyu[]" value="400000"> <a href="list.html?housyu[]=400000">〜400,000円</a></p></div>
                            <div class="search-row"><p><input type="checkbox" name="housyu[]" value="500000"> <a href="list.html?housyu[]=500000">400,000〜500,000円</a></p></div>
                            <div class="search-row"><p><input type="checkbox" name="housyu[]" value="600000"> <a href="list.html?housyu[]=600000">500,000〜600,000円</a></p></div>
                            <div class="search-row"><p><input type="checkbox" name="housyu[]" value="700000"> <a href="list.html?housyu[]=700000">600,000〜700,000円</a></p></div>
                            <div class="search-row"><p><input type="checkbox" name="housyu[]" value="999999999"> <a href="list.html?housyu[]=999999999">700,000円〜</a></p></div>
                        </section>
                    </div>

                    <div class="kwaku">
                        <input type="image" onclick="this.form.reset(); return false;" src="resource/img_common/reset.png">
                        <input type="image" src="resource/img_common/kensaku.png">
                    </div>

                </form>

                <!--新着求人情報 -->
                <section class="projects">
                    <h2>新着求人案件<span>随時更新中</span></h2>
                    <?
                    $kakaku[400000]="〜400,000円";
                    $kakaku[500000]="400,000〜500,000円";
                    $kakaku[600000]="500,000〜600,000円";
                    $kakaku[700000]="600,000〜700,000円";
                    $kakaku[999999999]="700,000円〜";
                    $stmt = $db->prepare("select * from kyujin_data where flag=:flag order by kousinbi desc limit 0,3");
                    $stmt->bindParam (':flag', $flag, PDO::PARAM_STR);
                    $stmt->execute();

                    while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
                    ?>
                    <!--新着求人情報繰り返し枠 -->
                    <article>
                        <div class="anken-tit">
                            <ul>
                                <li>
                                    <h3>
                                        <a href="detail.html?id=<? echo $data[kyujin_id]; ?>"><? echo $data[anken]; ?></a><img src="img/list/new.png" class="newday" alt="">
                                    </h3>
                                </li>
                                <li class="detail">
                                    <a href="detail.html?id=<? echo $data[kyujin_id]; ?>">詳細</a>
                                </li>
                            </ul>
                        </div>

                        <ul class="row anken01">
                            <li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <dl>
                                    <dt><span>勤務地</span></dt>
                                    <dd><? echo $data[kinmuti]; ?></dd>
                                </dl>
                            </li>
                            <li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <dl>
                                    <dt><span>単価</span></dt>
                                    <dd class="tanka"><? echo number_format($data[tanka])."円"; ?></dd>
                                </dl>
                            </li>
                        </ul>

                        <!--
                        <div class="clearfix m-t1">
                            <div class="floatLeft w90"><img src="resource/img_common/p3.png" alt="スキル"></div>
                            <div class="floatLeft lh w555">
                            <?
                            if($data[skill]!=""){

                                $skill2=explode('、',$data[skill]);

                                for($i=0;$i<sizeof($skill2);$i++){
                                    $stmt2 = $db->prepare ("select * from kyujin_skill where skill_id=:skill_id");
                                    $stmt2->bindParam (':skill_id', $skill2[$i], PDO::PARAM_STR);
                                    $stmt2->execute();
                                    $data2 = $stmt2->fetch(PDO::FETCH_ASSOC );
                                    echo $data2[skill];
                                    if(($i+1)<sizeof($skill2)){ echo "、"; }
                                }
                            }
                            ?>
                            </div>
                        </div>
                        -->

                        <dl>
                            <dt><span>ポジション</span></dt>
                            <dd>
                            <?
                            if($data[potision]!=""){

                                $potision2=explode('、',$data[potision]);

                                for($i=0;$i<sizeof($potision2);$i++){
                                    $stmt2 = $db->prepare("select * from kyujin_potision where potision_id=:potision_id");
                                    $stmt2->bindParam (':potision_id', $potision2[$i], PDO::PARAM_STR);
                                    $stmt2->execute();
                                    $data2 = $stmt2->fetch(PDO::FETCH_ASSOC );
                                    echo $data2[potision];
                                    if(($i+1)<sizeof($potision2)){ echo "、"; }
                                }
                            }
                            ?>
                            </dd>
                        </dl>
                        <dl>
                            <dt><span>内容</span></dt>
                            <dd><? echo preg_replace("/\n/","<br>",$data[naiyou]); ?></dd>
                        </dl>
                        <dl>
                            <dt><span>スキル</span></dt>
                            <dd><? echo preg_replace("/\n/","<br>",$data[keiken]); ?></dd>
                        </dl>
                        <div class="detail-bottom">
                            <a href="detail.html?id=<? echo $data[kyujin_id]; ?>">詳細</a>
                        </div>
                    </article>
                    <!--新着求人情報繰り返し枠ここまで -->
                    <?
                    }
                    ?>
                    
                    <div class="more">
                        <a href="list.html">新着求人をもっと見る</a>
                    </div>
                </section><!--/.projects-->
            </section><!--/.main-->

            <aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <?
              include("side.php");
              ?>
            </aside><!--/aside-->
            
        </div><!--/.row-->
  	</div><!--/.container-->

  	<?
  	include("footer.php");
  	?>
			
</body>
</html>