<?
include("admin/inc.php");
?>

<?
include("head.php");
?>

<body>

	<?
	include("header.php");
	?>

	<div class="container content">
		<div class="row">

			<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
				<h1>お問い合わせ</h1>
				<div class="breadcrumbs">
				  <ul class="row">
					<li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
					<li>お問い合わせ</li>
				  </ul>
				</div>
				<article>
					<h2>お問い合わせフォーム</h2>
					<form method="POST" action="kakunin.html" name="form">

						<div class="formstyle">
							<table>
								<tr>
									<th>お名前 <span class="red">(必須)</span></th>
									<td>
									<input name="name" type="text" id="textfield" size="30" value="<? echo $_POST[name]; ?>">
									</td>
								</tr>
								<tr>
									<th>メールアドレス <span class="red">(必須)</span></th>
									<td><input name="mail" type="text" id="textfield2" size="50" style="ime-mode:disabled;" value="<? echo $_POST[mail]; ?>"></td>
								</tr>
								<tr>
									<th>お電話番号</th>
									<td><input name="tel" type="text" id="textfield3" size="30" style="ime-mode:disabled;" value="<? echo $_POST[tel]; ?>"></td>
								</tr>
								<tr>
									<th>お問い合わせ内容 <span class="red">(必須)</span></th>
									<td><textarea name="naiyou" cols="50" rows="10" id="textfield4"><? echo $_POST[naiyou]; ?></textarea></td>
								</tr>
							</table>
							<p class="cap">
							ご登録にあたって、個人情報の取扱いについては<a href="privacypolicy.html" target="new">プライバシーポリシー</a>をご同意いただだいた上でお問い合わせ下さい。
							</p>
						</div>

						<div class="kwaku">
							<div class="search_set">
								<p><input type="button" value="リセット" class="btn_base btn_sub clearForm"></p>
								<p><input type="submit" value="確認" class="btn_base btn_entry"></p>
							</div>
						</div>

					</form>
				</article>
			</section><!--/.main-->

			<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<?
				include("side.php");
				?>
			</aside><!--/aside-->

		</div><!--/.row-->
	</div><!-- /.container-->

	<?
	include("footer.php");
	?>

</body>
</html>
