<?
include("admin/inc.php");

//メール送信
if($_POST[sousin_x]!=""){

	//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
	//お客様へメール
	//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※

	$sendoto=$_POST[mail];

	$subject="お問い合わせありがとうございました";
	$subject=mb_convert_encoding($subject,"JIS","UTF-8");
	$subject=base64_encode($subject);
	$subject="=?iso-2022-jp?B?".$subject."?=";

	//* 内容
	$body="==================================================================\n";
	$body.="このメールは、自動的に送信されています。\n";
	$body.="==================================================================\n\n";
	$body.=$_POST[name]."様\n\n";
	$body.="この度はお問い合わせありがとうございます。\n";
	$body.="折り返し担当者よりご連絡させて頂きます。\n\n";
	$body.="なお、お問い合わせ順に返信致しておりますが\n";
	$body.="多くのお問い合わせを頂いている場合は\n";
	$body.="返信が遅れる場合があります。\n";
	$body.="予めご了承下さい。\n\n";
	$body.="==================================================================\n";
	$body.="株式会社Miraie\n";
	$body.="〒150－0002 東京都渋谷区渋谷1－12－2 クロスオフィス渋谷6F\n";
	$body.="TEL：03-5774-6300　FAX：03-5774-6301\n";
	$body.="==================================================================\n";
	$body=mb_convert_encoding($body,"JIS","UTF-8");

	$headers="From:".$send."\n";
	$headers.="MIME-Version: 1.0\n";
	$headers.="Content-type: text/plain; charset=\"iso-2022-jp\"\n";
	$headers.="Content-Transfer-Encoding: 7bit\n";
	$headers=mb_convert_encoding($headers,"JIS","UTF-8");
	mail($sendoto,$subject,$body,$headers);

	//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
	//Miraieへメール
	//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※

	$sendoto=$send;
	$subject="WEBサイトからのお問い合わせ";
	$subject=mb_convert_encoding($subject,"JIS","UTF-8");
	$subject=base64_encode($subject);
	$subject="=?iso-2022-jp?B?".$subject."?=";

	//* 内容
	$body="以下の内容でお問い合わせがございました。\n\n";
	$body.="※※※※※※※※※※※※※※※※※※※※※※※※※\n\n";
	$body.="名前：".$_POST[name]."\n";
	$body.="メール：".$_POST[mail]."\n";
	$body.="電話番号：".$_POST[tel]."\n";
	$body.="お問い合わせ内容：\n";
	$body.=ereg_replace("\r\n","\n",$_POST[naiyou])."\n";
	$body.="※※※※※※※※※※※※※※※※※※※※※※※※※\n\n";

	$body=mb_convert_encoding($body,"JIS","UTF-8");

	/* ヘッダ */
	$headers="From: ".$_POST[mail]."\n";
	$headers.="MIME-Version: 1.0\n";
	$headers.="Content-type: text/plain; charset=\"iso-2022-jp\"\n";
	$headers.="Content-Transfer-Encoding: 7bit\n";
	$headers=mb_convert_encoding($headers,"JIS","UTF-8");
	mail($sendoto,$subject,$body,$headers);

	header("Location: thanks.html");

}
?>

<?
include("head.php");
?>

<body>

    <?
    include("header.php");
    ?>

	<div class="container content">
		<div class="row">

			<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
				<h1>お問い合わせ</h1>
	            <div class="breadcrumbs">
	              <ul class="row">
	                <li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
	                <li>お問い合わせ</li>
	              </ul>
	            </div>
	            <article>
	            	<h2>入力内容をご確認ください。</h2>
					<form method="POST" action="kakunin.html" name="form">

					<div class="formstyle">
						<table>
							<tr>
								<th>お名前</th>
								<td>
									<?
									if($_POST[name]==""){ $er=1; echo "<span class='red'>入力されていません</span>"; }
									echo $_POST[name];
									?>
									<input type="hidden" name="name" value="<? echo $_POST[name]; ?>">
								</td>
							</tr>
							<tr>
								<th>メールアドレス</th>
								<td>
									<?
									if($_POST[mail]==""){ $er=1; echo "<span class='red'>入力されていません</span>"; }
									elseif (!preg_match("/^([a-zA-Z0-9])+([a-zA-Z0-9\._-])*@([a-zA-Z0-9_-])+([a-zA-Z0-9\._-]+)+$/",$_POST[mail])){ $er=1; echo "<span class='red'>正しいメールアドレスをご入力ください</span>"; }
									echo $_POST[mail];
									?>
									<input type="hidden" name="mail" value="<? echo $_POST[mail]; ?>">
								</td>
							</tr>
							<tr>
								<th>お電話番号</th>
								<td>
									<? echo $_POST[tel]; ?>
									<input type="hidden" name="tel" value="<? echo $_POST[tel]; ?>">
								</td>
							</tr>
							<tr>
								<th>お問い合わせ内容</th>
								<td>
									<?
									if($_POST[naiyou]==""){ $er=1; echo "<span class='red'>入力されていません</span>"; }
									echo preg_replace("/\n/","<br>",$_POST[naiyou]);
									?>
									<input type="hidden" name="naiyou" value="<? echo $_POST[naiyou]; ?>">
								</td>
							</tr>
						</table>
					</div>

					<div class="kwaku">
						<div class="search_set">
							<p><input type="image" src="" class="btn_base btn_back" onclick="javascript:document.form.action='inquiry.html';"></p>
							<p>
								<?
								if($er==""){
								?>
								<input type="image" name="sousin" src="" class="btn_base btn_send">
								<?
								}
								?>
							</p>
						</div>
					</div>

					</form>
	            </article>
			</section><!--/.main-->

			<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<?
				include("side.php");
				?>
			</aside><!--/aside-->

		</div><!--/.row-->
	</div><!-- /.container-->

    <?
    include("footer.php");
    ?>

</body>
</html>
