<?
include("admin/inc.php");


$parameter = null;


//データ読み込み
$SQL="select * from kyujin_data where kyujin_id!='' ";

//各種絞り込み条件
if($_GET[q]!=""){
	$SQL.=" and (gengoindex like :komijyouken or skillindex like :komijyouken or potisionindex like :komijyouken or naiyou like :komijyouken or bikou like :komijyouken or anken like :komijyouken)";
//	$SQL.=" and (kinmuti like :komijyouken or naiyou like :komijyouken or bikou like :komijyouken or anken like :komijyouken)";
	$parameter[":komijyouken"] = "%".$_GET[q]."%";
}

if($_GET[toku1]!=""){
	$SQL.=" and toku1!=''";
}

if($_GET[toku2]!=""){
	$SQL.=" and toku2!=''";
}

if($_GET[gengo][0]!=""){

	$SQL.=" and (";

	for($i=0;$i<sizeof($_GET[gengo]);$i++){
		$stmt = $db->prepare ("select * from kyujin_gengo where gengo_id=:gengo_id");
		$stmt->bindParam (':gengo_id', $_GET[gengo][$i], PDO::PARAM_STR);
		$stmt->execute();
		$data2 = $stmt->fetch(PDO::FETCH_ASSOC );
		$SQL.="gengoindex like :gengo$i";
		$parameter[":gengo$i"] = "%".$data2[gengo]."%";
		if($_GET[gengo][$i+1]!=""){ $SQL.=" or "; }
	}

	$SQL.=")";

}

if($_GET[skill][0]!=""){

	$SQL.=" and (";

	for($i=0;$i<sizeof($_GET[skill]);$i++){
		$stmt = $db->prepare ("select * from kyujin_skill where skill_id=:skill_id");
		$stmt->bindParam (':skill_id', $_GET[skill][$i], PDO::PARAM_STR);
		$stmt->execute();
		$data2 = $stmt->fetch(PDO::FETCH_ASSOC );
		$SQL.="skillindex like :skill$i";
		$parameter[":skill$i"] = "%".$data2[skill]."%";
		if($_GET[skill][$i+1]!=""){ $SQL.=" or "; }
	}

	$SQL.=")";

}

if($_GET[potision][0]!=""){

	$SQL.=" and (";

	for($i=0;$i<sizeof($_GET[potision]);$i++){
		$stmt = $db->prepare ("select * from kyujin_potision where potision_id=:potision_id");
		$stmt->bindParam (':potision_id', $_GET[potision][$i], PDO::PARAM_STR);
		$stmt->execute();
		$data2 = $stmt->fetch(PDO::FETCH_ASSOC );
		$SQL.="potisionindex like :potision$i";
		$parameter[":potision$i"] = "%".$data2[potision]."%";
		if($_GET[potision][$i+1]!=""){ $SQL.=" or "; }
	}

	$SQL.=")";

}

if($_GET[kinmuti][0]!=""){

	$SQL.=" and (";

	for($i=0;$i<sizeof($_GET[kinmuti]);$i++){
		$stmt = $db->prepare ("select * from kyujin_kinmuti where kinmuti_id=:kinmuti_id");
		$stmt->bindParam (':kinmuti_id', $_GET[kinmuti][$i], PDO::PARAM_STR);
		$stmt->execute();
		$data2 = $stmt->fetch(PDO::FETCH_ASSOC );
		$SQL.="kinmutiindex like :kinmuti$i";
		$parameter[":kinmuti$i"] = "%".$data2[kinmuti]."%";

		if($_GET[kinmuti][$i+1]!=""){ $SQL.=" or "; }
	}

	$SQL.=")";

/*
	$SQL.=" and (";

	for($i=0;$i<sizeof($_GET[area]);$i++){
		$SQL.="kinmuti = :kinmuti$i";
		$parameter[":kinmuti$i"] = $_GET[area][$i];
		if($_GET[area][$i+1]!=""){ $SQL.=" or "; }
	}

	$SQL.=")";
*/
}

if($_GET[housyu][0]!=""){

	$SQL.=" and (";

	for($i=0;$i<sizeof($_GET[housyu]);$i++){

		if($_GET[housyu][$i]=="400000"){ $sita=0; $ue=400000; }
		if($_GET[housyu][$i]=="500000"){ $sita=400000; $ue=500000; }
		if($_GET[housyu][$i]=="600000"){ $sita=500000; $ue=600000; }
		if($_GET[housyu][$i]=="700000"){ $sita=600000; $ue=700000; }
		if($_GET[housyu][$i]=="999999999"){ $sita=700000; $ue=999999999; }

		$SQL.="(tanka>='".$sita."' and tanka<='".$ue."')";
		if($_GET[housyu][$i+1]!=""){ $SQL.=" or "; }
	}

	$SQL.=")";

}

$SQL.=" order by kousinbi desc";

$stmt = $db->prepare ($SQL);
$stmt->execute($parameter);
$ken = $stmt->rowCount();

//ページ設定
$page=$_GET['page'];
$page_cnt=(int)($ken/$pagekensu);
$ken_su=($ken/$pagekensu);
if(!is_int($ken_su)){ $page_cnt=$page_cnt+1; }
if($page==""){ $page=0; }
$hyouji=($page*$pagekensu);
if($ken<10){ $kazu=$ken; }else{ $kazu=($page*10)+10; }
?>

<?
include("head.php");
?>

<body>

	<?
	include("header.php");
	?>

	<div class="container content">
		<div class="row">
			<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
				<h1>新着求人案件</h1>
				<div class="breadcrumbs">
					<ul class="row">
						<li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
						<li>新着求人案件一覧</li>
					</ul>
				</div>

				<section class="projects list">
					<?
					if($ken!=0){
					?>
					<div class="kensu">
						合計 <span class="gokei"><? echo $ken; ?></span> 件中　<? echo ($hyouji+1); ?>-<? if($ken<$kazu){ echo $ken; }else{ echo $kazu; } ?>件を表示
					</div>

					<?
					$kakaku[400000]="〜400,000円";
					$kakaku[500000]="400,000〜500,000円";
					$kakaku[600000]="500,000〜600,000円";
					$kakaku[700000]="600,000〜700,000円";
					$kakaku[999999999]="700,000円〜";

					//一覧表示
					$SQL.=" limit $hyouji,".$pagekensu;
					$stmt = $db->prepare ($SQL);
					$stmt->execute($parameter);
					$ken = $stmt->rowCount();
					$cnt=0;
					while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
					?>
					<!--新着求人情報繰り返し枠 -->
					<article>
						<a href="detail.html?id=<? echo $data[kyujin_id]; ?>" class="anken">
							<div>
								<p class="lineSub"></p>
								<p class="line"></p>
								<h3><? echo $data[anken]; ?></h3>
								<dl>
									<dt><span>勤務地</span></dt>
									<dd>
									<?
									if($data[kinmuti]!=""){

										$kinmuti2=explode('、',$data[kinmuti]);
										for($i=0;$i<sizeof($kinmuti2);$i++){
											$stmt2 = $db->prepare("select * from kyujin_kinmuti where kinmuti_id=:kinmuti_id");
											$stmt2->bindParam(':kinmuti_id', $kinmuti2[$i], PDO::PARAM_STR);
											$stmt2->execute();
											$data2 = $stmt2->fetch(PDO::FETCH_ASSOC);
											echo $data2[kinmuti];
											if(($i+1)<sizeof($kinmuti2)){ echo "、"; }
										}
									}
									?>
									</dd>
								</dl>
								<dl>
									<dt><span>単価</span></dt>
									<dd class="tanka"><? echo number_format($data[tanka])."円"; ?></dd>
								</dl>
								<dl>
									<dt><span>ポジション</span></dt>
									<dd>
									<?
									if($data[potision]!=""){

										$potision2=explode('、',$data[potision]);

										for($i=0;$i<sizeof($potision2);$i++){
											$stmt2 = $db->prepare("select * from kyujin_potision where potision_id=:potision_id");
											$stmt2->bindParam(':potision_id', $potision2[$i], PDO::PARAM_STR);
											$stmt2->execute();
											$data2 = $stmt2->fetch(PDO::FETCH_ASSOC);
											echo $data2[potision];
											if(($i+1)<sizeof($potision2)){ echo "、"; }
										}
									}
									?>
									</dd>
								</dl>
								<dl>
									<dt><span>内容</span></dt>
									<dd><? echo preg_replace("/\n/","<br>",$data[naiyou]); ?></dd>
								</dl>
								<dl>
									<dt><span>スキル</span></dt>
									<dd><? echo preg_replace("/\n/","<br>",$data[keiken]); ?></dd>
								</dl>
							</div>
						</a>
					</article>
					<!--新着求人情報繰り返し枠ここまで -->
					<?
					}

					}else{
					?>
					該当する案件がございませんでした
					<?
					}
					?>
				</section><!--/.projects-->

				<!--ページ切り替えリンク-->
				<ul class="row pagenation">
					<?
					$query_string = preg_replace('~(?:&?page=\d+)~', '', $_SERVER['QUERY_STRING']);
					if($kazu!=0){
					if($page<$pagekensu){ if($pagekensu<$page_cnt){ $max=$pagekensu; }else{ $max=$page_cnt; } $min=1; }
					?>
					<li class="col-lg-6 col-md-6 col-sm-6 col-xs-6 prev">
					<? if($page!=0){ ?>
					<a href="list.html?page=<? echo ($page-1); if($query_string!=""){ echo "&".$query_string; } ?>">前の10件へ</a>
					<?
					}
					?>
					</li><li class="col-lg-6 col-md-6 col-sm-6 col-xs-6 next">
					<? if($page_cnt!=$page+1){ ?>
					<a href="list.html?page=<? echo ($page+1); if($query_string!=""){ echo "&".$query_string; } ?>">次の10件へ</a>
					<?
					}
					?>
					</li>
					<?
					}
					?>
				</ul>
				<!--ページ切り替えリンクここまで-->
			</section><!--/.main-->
			<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			  <?
			  include("side.php");
			  ?>
			</aside><!--/aside-->
		</div><!--/.row-->
	</div><!-- /.container-->

	<!--条件指定検索-->
	<div class="container">
		<!--条件検索-->
		<section class="search-box">
			<h2>条件を指定して探す</h2>
			<form method="GET" action="list.html">
				<!--.freeword-->
				<div class="freeword">
						<ul>
							<li><input type="text" name="q" placeholder="職種、言語、勤務地など　例）システムエンジニア"></li>
							<li class="btn_wrap"><button type="submit" class="btn_base btn_default">求人検索</button></li>
						</ul>
				</div><!--.freeword-->
				<ul class="row">
					<li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<h3 class="search_down"><span>言語</span>から探す</h3>
						<div class="search_list">
							<?
								$stmt = $db->prepare("select * from kyujin_gengo order by jun");
								$stmt->execute();
								$kn = $stmt->rowCount();
								$cnt=0;
								$cnt2=1;
								while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
										$cnt++;
										if($cnt==1){
										echo '<div class="search-row">'; }?>
										<p><input type="checkbox" name="gengo[]" value="<? echo $data[gengo_id]; ?>" id="gengo<? echo $data[gengo_id]; ?>"> <label for="gengo<? echo $data[gengo_id]; ?>" class="checkbox"><? echo $data[gengo]; ?></label></p>
										<?
										if($cnt%7==0){
												$end=0;
												echo '</div>';
												if($kn>$cnt){ echo '<div class="search-row">'; $end=1; }
										}
								}
								if($end==1){ echo "</div>"; }
							?>
						</div>
					</li>
					<li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<h3 class="search_down"><span>インフラスキル</span>から探す</h3>
						<div class="search_list">
							<?
								$stmt = $db->prepare("select * from kyujin_skill order by jun");
								$stmt->execute();
								$kn = $stmt->rowCount();
								$cnt=0;
								$cnt2=1;
								while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
										$cnt++;
										if($cnt==1){
										echo '<div class="search-row">';
										}
										?>
										<p><input type="checkbox" name="skill[]" value="<? echo $data[skill_id]; ?>" id="skill<? echo $data[skill_id]; ?>"> <label for="skill<? echo $data[skill_id]; ?>" class="checkbox"><? echo $data[skill]; ?></label></p>
										<?
										if($cnt%7==0){
												$end=0;
												echo '</div>';
												if($kn>$cnt){ echo '<div class="search-row">'; $end=1; }
										}
								}

								if($end==1){ echo "</div>"; }
							?>
						</div>
					</li>
					<li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<h3 class="search_down"><span>勤務地</span>から探す</h3>
						<div class="search_list">
							<div class="row">
								<!--東京都-->
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<h4>東京都</h4>
									<?
										$stmt = $db->prepare("select * from kyujin_kinmuti where prefecture = '01' order by jun");
										$stmt->execute();
										$kn = $stmt->rowCount();
										$cnt=0;
										$end = 0;
										while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
												$cnt++;
												if($cnt==1){
												echo '<div class="search-row tokyo_pref">';
												}
												?>
												<p><input type="checkbox" name="kinmuti[]" value="<? echo $data[kinmuti_id]; ?>" id="kinmuti<? echo $data[kinmuti_id]; ?>"> <label for="kinmuti<? echo $data[kinmuti_id]; ?>" class="checkbox"><? echo $data[kinmuti]; ?></label></p>
												<?
												if($cnt%5==0){
														$end=0;
														echo '</div>';
														if($kn>$cnt){ echo '<div class="search-row tokyo_pref">'; $end=1; }
												}
										}

										if($end==1){ echo "</div>"; }
									?>
								</div>
							</div>
							<div class="row search-area">
								<!--神奈川県-->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 search-pref">
									<h4>神奈川県</h4>
									<?
										$stmt2 = $db->prepare("select * from kyujin_kinmuti where prefecture = '02' order by jun");
										$stmt2->execute();
										$kn2 = $stmt2->rowCount();
										$cnt2=0;
										$end2 = 0;
										while($data = $stmt2->fetch(PDO::FETCH_ASSOC)){
												$cnt2++;
												if($cnt2==1){
												echo '<div class="search-row">';
												}
												?>
												<p><input type="checkbox" name="kinmuti[]" value="<? echo $data[kinmuti_id]; ?>" id="kinmuti<? echo $data[kinmuti_id]; ?>"> <label for="kinmuti<? echo $data[kinmuti_id]; ?>" class="checkbox"><? echo $data[kinmuti]; ?></label></p>
												<?
												if($cnt2%3==0){
														$end2=0;
														echo '</div>';
														if($kn2>$cnt2){ echo '<div class="search-row">'; $end2=1; }
												}
										}

										if($end2==1){ echo "</div>"; }
									?>
								</div>
								<!--千葉県-->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 search-pref">
									<h4>千葉県</h4>
									<?
										$stmt3 = $db->prepare("select * from kyujin_kinmuti where prefecture = '03' order by jun");
										$stmt3->execute();
										$kn3 = $stmt3->rowCount();
										$cnt3=0;
										$end3 = 0;
										while($data = $stmt3->fetch(PDO::FETCH_ASSOC)){
												$cnt3++;
												if($cnt3==1){
												echo '<div class="search-row">';
												}
												?>
												<p><input type="checkbox" name="kinmuti[]" value="<? echo $data[kinmuti_id]; ?>" id="kinmuti<? echo $data[kinmuti_id]; ?>"> <label for="kinmuti<? echo $data[kinmuti_id]; ?>" class="checkbox"><? echo $data[kinmuti]; ?></label></p>
												<?
												if($cnt3%3==0){
														$end3=0;
														echo '</div>';
														if($kn3>$cnt3){ echo '<div class="search-row">'; $end3=1; }
												}
										}

										if($end3==1){ echo "</div>"; }
									?>

								</div>  
								<!--埼玉県-->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 search-pref">
									<h4>埼玉県</h4>
									<?
										$stmt4= $db->prepare("select * from kyujin_kinmuti where prefecture = '04' order by jun");
										$stmt4->execute();
										$kn4 = $stmt4->rowCount();
										$cnt4=0;
										$end4 = 0;
										while($data = $stmt4->fetch(PDO::FETCH_ASSOC)){
												$cnt4++;
												if($cnt4==1){
												echo '<div class="search-row">';
												}
												?>
												<p><input type="checkbox" name="kinmuti[]" value="<? echo $data[kinmuti_id]; ?>" id="kinmuti<? echo $data[kinmuti_id]; ?>">  <label for="kinmuti<? echo $data[kinmuti_id]; ?>" class="checkbox"><? echo $data[kinmuti]; ?></label></p>
												<?
												if($cnt4%2==0){
														$end4=0;
														echo '</div>';
														if($kn4>$cnt4){ echo '<div class="search-row">'; $end4=1; }
												}
										}
										if($end4==1){ echo "</div>"; }
									?>
								</div>    
								<!--その他-->
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 search-pref">
									<h4>その他</h4>
									<?
										$stmt5= $db->prepare("select * from kyujin_kinmuti where prefecture = '05' order by jun");
										$stmt5->execute();
										$kn5 = $stmt5->rowCount();
										$cnt5=0;
										$end5 = 0;
										while($data = $stmt5->fetch(PDO::FETCH_ASSOC)){
												$cnt5++;
												if($cnt5==1){
												echo '<div class="search-row">';
												}
												?>
												<p><input type="checkbox" name="area[]" value="<? echo $data[kinmuti_id]; ?>" id="kinmuti<? echo $data[kinmuti_id]; ?>"> <label for="kinmuti<? echo $data[kinmuti_id]; ?>" class="checkbox"><? echo $data[kinmuti]; ?></label></p>
												<?
												if($cnt5%1==0){
														$end5=0;
														echo '</div>';
														if($kn5>$cnt5){ echo '<div class="search-row">'; $end5=1; }
												}
										}

										if($end5==1){ echo "</div>"; }
										?>
								</div>
							</div>
						</div>
					</li>
					<li class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<h3 class="search_down"><span>ポジション</span>から探す</h3>
						<div class="search_list">
							<div class="search-row">
								<?
								$stmt = $db->prepare("select * from kyujin_potision order by jun");
								$stmt->execute();
								$kn = $stmt->rowCount();
										$cnt=0;
										while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
										?>
												<p><input type="checkbox" name="potision[]" value="<? echo $data[potision_id]; ?>" id="position<? echo $data[potision_id]; ?>"> <label for="position<? echo $data[potision_id]; ?>" class="checkbox"><? echo $data[potision]; ?></label></p>
												<?
										}
								?>
							</div>
						</div>
					</li>
					<li class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<h3 class="search_down"><span>報酬</span>から探す</h3>
						<div class="search_list">
							<div class="search-row">
								<p>
									<input type="checkbox" name="housyu[]" value="400000" id="fee40">
									<label for="fee40" class="checkbox">〜400,000円</label>
								</p>
								<p>
									<input type="checkbox" name="housyu[]" value="500000" id="fee50">
									<label for="fee50" class="checkbox">400,000〜500,000円</label>
								</p>
								<p>
									<input type="checkbox" name="housyu[]" value="600000" id="fee60">
									<label for="fee60" class="checkbox">500,000〜600,000円</label>
								</p>
								<p>
									<input type="checkbox" name="housyu[]" value="700000" id="fee70">
									<label for="fee70" class="checkbox">600,000〜700,000円</label>
								</p>
								<p>
									<input type="checkbox" name="housyu[]" value="999999999" id="fee99">
									<label for="fee99" class="checkbox">700,000円〜</label>
								</p>
							</div>
						</div>
					</li>
					<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 kwaku">
						<div class="search_set">
							<p>
								<input type="button" value="リセット" class="btn_base btn_sub clearForm">
							</p>
							<p>
								<button type="submit" class="btn_base btn_default">検索</button>
							</p>
						</div>
					</li>
				</ul>
			</form>
		</section><!--.search-box-->
	</div><!--/.container-->

	<?
	include("footer.php");
	?>

</body>
</html>
