<?
include("admin/inc.php");


$parameter = null;


//データ読み込み
$SQL="select * from kyujin_data where kyujin_id!='' ";

//各種絞り込み条件
if($_GET[q]!=""){
	$SQL.=" and (kinmuti like :komijyouken or naiyou like :komijyouken or bikou like :komijyouken or anken like :komijyouken)";
	$parameter[":komijyouken"] = "%".$_GET[q]."%";
}

if($_GET[toku1]!=""){
	$SQL.=" and toku1!=''";
}

if($_GET[toku2]!=""){
	$SQL.=" and toku2!=''";
}

if($_GET[gengo][0]!=""){

	$SQL.=" and (";

	for($i=0;$i<sizeof($_GET[gengo]);$i++){
		$stmt = $db->prepare ("select * from kyujin_gengo where gengo_id=:gengo_id");
		$stmt->bindParam (':gengo_id', $_GET[gengo][$i], PDO::PARAM_STR);
		$stmt->execute();
		$data2 = $stmt->fetch(PDO::FETCH_ASSOC );
		$SQL.="gengoindex like :gengo$i";
		$parameter[":gengo$i"] = "%".$data2[gengo]."%";
		if($_GET[gengo][$i+1]!=""){ $SQL.=" or "; }
	}

	$SQL.=")";

}

if($_GET[skill][0]!=""){

	$SQL.=" and (";

	for($i=0;$i<sizeof($_GET[skill]);$i++){
		$stmt = $db->prepare ("select * from kyujin_skill where skill_id=:skill_id");
		$stmt->bindParam (':skill_id', $_GET[skill][$i], PDO::PARAM_STR);
		$stmt->execute();
		$data2 = $stmt->fetch(PDO::FETCH_ASSOC );
		$SQL.="skillindex like :skill$i";
		$parameter[":skill$i"] = "%".$data2[skill]."%";
		if($_GET[skill][$i+1]!=""){ $SQL.=" or "; }
	}

	$SQL.=")";

}

if($_GET[potision][0]!=""){

	$SQL.=" and (";

	for($i=0;$i<sizeof($_GET[potision]);$i++){
		$stmt = $db->prepare ("select * from kyujin_potision where potision_id=:potision_id");
		$stmt->bindParam (':potision_id', $_GET[potision][$i], PDO::PARAM_STR);
		$stmt->execute();
		$data2 = $stmt->fetch(PDO::FETCH_ASSOC );
		$SQL.="potisionindex like :potision$i";
		$parameter[":potision$i"] = "%".$data2[potision]."%";
		if($_GET[potision][$i+1]!=""){ $SQL.=" or "; }
	}

	$SQL.=")";

}

if($_GET[area][0]!=""){

	$SQL.=" and (";

	for($i=0;$i<sizeof($_GET[area]);$i++){
		$SQL.="kinmuti = :kinmuti$i";
		$parameter[":kinmuti$i"] = $_GET[area][$i];
		if($_GET[area][$i+1]!=""){ $SQL.=" or "; }
	}

	$SQL.=")";

}

if($_GET[housyu][0]!=""){

	$SQL.=" and (";

	for($i=0;$i<sizeof($_GET[housyu]);$i++){

		if($_GET[housyu][$i]=="400000"){ $sita=0; $ue=400000; }
		if($_GET[housyu][$i]=="500000"){ $sita=400000; $ue=500000; }
		if($_GET[housyu][$i]=="600000"){ $sita=500000; $ue=600000; }
		if($_GET[housyu][$i]=="700000"){ $sita=600000; $ue=700000; }
		if($_GET[housyu][$i]=="999999999"){ $sita=700000; $ue=999999999; }

		$SQL.="(tanka>='".$sita."' and tanka<='".$ue."')";
		if($_GET[housyu][$i+1]!=""){ $SQL.=" or "; }
	}

	$SQL.=")";

}

$SQL.=" order by kousinbi desc";
$stmt = $db->prepare ($SQL);
$stmt->execute($parameter);
$ken = $stmt->rowCount();

//ページ設定
$page=$_GET['page'];
$page_cnt=(int)($ken/$pagekensu);
$ken_su=($ken/$pagekensu);
if(!is_int($ken_su)){ $page_cnt=$page_cnt+1; }
if($page==""){ $page=0; }
$hyouji=($page*$pagekensu);
if($ken<10){ $kazu=$ken; }else{ $kazu=($page*10)+10; }
?>

<?
include("head.php");
?>

<body>

    <?
    include("header.php");
    ?>

	<div class="container">
		<div class="row">

		    <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
		    	<h1>新着求人案件</h1>
				<div class="breadcrumbs">
					<ul class="row">
						<li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
						<li>新着求人案件一覧</li>
					</ul>
				</div>

				<section class="projects">
			        <?
					if($ken!=0){
					?>
			        <div class="kensu">
			        	合計 <span class="gokei"><? echo $ken; ?></span> 件中　<? echo ($hyouji+1); ?>-<? if($ken<$kazu){ echo $ken; }else{ echo $kazu; } ?>件を表示
			        </div>

			        <?
					$kakaku[400000]="〜400,000円";
					$kakaku[500000]="400,000〜500,000円";
					$kakaku[600000]="500,000〜600,000円";
					$kakaku[700000]="600,000〜700,000円";
					$kakaku[999999999]="700,000円〜";

					//一覧表示
					$SQL.=" limit $hyouji,".$pagekensu;
					$stmt = $db->prepare ($SQL);
					$stmt->execute($parameter);
					$ken = $stmt->rowCount();
					$cnt=0;
					while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
					?>
			        <!--新着求人情報繰り返し枠 -->
			        <article>
				        <div class="anken-tit">
				        	<ul>
				        		<li>
					        		<h3>
										<a href="detail.html?id=<? echo $data[kyujin_id]; ?>&<? echo $_SERVER['QUERY_STRING']; ?>"><? echo $data[anken]; ?></a><? if($newday<$data[kousinbi]){ ?><img src="img/list/new.png" class="newday" alt=""><? } ?>
									</h3>
				        		</li>
				        		<li class="detail">
				        			<a href="detail.html?id=<? echo $data[kyujin_id]; ?>&<? echo $_SERVER['QUERY_STRING']; ?>">詳細</a>
				        		</li>
				        	</ul>
				        </div>

				        <ul class="row anken01">
				        	<li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				        		<dl>
				        			<dt><span>勤務地</span></dt>
				        			<dd><? echo $data[kinmuti]; ?></dd>
				        		</dl>
				        	</li>
				        	<li class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				        		<dl>
				        			<dt><span>単価</span></dt>
				        			<dd class="tanka"><? echo number_format($data[tanka])."円"; ?></dd>
				        		</dl>
				        	</li>
				        </ul>

						<!--
				        <div class="clearfix m-t1">
				            <div class="floatLeft w90"><img src="resource/img_common/p3.png" alt="スキル"></div>
				            <div class="floatLeft lh w555">
							<?
				            if($data[skill]!=""){

								$skill2=explode('、',$data[skill]);

								for($i=0;$i<sizeof($skill2);$i++){
									$stmt2 = $db->prepare("select * from kyujin_skill where skill_id=:skill_id");
									$stmt2->bindParam (':skill_id', $skill2[$i], PDO::PARAM_STR);
									$stmt2->execute();
									$data2 = $stmt2->fetch(PDO::FETCH_ASSOC);
									echo $data2[skill];
									if(($i+1)<sizeof($skill2)){ echo "、"; }
								}
							}
							?>
				            </div>
				        </div>
				        -->

				        <dl>
				            <dt><span>ポジション</span></dt>
				            <dd>
							<?
				            if($data[potision]!=""){

								$potision2=explode('、',$data[potision]);

								for($i=0;$i<sizeof($potision2);$i++){
									$stmt2 = $db->prepare("select * from kyujin_potision where potision_id=:potision_id");
									$stmt2->bindParam(':potision_id', $potision2[$i], PDO::PARAM_STR);
									$stmt2->execute();
									$data2 = $stmt2->fetch(PDO::FETCH_ASSOC);
									echo $data2[potision];
									if(($i+1)<sizeof($potision2)){ echo "、"; }
								}
							}
							?>
				            </dd>
				        </dl>
				        <dl>
				            <dt><span>内容</span></dt>
				            <dd><? echo preg_replace("/\n/","<br>",$data[naiyou]); ?></dd>
				        </dl>
				        <dl>
				            <dt><span>スキル</span></dt>
				            <dd><? echo preg_replace("/\n/","<br>",$data[keiken]); ?></dd>
				        </dl>
                        <div class="detail-bottom">
                            <a href="detail.html?id=<? echo $data[kyujin_id]; ?>">詳細</a>
                        </div>
					</article>
			        <!--新着求人情報繰り返し枠ここまで -->
			        <?
					}

					}else{
					?>
			        該当する案件がございませんでした
			        <?
					}
					?>
				</section><!--/.projects-->

		        <!--ページ切り替えリンク-->
		        <ul class="row pagenation">
					<?
					$query_string = preg_replace('~(?:&?page=\d+)~', '', $_SERVER['QUERY_STRING']);
					if($kazu!=0){
					if($page<$pagekensu){ if($pagekensu<$page_cnt){ $max=$pagekensu; }else{ $max=$page_cnt; } $min=1; }
					?>
					<li class="col-lg-6 col-md-6 col-sm-6 col-xs-6 prev">
					<? if($page!=0){ ?>
					<a href="list.html?page=<? echo ($page-1); if($query_string!=""){ echo "&".$query_string; } ?>">前の10件へ</a>
					<?
					}
					?>
					</li><li class="col-lg-6 col-md-6 col-sm-6 col-xs-6 next">
					<? if($page_cnt!=$page+1){ ?>
					<a href="list.html?page=<? echo ($page+1); if($query_string!=""){ echo "&".$query_string; } ?>">次の10件へ</a>
					<?
					}
					?>
					</li>
					<?
					}
					?>
		        </ul>
		        <!--ページ切り替えリンクここまで-->
				
		        <!--条件指定検索-->
		        <h2 class="search_h">条件を指定して探す</h2>

		        <form method="GET" action="list.html">

			        <!--.freeword-->
			        <div class="freeword">
			        	<ul>
			        		<li><h2>フリーワード</h2></li>
			        		<li><input type="text" name="q" value="<? echo $_GET[q]; ?>" placeholder="例)渋谷　など"></li>
			        		<li><input type="image" src="resource/img_common/kensaku.png" alt="検索"></li>
			        	</ul>
			        </div><!--.freeword-->

			        <section class="search-box search-gengo">
			        	<div class="h-2">
			        		<h2><span>言語</span>から探す</h2>
			        	</div>
				        <div class="row">
				        	<?
							  $cnt=0;
							  $stmt = $db->prepare("select * from kyujin_gengo order by jun");
							  $stmt->execute();
							  $kn = $stmt->rowCount();
							  while($data = $stmt->fetch(PDO::FETCH_ASSOC)){

								  $cnt++;

								  if($cnt==1){
								  echo '<div class="search-row">';
								  }
								  ?>
								  <p><input type="checkbox" name="gengo[]" value="<? echo $data[gengo_id]; ?>"<?

								  for($i=0;$i<sizeof($_GET[gengo]);$i++){
										if($_GET[gengo][$i]==$data[gengo_id]){ echo " checked"; }
								  }

								  ?>> <a href="list.html?gengo[]=<? echo $data[gengo_id]; ?>"><? echo $data[gengo]; ?></a></p>
								  <?
								  if($cnt%3==0){
									  $end=0;
									  echo '</div>';
									  if($kn>$cnt){ echo '<div class="search-row">'; $end=1; }
								  }
							  }

							  if($end==1){ echo "</div>"; }
							  ?>
				        </div>
			        </section>

			        <section class="search-box search-skill">
			        	<div class="h-2">
			        		<h2><span>インフラスキル</span>から探す</h2>
			        	</div>
				        <div class="row">
				        <?
							  $cnt=0;
							  $stmt = $db->prepare("select * from kyujin_skill order by jun");
							  $stmt->execute();
							  $kn = $stmt->rowCount();
							  while($data = $stmt->fetch(PDO::FETCH_ASSOC)){

								  $cnt++;

								  if($cnt==1){
								  echo '<div class="search-row">';
								  }
								  ?>
								  <p><input type="checkbox" name="skill[]" value="<? echo $data[skill_id]; ?>"<?

								  for($i=0;$i<sizeof($_GET[skill]);$i++){
										if($_GET[skill][$i]==$data[skill_id]){ echo " checked"; }
								  }

								  ?>> <a href="list.html?skill[]=<? echo $data[skill_id]; ?>"><? echo $data[skill]; ?></a></p>
								  <?
								  if($cnt%3==0){
									  $end=0;
									  echo '</div>';
									  if($kn>$cnt){ echo '<div class="search-row">'; $end=1; }
								  }
							  }

							  if($end==1){ echo "</div>"; }
							  ?>

				        	<?
							/**
							  $sql="select * from kyujin_skill order by jun";
							  $rs=mysql_query($sql);
							  $kn=mysql_num_rows($rs);
							  $cnt=0;
							  while($data=mysql_fetch_array($rs)){

								  $cnt++;

								  if($cnt==1){
								  echo '<div class="search-row">';
								  }
								  ?>
								  <p><input type="checkbox" name="skill[]" value="<? echo $data[skill_id]; ?>"<?

								  for($i=0;$i<sizeof($_GET[skill]);$i++){
										if($_GET[skill][$i]==$data[skill_id]){ echo " checked"; }
								  }

								  ?>> <a href="list.html?skill[]=<? echo $data[skill_id]; ?>"><? echo $data[skill]; ?></a></p>
								  <?
								  if($cnt%7==0){
									  $end=0;
									  echo '</div>';
									  if($kn>$cnt){ echo '<div class="search-row">'; $end=1; }
								  }
							  }

							  if($end==1){ echo "</div>"; }
							  **/
							  ?>
				        </div>
			        </section>

			        <div class="row">
			        	<section class="col-lg-4 col-md-4 col-sm-12 col-xs-12 search-box search-position">
			        		<div class="h-2">
			        			<h2><span>ポジション</span>から探す</h2>
			        		</div>
				        	<?
							  $cnt=0;
							  $stmt = $db->prepare("select * from kyujin_potision order by jun");
							  $stmt->execute();
							  $kn = $stmt->rowCount();
							  while($data = $stmt->fetch(PDO::FETCH_ASSOC)){
								  ?>
								  <div class="search-row"><p><input type="checkbox" name="potision[]" value="<? echo $data[potision_id]; ?>"<?

								  for($i=0;$i<sizeof($_GET[potision]);$i++){
										if($_GET[potision][$i]==$data[potision_id]){ echo " checked"; }
								  }

								  ?>> <a href="list.html?potision[]=<? echo $data[potision_id]; ?>"><? echo $data[potision]; ?></a></p></div>
								  <?
							  }
							  ?>
			        	</section>
						<section class="col-lg-4 col-md-4 col-sm-12 col-xs-12 search-box search-area">
							<div class="h-2">
								<h2><span>勤務地</span>から探す</h2>
							</div>
				            <?
							for($i=0;$i<sizeof($_GET[area]);$i++){

								if($_GET[area][$i]=="港区"){ $a1=1; }
								if($_GET[area][$i]=="新宿区"){ $a2=1; }
								if($_GET[area][$i]=="千代田区"){ $a3=1; }
								if($_GET[area][$i]=="渋谷区"){ $a4=1; }
								if($_GET[area][$i]=="中央区"){ $a5=1; }
								if($_GET[area][$i]=="品川区"){ $a6=1; }
								if($_GET[area][$i]=="目黒区"){ $a7=1; }
								if($_GET[area][$i]=="豊島区"){ $a8=1; }
								if($_GET[area][$i]=="神奈川県"){ $a9=1; }
								if($_GET[area][$i]=="千葉県"){ $a10=1; }
								if($_GET[area][$i]=="埼玉県"){ $a11=1; }
								if($_GET[area][$i]=="その他"){ $a12=1; }

								if($_GET[area][$i]=="江東区"){ $a13=1; }
								if($_GET[area][$i]=="文京区"){ $a14=1; }
								if($_GET[area][$i]=="大田区"){ $a15=1; }
								if($_GET[area][$i]=="西東京"){ $a16=1; }

							}
							?>
							<ul class="row">
								<li>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="港区"<? if($a1!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("港区"); ?>">港区</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="新宿区"<? if($a2!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("新宿区"); ?>">新宿区</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="千代田区"<? if($a3!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("千代田区"); ?>">千代田区</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="渋谷区"<? if($a4!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("渋谷区"); ?>">渋谷区</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="中央区"<? if($a5!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("中央区"); ?>">中央区</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="品川区"<? if($a6!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("品川区"); ?>">品川区</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="目黒区"<? if($a7!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("目黒区"); ?>">目黒区</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="豊島区"<? if($a8!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("豊島区"); ?>">豊島区</a></p></div>
								</li>
								<li>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="江東区"<? if($a13!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("江東区"); ?>">江東区</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="文京区"<? if($a14!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("文京区"); ?>">文京区</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="大田区"<? if($a15!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("大田区"); ?>">大田区</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="西東京"<? if($a16!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("西東京"); ?>">西東京</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="神奈川県"<? if($a9!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("神奈川県"); ?>">神奈川県</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="千葉県"<? if($a10!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("千葉県"); ?>">千葉県</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="埼玉県"<? if($a11!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("埼玉県"); ?>">埼玉県</a></p></div>
				                    <div class="search-row"><p><input type="checkbox" name="area[]" value="その他"<? if($a12!=""){ echo " checked"; } ?>> <a href="list.html?area[]=<? echo urlencode("その他"); ?>">その他</a></p></div>
								</li>
							</ul>
						</section>
						<section class="col-lg-4 col-md-4 col-sm-12 col-xs-12 search-box search-housyu">
							<div class="h-2">
								<h2><span>報酬</span>から探す</h2>
							</div>
				            <?
							for($i=0;$i<sizeof($_GET[housyu]);$i++){

								if($_GET[housyu][$i]=="400000"){ $h1=1; }
								if($_GET[housyu][$i]=="500000"){ $h2=1; }
								if($_GET[housyu][$i]=="600000"){ $h3=1; }
								if($_GET[housyu][$i]=="700000"){ $h4=1; }
								if($_GET[housyu][$i]=="999999999"){ $h5=1; }

							}
							?>
			                <div class="search-row"><p><input type="checkbox" name="housyu[]" value="400000"<? if($h1!=""){ echo " checked"; } ?>> <a href="list.html?housyu[]=400000">〜400,000円</a></p></div>
			                <div class="search-row"><p><input type="checkbox" name="housyu[]" value="500000"<? if($h2!=""){ echo " checked"; } ?>> <a href="list.html?housyu[]=500000">400,000〜500,000円</a></p></div>
			                <div class="search-row"><p><input type="checkbox" name="housyu[]" value="600000"<? if($h3!=""){ echo " checked"; } ?>> <a href="list.html?housyu[]=600000">500,000〜600,000円</a></p></div>
			                <div class="search-row"><p><input type="checkbox" name="housyu[]" value="700000"<? if($h4!=""){ echo " checked"; } ?>> <a href="list.html?housyu[]=700000">600,000〜700,000円</a></p></div>
			                <div class="search-row"><p><input type="checkbox" name="housyu[]" value="999999999"<? if($h5!=""){ echo " checked"; } ?>> <a href="list.html?housyu[]=999999999">700,000円〜</a></p></div>
						</section>
			        </div>

			        <div class="kwaku">
			        	<input type="image" onclick="this.form.reset(); return false;" src="resource/img_common/reset.png">
			        	<input type="image" src="resource/img_common/kensaku.png">
			        </div>

		        </form>

		    </section><!--/.main-->

		    <aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		      <?
		      include("side.php");
		      ?>
		    </aside><!--/aside-->

		</div><!--/.row-->
	</div><!-- /.container-->

  	<?
  	include("footer.php");
  	?>

</body>
</html>
