<?
include("admin/inc.php");
?>

<?
include("head.php");
?>

<body>

    <?
    include("header.php");
    ?>

	<div class="container content">
		<div class="row">

			<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
				<h1>プライバシーポリシー</h1>
				<div class="breadcrumbs">
					<ul class="row">
						<li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
						<li>プライバシーポリシー</li>
					</ul>
				</div>

				<div class="privacypolicy">
					<p>株式会社Miraie（以下、「当社」）は、各種サービスのご提供にあたり、お客様の個人情報をお預かりしております。<br>当社は、法律を取り扱う国家資格者の事務所として個人情報を保護し、お客様に更なる信頼性と安心感をご提供できるように努めて参ります。<br>当社は、個人情報に関する法令を遵守し、個人情報の適切な取り扱いを実現致します。
					</p>

					<h3>個人情報の取得及び取得目的について</h2>
					<p>当社が取得した個人情報は、適切に管理し、その利用・提供は本人の同意を得た範囲に限定し、法令・条例・その他関係当局の要請に基づき開示する場合を除いて、第三者への開示・提供は行いません。<br>なお、当社の取得目的は以下の通りです。
					</p>
					<ul>
						<li>お客様からの連絡、交渉、契約の履行、お問い合わせへの対応等のため</li>
						<li>その他個人情報取得時に明示した利用目的。</li>
						<li>法令の定め又は行政当局の通達・指導などに基づく対応を行うこと。</li>
					</ul>

					<h3>個人情報の適正管理について</h2>
					<p>当社は、個人情報の正確性及び安全性を確保するために、セキュリティ対策をはじめとする安全対策を実施し、個人情報への不正アクセス、個人情報の紛失、破壊、改ざん、漏洩などを確実に防止します。また、市場のセキュリティ事故の実例、本人からのご要望などにより改善が必要とされたときには、速やかにこれを是正し、予防に努めます。<br>当社が定める保管期限を過ぎたものに関しましては、適切に廃棄・消去します。
					</p>

					<h3>苦情・相談の対応について</h2>
					<p>当社は、個人情報に関して苦情、相談の申し出を受けたときは、個人情報に関する本人の権利を尊重し、誠意をもって対応します。
					</p>

					<div class="adress">
						<h4>【お問い合わせ先】</h4>
						<P>
							株式会社Miraie<br>
							TEL：03-5774-6300（代表） FAX：03-5774-6301（代表）<br>
							最終改定日：2013年7月19日<br>
							制定日：2007年9月1日<br>
							株式会社Miraie　代表取締役  岡野　徹志
						</p>
					</div>
				</div><!--.privacypolicy-->

			</section><!--/.main-->

			<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			  <?
			  include("side.php");
			  ?>
			</aside><!--/aside-->

		</div><!--/.row-->
	</div><!-- /.container-->

    <?
    include("footer.php");
    ?>

</body>
</html>
