<?
include("admin/inc.php");
?>

<?
include("head.php");
?>

<body>
    <?
    include("header.php");
    ?>

	<div class="container content">
		<div class="row">

			<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
	            <div class="breadcrumbs">
	              <ul class="row">
	                <li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
	                <li>スキルシート登録</li>
	              </ul>
	            </div>
	            <h1>スキルシートのご登録、ありがとうございました。</h1>
				<div class="thanks-text-body">
					<p>この度はご登録ありがとうございます。<br>
					折り返し担当者よりご連絡させて頂きます。</p>
					<p class="m-b2">なお、お問い合わせ順に返信致しておりますが<br>
					多くのお問い合わせを頂いている場合は返信が遅れる場合があります。<br>
					予めご了承下さい。</p>
<p>また、弊社からお送りするメールが迷惑メール扱いになり、ご連絡が届かないケースがあります。<br>
                    お手数をおかけしますが、迷惑メールフィルター等をご確認いただきますようお願い申し上げます。</p>
					<p class="backtoppage"><a href="index.html" class="btn_base btn_sub">トップページへ戻る</a></p>
				</div>
			</section><!--/.main-->

            <aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <?
                include("side.php");
                ?>
            </aside><!--/aside-->

		</div><!--/.row-->
	</div><!-- /.container-->

    <?
    include("footer.php");
    ?>

<!-- Google Code for &#12473;&#12461;&#12523;&#12471;&#12540;&#12488; Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 997223852;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "eX-iCLzk7AMQrNvB2wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/997223852/?value=0&amp;label=eX-iCLzk7AMQrNvB2wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<script type='text/javascript'>var _tagc_cv_pid=337;</script>
<script id='t_sc' type='text/javascript' src='https://tag-c.jp/cnv.js?_buid=<? echo $_GET["m"]; ?>&_price=&key1='></script>

</body>
</html>
