<?
include("admin/inc.php");
?>

<?
include("head.php");
?>

<body>
	<?
	include("header.php");
	?>

	<div class="container content">
		<div class="row">

			<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
				<h1>スキルシート登録</h1>
				<div class="breadcrumbs">
				  <ul class="row">
					<li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
					<li>スキルシート登録</li>
				  </ul>
				</div>

				<article>
					<h2>スキルシートを送るだけ！<span>24時間以内にご返答します！</span></h2>
					<p>スキルシートをアップしていただくだけで、最適な案件をご紹介いたします。<br>
					<strong>スキルシートをいただいてから24時間以内には、必ず以下どちらかのご連絡をさせて頂きます。</strong>
					<ul class="row">
					  <li class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					  <p>・具体的な案件情報<br>
					  ・申し訳ありませんが現在ご紹介できる案件が御座いません。<br>
					  　マッチする案件が見つかり次第ご連絡致します。</p>
					  <p>当社からご紹介した案件にエントリー頂ける場合は<br>
					  初回登録面談のご案内をさせて頂きます。</p>
					  </li>
					  <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img6">
						<img src="img/about/img6.png" alt="スキルシートを送るだけ！">
					  </li>
					</ul>
				</article>

				<p class="flowchart"><img src="resource/img_common/img1.png" alt=""></p>

				<form action="skill_kakunin.html" method="POST" enctype="multipart/form-data" name="form" id="formid">

					<input type="hidden" name="filename" value="<? echo $_POST[filename]; ?>">
					<input type="hidden" name="filename2" value="<? echo $_POST[filename2]; ?>">

					<div class="formstyle">
						<table>
							<tr>
								<th>お名前 <span class="red">(必須)</span></th>
								<td>
									<input name="name" type="text" id="textfield" size="30" value="<? echo $_POST[name]; ?>">
								</td>
							</tr>
							<tr>
								<th>フリガナ <span class="red">(必須)</span></th>
								<td>
									<input name="hurigana" type="text" id="textfield5" size="30" value="<? echo $_POST[hurigana]; ?>">
								</td>
							</tr>
							<tr>
								<th>性別 <span class="red">(必須)</span></th>
								<td>
									<label><input type="radio" name="sei" id="radio" value="男性"<? if($_POST[sei]=="男性"){ echo " checked"; } ?>>男性　</label>
									<label><input type="radio" name="sei" id="radio2" value="女性"<? if($_POST[sei]=="女性"){ echo " checked"; } ?>>女性</label>
								</td>
							</tr>
							<tr>
								<th>年齢 <span class="red">(必須)</span></th>
								<td>
									<input name="age" type="text" id="textfield6" size="10" value="<? echo $_POST[age]; ?>">歳
								</td>
							</tr>
							<tr>
								<th>お電話番号 <span class="red">(必須)</span></th>
								<td>
									<input name="tel" type="text" id="textfield7" size="30" style="ime-mode:disabled;" value="<? echo $_POST[tel]; ?>">
								</td>
							</tr>
							<tr>
								<th>メールアドレス <span class="red">(必須)</span></th>
								<td>
									<input name="mail" type="text" id="textfield2" size="50" style="ime-mode:disabled;" value="<? echo $_POST[mail]; ?>">
								</td>
							</tr>
							<tr>
								<th>最寄り駅</th>
								<td>
									<input name="eki" type="text" id="eki" size="30" value="<? echo $_POST[eki]; ?>">例)渋谷
								</td>
							</tr>
							<tr>
								<th>希望報酬</th>
								<td>
									<select name="tanka" id="tanka">
										<option value="" selected>選択して下さい</option>
										<option value="350000"<? if($_POST[tanka]=="350000"){ echo " selected"; } ?>>〜350,000円</option>
										<option value="400000"<? if($_POST[tanka]=="400000"){ echo " selected"; } ?>>350,000〜400,000円</option>
										<option value="450000"<? if($_POST[tanka]=="450000"){ echo " selected"; } ?>>400,000〜450,000円</option>
										<option value="450000"<? if($_POST[tanka]=="450000"){ echo " selected"; } ?>>400,000〜450,000円</option>
										<option value="500000"<? if($_POST[tanka]=="500000"){ echo " selected"; } ?>>450,000〜500,000円</option>
										<option value="550000"<? if($_POST[tanka]=="550000"){ echo " selected"; } ?>>500,000〜550,000円</option>
										<option value="600000"<? if($_POST[tanka]=="600000"){ echo " selected"; } ?>>550,000〜600,000円</option>
										<option value="650000"<? if($_POST[tanka]=="650000"){ echo " selected"; } ?>>600,000〜650,000円</option>
										<option value="700000"<? if($_POST[tanka]=="700000"){ echo " selected"; } ?>>650,000〜700,000円</option>
										<option value="999999999"<? if($_POST[tanka]=="999999999"){ echo " selected"; } ?>>700,000円〜</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>希望業務開始日</th>
								<td>
									<input type="text" value="<? echo $_POST[colname]; ?>" name="colname" readonly onClick="cal.hide();cal.write();" onChange="cal.getFormValue(); cal.hide();">
									<br>
									<div id="calid"></div>
								</td>
							</tr>
							<tr>
								<th>履歴書 / 職務経歴書</th>
								<td>
									<label>
										<input type="file" name="rireki" id="rireki">
										<span class="cap">
										※PDF、エクセル、ワードファイルのいずれかを添付して下さい。<br>
										※アップロードできるファイルサイズ上限は2MBまでとなります。</span>
									</label>
									<?
									if($_POST[filename]!=""){
									?>
									<br><b>ファイルアップロード済</b>
									<?
									}
									?>
								</td>
							</tr>
							<tr>
								<th>スキルシート<span class="red">(必須)</span></th>
								<td>
									<input type="file" name="skill" id="skill">
									<span class="cap">
									※PDF、エクセル、ワードファイルのいずれかを添付して下さい。<br>
									※アップロードできるファイルサイズ上限は2MBまでとなります。</span>
									<?
									if($_POST[filename2]!=""){
									?>
									<br><b>ファイルアップロード済</b>
									<?
									}
									?>
								</td>
							</tr>
							<tr>
								<th>備考<span class="red"></span></th>
								<td>
									<textarea name="naiyou" cols="50" rows="10" id="textfield4"><? echo $_POST[naiyou]; ?></textarea>
								</td>
							</tr>
						</table>

						<p class="cap">
						ご登録にあたって、個人情報の取扱いについては<a href="privacypolicy.html" target="new">プライバシーポリシー</a>をご同意いただだいた上でお申し込み下さい。
						</p>

					</div>

					<div class="kwaku">
						<div class="search_set">
							<p><input type="button" value="リセット" class="btn_base btn_sub clearForm"></p>
							<p><input type="submit" value="確認" class="btn_base btn_entry"></p>
						</div>
					</div>

				</form>

			</section><!--/.main-->

			<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<?
				include("side.php");
				?>
			</aside><!--/aside-->

		</div><!--/.row-->
	</div><!-- /.container-->

	<?
	include("footer.php");
	?>

</body>
</html>
