@charset "UTF-8";
/* Layout */
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* General */
.float-list, .cf {
  *zoom: 1;
}
.float-list:after, .cf:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.float-list li {
  float: left;
}

/* Base */
body {
  font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  color: #000000;
  line-height: 1.5;
}

a {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a:hover, a:active, a:focus {
  text-decoration: none;
}

img {
  width: 100%;
}

a img {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
}
a img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "alpha(opacity=$alpha)";
}

strong {
  font-weight: 700;
}

:placeholder-shown {
  color: #929292;
}

::-webkit-input-placeholder {
  color: #929292;
}

:-moz-placeholder {
  color: #929292;
  opacity: 1;
}

::-moz-placeholder {
  color: #929292;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #929292;
}

/* Layout */
/*==============================
共通
==============================*/
.content {
  padding-top: 50px;
  padding-bottom: 80px;
}

section.main h1, section.main .top_contents h2, section.main h2.detail-tit {
  background: #e7e7e7;
  color: #051b40;
  font-size: 1.5rem;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  font-weight: 700;
  padding: 15px;
  margin-bottom: 30px;
}
section.main h2, section.main .top_contents h3 {
  font-size: 1.125rem;
  color: #051b40;
  font-weight: 700;
  border-bottom: solid 1px #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
section.main article {
  margin-bottom: 50px;
}
section.main p {
  font-size: 0.875rem;
  margin-bottom: 10px;
  line-height: 1.8;
}
section.main .breadcrumbs {
  margin-bottom: 20px;
}
section.main .breadcrumbs ul.row {
  margin-left: 0;
  margin-right: 0;
}
section.main .breadcrumbs ul.row li {
  display: inline;
  font-size: 0.75rem;
}
section.main .breadcrumbs ul.row li a {
  color: #000000;
  text-decoration: underline;
}
section.main .breadcrumbs ul.row li a:hover {
  color: #979797;
  text-decoration: none;
}
section.main .breadcrumbs ul.row li:after {
  content: ">>";
  margin: 0 5px;
}
section.main .breadcrumbs ul.row li:last-of-type:after {
  content: none;
}


.row-center{
text-align:center;
letter-spacing:-0.4em;
}
.row-center > [class*='col-'] {
display:inline-block;
letter-spacing:0;
vertical-align:top;
float:none !important;
}

/*スキルシート・登録ボタン*/
a.touroku_btn, a.skill_btn {
  display: block;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.5);
  /*font-weight: 700;ウェイトトリ*/
  color: #fff;
  position: relative;
  /*height: 60px;高さは必要あればそれぞれの場合で指定*/
  font-size: 1.125rem;
  padding: 4px;
}
a.touroku_btn div.tourokubox, a.skill_btn div.skillbox{
  border-width: 1px;
  border-style: dashed;
  height: 100%;
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 70px;
  -moz-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
a.touroku_btn div.tourokubox:hover, a.skill_btn div.skillbox:hover{
  -moz-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
a.touroku_btn div.tourokubox:before, a.skill_btn div.skillbox:before{
  content: "";
  position: absolute;
  left: 10px;
}
a.touroku_btn {
  background: #90d1e7;
  height: 75px;
}
a.touroku_btn div.tourokubox{
  border-color: #d3edf5;
  background-color: #90d1e7;
  padding: 11px 5px 11px 70px;
}
a.touroku_btn div.tourokubox:hover{
  background-color: #a5d7e8;
}
a.touroku_btn div.tourokubox:before{
  background: url(resource/img_common/icon_touroku.png);
  background-size: cover;
  width: 45px;
  height: 30px;
  top: calc(50% - 15px);
}
a.skill_btn {
  background: #fd9cb3;
  height: 75px;
}
a.skill_btn div.skillbox{
  border-color: #fed7e1;
  background-color: #fd9cb3;
  padding: 11px 5px 11px 60px;
}
a.skill_btn div.skillbox:hover{
  background-color: #fcb6c6;
}
a.skill_btn div.skillbox:before{
  background: url(resource/img_common/icon_skillsieet.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  top: calc(50% - 22px);
}
span.skill-txt{
  position: relative;
}
span.skill-txt:after {
  content: "";
  background: url(resource/img_common/arrow_white01.png);
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 4px;
}
span.skill-txt-small {
  font-size: 0.75rem;
  display: block;
}

/*基本ボタン*/
.btn_base {
  color: #fff;
  font-weight: 700;
  text-align: center;
  display: block;
  width: 100%;
  margin: 0 auto;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.btn_base:hover {
  color: #fff;
  background-color: #fcb6c6
}

.btn_default {
background-color: #fd9cb3;
  border-style: none;
  box-shadow: 1px 1px 0px 0px rgba(218, 135, 154, 1);
}
}
.btn_default:hover {
  background-color: #fd9cb3;
  border-style: none;
  box-shadow: 1px 1px 0px 0px rgba(218, 135, 154, 1);
}
}

.btn_sub {
  background-color: #ededed;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.btn_sub:hover {
  background-color: #d0d0d0;
}

.btn_entry {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 108, 120, 0.7)), to(rgba(255, 81, 95, 0.7)));
  background: linear-gradient(to bottom, rgba(255, 108, 120, 0.7), rgba(255, 81, 95, 0.7));
  background-color: #ff515f;
}
.btn_entry:after {
  content: "";
  background: url(resource/img_common/arrow_white01.png) center no-repeat;
  background-size: cover;
  width: 9px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 5px;
}
.btn_entry:hover {
  background-color: #fff;
}

.btn_send {
  position: relative;
}
.btn_send:after {
  content: "送信";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 108, 120, 0.7)), to(rgba(255, 81, 95, 0.7)));
  background: linear-gradient(to bottom, rgba(255, 108, 120, 0.7), rgba(255, 81, 95, 0.7));
  background-color: #ff515f;
  width: 100%;
  padding: 10px 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
  z-index: 10;
}
.btn_send:hover:after {
  background-color: #fff;
}

.btn_back {
  position: relative;
}
.btn_back:after {
  content: "入力画面へ戻る";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(185, 188, 193, 0.7)), to(rgba(168, 172, 177, 0.7)));
  background: linear-gradient(to bottom, rgba(185, 188, 193, 0.7), rgba(168, 172, 177, 0.7));
  background-color: #b9bcc1;
  width: 100%;
  padding: 10px 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.btn_back:hover:after {
  background-color: #fff;
}

.bottom_banner {
  width: 100%;
  margin: 0 auto;
}
.bottom_banner a.touroku_btn, .bottom_banner a.skill_btn {
  height: 60px;
  font-size: 1.5rem;
  padding-left: 54px;
  padding-top: 10px;
  line-height: 1.3;
}
.bottom_banner a.touroku_btn:after, .bottom_banner a.skill_btn:after {
  position: absolute;
  top: calc(50% - 30px);
  right: 10px;
}
.bottom_banner a.touroku_btn span, .bottom_banner a.skill_btn span {
  display: block;
  font-size: 0.75rem;
}
.bottom_banner a.touroku_btn span br, .bottom_banner a.skill_btn span br {
  display: none;
}

@media (max-width: 768px) {
  section.main {
    padding-bottom: 40px;
  }
  section.main h1, section.main .top_contents h2 {
    font-size: 1.125rem;
    padding: 10px 10px 8px;
    margin-bottom: 20px;
  }
  section.main .top_contents h3 {
    font-size: 1rem;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  section.main .bottom_banner {
    display: none;
  }
}
@media (max-width: 480px) {
  section.main {
    padding-bottom: 40px;
  }
  section.main h1 {
    font-size: 1rem;
  }

  .content {
    padding-top: 20px;
    padding-bottom: 0;
  }
}
/*==============================
form
==============================*/
input[type="button"].reset, input[type="submit"].reset {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E2YTZhNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk3OTc5NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a6a6a6), color-stop(100%, #979797));
  background: -moz-linear-gradient(#a6a6a6, #979797);
  background: -webkit-linear-gradient(#a6a6a6, #979797);
  background: linear-gradient(#a6a6a6, #979797);
  border: none;
  color: #fff;
  font-size: 0.875rem;
  padding: 5px 24px;
}
input[type="button"].reset:hover, input[type="submit"].reset:hover {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #e7e7e7));
  background: -moz-linear-gradient(#f1f1f1, #e7e7e7);
  background: -webkit-linear-gradient(#f1f1f1, #e7e7e7);
  background: linear-gradient(#f1f1f1, #e7e7e7);
}

.notice {
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
}

.formstyle {
  margin-bottom: 20px;
}
.formstyle table {
  width: 100%;
  font-size: 0.875rem;
  margin-bottom: 20px;
}
.formstyle table th {
  border-bottom: 2px solid #051b40;
  font-weight: 700;
  width: 30%;
  padding: 10px;
}
.formstyle table td {
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
}
.formstyle .red {
  color: #ff0000;
}
.formstyle input {
  margin-right: 5px;
}
.formstyle .cap {
  font-size: 0.75rem;
}

#calid table, #calid2 table {
  margin-bottom: 0;
}
#calid table td, #calid2 table td {
  float: none;
  width: auto;
  display: table-cell;
}

.thanks-text {
  font-size: 1.125rem;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  color: #051b40;
}

.thanks-text-body {
  font-size: 0.875rem;
  margin-bottom: 10px;
  text-align: center;
}

.backtoppage {
  margin-top: 30px;
}
.backtoppage a {
  padding: 10px 20px;
  width: 40%;
}

@media (max-width: 480px) {
  input[type="text"], textarea {
    width: 90%;
  }

  .formstyle table th {
    width: 100%;
    float: left;
    display: block;
    background: #f1f1f1;
    text-align: center;
  }
  .formstyle table td {
    width: 100%;
    float: left;
    display: block;
    text-align: center;
  }
  .formstyle table td iframe {
    width: 100%;
  }
  .formstyle .cap {
    font-size: 0.687rem;
  }

  .backtoppage a {
    width: 90%;
  }
}
/*==============================
header
==============================*/
header {
  background: url(resource/img_common/header_top.png);
  background-repeat: repeat-x;
}
.container.head1 {
  height: 100px;/*高さ少し変更*/
}
.container.head1 div.top-left {
  float: left;
}
.container.head1 div.top-left ul {
  display: table;
  padding-top: 25px;
}
.container.head1 div.top-left ul li.logo {
  width: 134px;
  height: auto;
  display: table-cell;
  vertical-align: bottom;
}
.container.head1 div.top-left ul li.logo img{
  margin-bottom: 0.375em;
}
.container.head1 div.top-left ul li.logo-txt{
  color: #000000;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding-left: 20px;
  display: table-cell;
  vertical-align: bottom;
}
.container.head1 div.top-right {
/*  font-weight: 700;ウェイトとり*/
  float: right;
}
.container.head1 .top-right ul.tel {
  display: table;
  float: right;
}
.container.head1 .top-right ul.tel li.tel-num {
  width: 140px;
  font-size: 1.25rem;
  color: #fd2054;
  display: table-cell;
  padding-right: 9px;
  padding-top: 10px;
  vertical-align: middle;
}
.container.head1 .top-right ul.tel li.eigyou {
  font-size: 0.75rem;
  display: table-cell;
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 10px;
  vertical-align: middle;
}
.container.head1 .top-right ul.tel li.eigyou{
  font-size: 0.75rem;
  display: table-cell;
}
.container.head1 .top-right ul.tel li a.inquiry{
  background-color: #fd2054;
  font-size: 0.75rem;
  color: #fff;/*カラー白で*/
  display: table-cell;
  border-bottom-right-radius: 6px; 
  -webkit-border-bottom-right-radius: 6px; 
  -moz-border-radius-bottomright: 6px;
  -ms-border-radius: 6px;

  border-bottom-left-radius: 6px; 
  -webkit-border-bottom-left-radius: 6px; 
  -moz-border-radius-bottomleft: 6px;
  -ms-border-radius: 6px;
  padding: 15px 18px 15px 18px;
}
.container.head1 nav ul {
  float: right;
  padding-top: 20px;
}
.container.head1 nav ul li:last-of-type a {
  padding-right: 0;
}
.container.head1 nav ul li {
  float: left;
  position: relative;
}
.container.head1 nav ul li a {
  display: block;
  font-size: 0.875rem;
  width: 100%;
  color: #fd4e70;
  padding: 5px 25px; 
  float: right;
}
.container.head1 nav ul li span {
  display: block;
  font-size: 0.875rem;
  color: #fd4e70;
  padding: 5px 25px;
}
.container.head1 nav ul li a:hover, .container.head1 nav ul li span:hover {
  color: #d7dce1;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "alpha(opacity=$alpha)"0;
/*  border-bottom: solid 10px #c7af6f;*/
}
.container.head1 nav ul li span {
  cursor: pointer;
}
.container.head1 nav ul li ul.child {
  display: none;
  position: absolute;
  top: 31px;/*高さ変更の為*/
  left: -20px;
  z-index: 1;
  width: 180px;
  padding-top: 0;
}
.container.head1 nav ul li ul.child li {
}
.container.head1 nav ul li ul.child li a {
  display: block;
  width: 180px;
  font-size: 0.75rem;
  height: auto;
  padding: 5px 5px 5px 5px;
  background: #fffaf0;
  border-bottom: solid 1px #fff;
  text-align: center;
}
/*子の選択肢に下線をつける*/
.container.head1 nav ul.child li a:hover {
  border-bottom: solid 1px #c7af6f;
}

/*==============================
aside
==============================*/
.sidebar {
  padding-left: 60px;
}
.sidebar ul li {
  margin-bottom: 16px;
}
.sidebar a.touroku_btn, .sidebar a.skill_btn {
  height: 71px;
  font-size: 1.125rem;
  text-align: left;
  padding-left: 80px;
  padding-top: 10px;
  line-height: 1.3;
}
.sidebar a.touroku_btn span, .sidebar a.skill_btn span {
  display: block;
  font-size: 0.687rem;
}
.sidebar a.touroku_btn:before, .sidebar a.skill_btn:before {
  width: 65px;
  height: 65px;
}
.sidebar a.touroku_btn:after, .sidebar a.skill_btn:after {
  position: absolute;
  top: calc(50% - 7px);
  right: 10px;
}

@media (max-width: 992px) {
  .sidebar {
    padding-left: 0;
    padding-bottom: 30px;
  }
  .sidebar ul li.twitter-box {
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar ul li.miraie-logo {
    margin-left: auto;
    margin-right: auto;
  }
}
/*==============================
footer
==============================*/
footer {
  width: 100%;
}

.footer_btn {
  width: 60%;
  margin: 0 auto 50px;
}

.backtotop {
  text-align: right;
}
.backtotop a {
  font-size: 0.75rem;
  font-weight: 700;
  background: #e7e7e7;
  color: #051b40;
  padding: 10px 20px 10px 40px;
  position: relative;
}
.backtotop a:before {
  content: " ";
  background: url(resource/img_common/pagetop.png) center no-repeat;
  background-size: cover;
  width: 14px;
  height: 14px;
  position: absolute;
  top: calc(50% - 7px);
  left: 20px;
}
.backtotop a:hover {
  color: #979797;
}

.footer-top {
  background: #e7e7e7;
  padding: 30px 0;
}
.footer-top ul {
  display: table;
  width: 100%;
}
.footer-top ul li {
  display: table-cell;
  vertical-align: middle;
}
.footer-top ul li.logo {
  width: 159px;
}
.footer-top ul li.logo img {
  width: 100%;
}
.footer-top ul li.logo-txt {
  color: #051b40;
  font-size: 0.687rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding-left: 20px;
}
.footer-top ul li.tel {
  width: 215px;
  font-weight: 700;
  color: #051b40;
}
.footer-top ul li.tel .tel-num {
  font-size: 1.5rem;
  text-align: center;
}
.footer-top ul li.tel .eigyou {
  font-size: 0.75rem;
  text-align: center;
}

.footer-middle {
  background: #f1f1f1;
  padding: 30px 0;
}
.footer-middle ul {
  display: table;
  width: 100%;
}
.footer-middle ul li {
  display: table-cell;
  vertical-align: middle;
}
.footer-middle ul li.footer-address {
  width: 26%;
}
.footer-middle ul li.footer-address address {
  background: #fff;
  border: solid 1px #eeeeee;
  padding: 10px;
}
.footer-middle ul li.footer-address address dl dt {
  font-weight: 700;
}
.footer-middle ul li.footer-address address dl dd {
  font-size: 0.75rem;
}
.footer-middle ul li.footer-nav {
  width: 70%;
  padding-left: 30px;
}
.footer-middle ul li.footer-nav dl dt {
  font-size: 1.125rem;
  color: #051b40;
  font-weight: 700;
  border-bottom: solid 1px #051b40;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.footer-middle ul li.footer-nav dl dd ul {
  width: auto;
  display: inline-block;
}
.footer-middle ul li.footer-nav dl dd ul li {
  float: left;
  margin-bottom: 5px;
  padding-right: 20px;
}
.footer-middle ul li.footer-nav dl dd ul li a {
  color: #051b40;
  font-size: 0.75rem;
  text-decoration: underline;
}
.footer-middle ul li.footer-nav dl dd ul li a:before {
  content: " ";
  background: url(resource/img_common/flow2.png) center no-repeat;
  background-size: cover;
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 5px;
}
.footer-middle ul li.footer-nav dl dd ul li a:hover {
  text-decoration: none;
}

.footer-bottom {
  background: #051b40;
  text-align: center;
  color: #fff;
  font-size: 0.75rem;
  padding: 10px 0;
}

@media (max-width: 992px) {
  .footer_btn {
    width: 96%;
    margin: 0 auto 50px;
  }
  .footer_btn ul {
    margin-left: -5px;
    margin-right: -5px;
  }
  .footer_btn ul li {
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer_btn ul li a.touroku_btn, .footer_btn ul li a.skill_btn {
    font-size: 0.875rem;
  }
}
@media (max-width: 768px) {
  .footer-top ul {
    display: block;
  }
  .footer-top ul li {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer-top ul li.logo {
    width: 159px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-top ul li.tel {
    width: 215px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  .footer_btn ul {
    margin-bottom: 10px;
  }
  .footer_btn ul li a.touroku_btn, .footer_btn ul li a.skill_btn {
    height: 60px;
    font-size: 0.75rem;
    text-align: left;
    padding-left: 65px;
    padding-right: 3px;
    padding-top: calc(30px - 1rem);
  }
  .footer_btn ul li a.touroku_btn:before, .footer_btn ul li a.skill_btn:before {
    content: "";
    width: 50px;
    height: 50px;
    top: 5px;
    left: 5px;
  }
  .footer_btn ul li a.touroku_btn:after, .footer_btn ul li a.skill_btn:after {
    content: none;
  }

  .footer-middle ul {
    display: block;
  }
  .footer-middle ul li {
    display: block;
  }
  .footer-middle ul li.footer-address {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer-middle ul li.footer-nav {
    width: 100%;
    padding-left: 0;
  }
  .footer-middle ul li.footer-nav dl dt {
    text-align: center;
  }
  .footer-middle ul li.footer-nav dl dd ul {
    width: 100%;
  }
  .footer-middle ul li.footer-nav dl dd ul li {
    float: none;
    margin-bottom: 5px;
    padding-right: 0;
    text-align: center;
    border-bottom: solid 1px #eeeeee;
  }
  .footer-middle ul li.footer-nav dl dd ul li a {
    font-size: 0.75rem;
    display: block;
    padding: 10px 0;
  }
  .footer-middle ul li.footer-nav dl dd ul li a:before {
    content: " ";
    background: url(resource/img_common/flow2.png) center no-repeat;
    background-size: cover;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 5px;
  }
}
/*==============================
search
==============================*/
.freeword {
  padding: 20px;
  margin: 0 auto;
  width: 60%;
}
.freeword ul {
  display: table;
  width: 100%;
}
.freeword ul li {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}
.freeword ul li input[type="text"] {
  width: 100%;
  font-size: 0.75rem;
  -webkit-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1);
  border: solid 1px #eeeeee;
  padding: 20px 10px;
}
.freeword ul li.btn_wrap {
  width: 120px;
  position: relative;
  padding-right: 0;
}
.freeword ul li.btn_wrap:before{
  content: "";
  background: url(resource/img_common/icon_loupe.png) no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 10px);
  left: 10px;
}
.freeword ul li.btn_wrap .btn_base{
  padding-left: 17px;
  border-style: none;
}
.freeword ul li.btn_wrap .btn_base:hover{
  padding-left: 17px;
  border-style: none;
}
.freeword ul li.btn_wrap .btn_default {
  padding: 18px 0 18px 18px;
}
.search-box {
  margin-bottom: 90px;
}
.search-box h2 {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  font-weight: 900;
  color: #000000;
  font-size: 1.125rem;
  text-align: center;
  position: relative;
  padding: 70px 0 0;
  margin-bottom: 20px;
}
.search-box h2:before {
  content: "";
  background: #fd9cb3 url(resource/img_common/icon_loupe.png) center no-repeat;
  background-size: 50%;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
}
.search-box h3 {
  background: #fdf5f7;
  padding: 10px 10px 5px 10px;
  margin-bottom: 15px;
  font-size: 0.875rem;
}
.search-box h3 span {
  font-size: 1.125rem;
}
.search-box h4 {
  background: #f1f1f1;
  margin-bottom: 5px;
  font-size: 0.75rem;
  padding: 3px 5px;
}
.search-box ul.row {
  border: solid 1px #eeeeee;
  padding: 30px;
  margin-left: 0;
  margin-right: 0;
}
.search-box ul.row li {
  margin-bottom: 30px;
}
.search-box ul.row li:last-of-type {
  margin-bottom: 0;
}
.search-box .search_list {
  display: block;
}
.search-box .search-row {
  float: left;
  margin: 0 28px 0 0;
}
.search-box .search-row p {
  font-size: 0.75rem;
  display: table;
  width: 100%;
}
.search-box .search-row p input[type="checkbox"] {
  display: none;
}
.search-box .search-row p .checkbox {
  position: relative;
  display: inline-block;
  padding: 2px 2px 2px 24px;
  margin: 2px 0;
  cursor: pointer;
  width: 100%;
}
.search-box .search-row p .checkbox:hover {
  background: #ffebdd;
}
.search-box .search-row p .checkbox:after {
  content: "";
  border: solid 2px #979797;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: 3px;
  cursor: pointer;
  display: block;
}
.search-box .search-row p .checkbox:before {
  content: "";
  width: 6px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 8px;
  z-index: 10;
  border-right: solid 3px #F60;
  border-bottom: solid 3px #F60;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}
.search-box .search-row p input[type=checkbox]:checked + .checkbox:before {
  display: block;
}
.search-box .search-row p input[type=checkbox]:checked + .checkbox:after {
  border: solid 2px #F60;
}
.search-box .search-row p a {
  color: #000000;
  text-decoration: underline;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
}
.search-box .search-row p a:hover {
  text-decoration: none;
  color: #979797;
}

.row.search-area {
  margin-left: -4px;
  margin-right: -4px;
  margin-top: 10px;
}
.row.search-area .search-row {
  margin: 0;
}
.row.search-area .search-pref {
  padding-left: 4px;
  padding-right: 4px;
}

.kwaku {
  border-top: solid 1px #eeeeee;
  padding: 30px 0 0;
  text-align: center;
}
.kwaku .search_set {
  width: 40%;
  margin: 0 auto;
}
.kwaku p {
  width: 50%;
  padding: 5px;
  float: left;
}
.kwaku button, .kwaku input[type="button"], .kwaku input[type="submit"], .kwaku input[type="image"] {
  padding: 10px 0;
  height: 50px;
}

@media (max-width: 1200px) {
  .search-box ul.row {
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .search-box ul.row li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .search-box .search-row {
    margin: 0 12px 0 0;
  }
  .search-box .search-row p {
    font-size: 0.75rem;
  }
}
ul li div p input.btn_base.btn_sub.clearForm{
  color: #505050;
  height: 50px;
  border-style: none;
  box-shadow: 1px 1px 0px 0px rgba(202, 202, 202, 1);

}
@media (max-width: 768px) {
  .freeword {
    margin: 0 auto 10px;
    width: 90%;
  }

  .search-box .search-row {
    margin: 0 30px 0 0;
  }
  .search-box .search-row p {
    font-size: 0.75rem;
  }

  .row.search-area .search-pref {
    margin-bottom: 10px;
  }

  li.kwaku .search_set {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .freeword {
    padding: 0;
  }
  .freeword ul {
    display: block;
  }
  .freeword ul li {
    display: block;
    margin-bottom: 10px;
  }
  .freeword ul li.btn_wrap {
    margin: 0 auto;
    width: 100%;
  }

  .search-box {
    padding-top: 40px;
    margin-bottom: 40px;
  }
  .search-box ul.row {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 10px;
  }
  .search-box ul.row li {
    margin-bottom: 0;
  }
  .search-box ul.row h3.search_down {
    cursor: pointer;
    position: relative;
  }
  .search-box ul.row h3.search_down:after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
    z-index: 10;
    border-right: solid 3px #051b40;
    border-bottom: solid 3px #051b40;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .search-box .search_list {
    display: none;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .search-box .search-row {
    margin: 0;
    padding-right: 10px;
    width: 50%;
  }
  .search-box .search-row:nth-of-type(2n) {
    padding-right: 0;
  }
  .search-box .search-row:last-of-type {
    width: 100%;
  }
  .search-box .search-row.tokyo_pref {
    width: 33.33333%;
  }
  .search-box .search-row.tokyo_pref:nth-of-type(3n) {
    padding-right: 0;
  }
  .search-box .search-row.tokyo_pref:last-of-type {
    width: 33.33333%;
  }

  li.kwaku .search_set {
    width: 100%;
  }

  .kwaku .search_set {
    width: 100%;
  }
}
/*==============================
projects
==============================*/
.projects h2 {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  font-weight: 900;
  color: companyColor;
  position: relative;
  padding: 70px 0 0;
  margin-bottom: 20px;
}
.projects h2:before {
  content: "";
  background: #fd9cb3 url(resource/img_common/icon_latest.png) center no-repeat;
  background-size: 70%;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
}
.projects .projects_wrapper {
  background: #fdf5f7;
  padding: 60px 0;
}
.projects .row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.projects article {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 30px;
}
.projects article:nth-of-type(-n+6) a.anken:before {
  content: "";
  background: url(resource/img_common/icon_new.png) center no-repeat;
  background-size: cover;
  width: 43px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
}
.projects a.anken, .projects a.anken {
  color: #000000;
  background: #fff url(resource/img_common/trigone.png) top left no-repeat;
  padding: 20px;
  display: block;
  border-width: 1px;
  border-style: dashed;
  border-color: #fd9cb3;
  position: relative;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.projects a.anken:hover, .projects .anken:hover {
  background: #fff url(resource/img_common/trigone.png) top left no-repeat;
  color: #051b40;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.08);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*.projects a.anken:hover p.lineSub, .projects .anken:hover p.lineSub {
  width: 100%;
  border-style: dotted;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*.projects a.anken p.line, .projects .anken p.line {
  background: #051b40;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}*/
.projects a.anken p.lineSub, .projects .anken p.lineSub {
  background: #04d2f0;
  height: 2px;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.projects a.anken h3, .projects .anken h3 {
  font-size: 1rem;
  border-bottom: solid 2px #fd9cb3;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.projects a.anken dl, .projects .anken dl {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}
.projects a.anken dl dt, .projects .anken dl dt {
  display: table-cell;
  text-align: center;
  width: 70px;
  font-size: 0.75rem;
}
.projects a.anken dl dt span, .projects .anken dl dt span {
  display: block;
  background: #e7e7e7;
  padding: 3px 0;
}
.projects a.anken dl dd, .projects .anken dl dd {
  padding-left: 10px;
  font-size: 0.875rem;
}
/*.projects a.anken dl dd.tanka, .projects .anken dl dd.tanka {
  color: #F60;
}*/
.projects a.anken dl.naiyou, .projects .anken dl.naiyou {
  display: block;
  font-size: 0.75rem;
}
.projects a.anken dl.naiyou dt, .projects a.anken dl.naiyou dd, .projects .anken dl.naiyou dt, .projects .anken dl.naiyou dd {
  display: block;
  padding: 0;
  text-align: left;
}
.projects a.anken dl.naiyou dt, .projects .anken dl.naiyou dt {
  margin-bottom: 5px;
}
.projects a.anken dl.naiyou dd, .projects .anken dl.naiyou dd {
  line-height: 1.5;
  height: 3em;
  position: relative;
  overflow: hidden;
}
.projects a.anken dl.naiyou dd:after, .projects .anken dl.naiyou dd:after {
  content: ".";
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 0em;
  text-align: right;
  font-size: 0.875rem;
  color: #fff;
  background: -moz-linear-gradient(left, white 0%, white 82%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, white 0%, white 82%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 0%, #ffffff 82%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
}

.projects.list article, .projects.detail article {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.projects.detail article .anken:hover {
  background: inherit;
  color: inherit;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-transition: all 0s ease;
  -o-transition: all 0s ease;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

.kensu {
  font-size: 0.875rem;
  margin-bottom: 30px;
}
.kensu .gokei {
  color: #F60;
  font-weight: 700;
  font-size: 1rem;
}

.more {
  text-align: center;
  margin-top: 30px;
}
.more a {
  background-color: #fd2054;
  display: block;
  padding: 15px 0;
  width: 40%;
  margin: 0 auto;
}
.more a:hover{
  background-color: #fc537b;
  display: block;
  padding: 15px 0;
  width: 40%;
  margin: 0 auto;
}
.more a:after {
  content: "";
  background: url(resource/img_common/arrow_white.png) center no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 2px;
}

.txt_link {
  font-size: 0.75rem;
  font-weight: 700;
  text-align: right;
  margin-top: 30px;
}
.txt_link a {
  text-decoration: underline;
  color: #051b40;
  position: relative;
}
.txt_link a:hover {
  text-decoration: none;
  color: #979797;
}
.txt_link a:after {
  content: " ";
  background: url(resource/img_common/flow.png) center no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 3px;
  position: relative;
  top: 3px;
}

ul.pagenation li a {
  color: #051b40;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  font-weight: 700;
  font-size: 0.875rem;
  text-decoration: underline;
  position: relative;
}
ul.pagenation li a:hover {
  color: #979797;
  text-decoration: none;
}
ul.pagenation li.prev {
  text-align: left;
}
ul.pagenation li.prev a {
  padding-left: 20px;
}
ul.pagenation li.prev a:before {
  content: " ";
  background: url(resource/img_common/flow3.png) center no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
}
ul.pagenation li.next {
  text-align: right;
}
ul.pagenation li.next a {
  padding-right: 20px;
}
ul.pagenation li.next a:after {
  content: " ";
  background: url(resource/img_common/flow.png) center no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 992px) {
  .projects div.detail-bottom {
    display: none;
  }
}
@media (max-width: 768px) {
  .projects h2 {
    font-size: 1.125rem;
    margin-bottom: 20px;
  }
  .projects h3 {
    font-size: 0.875rem;
  }

  .more {
    margin-top: 0;
  }
  .more a {
    font-size: 0.875rem;
    width: 100%;
    padding: 20px 0;
  }
}
@media (max-width: 480px) {
  .projects .projects_wrapper {
    padding: 30px 0;
  }
  .projects article {
    margin-bottom: 20px;
  }
  .projects a.anken {
    padding: 15px;
  }
  .projects a.anken h3 {
    font-size: 0.875rem;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .projects a.anken dl {
    margin-bottom: 5px;
  }
  .projects a.anken dl dd {
    font-size: 0.75rem;
  }
  .projects a.anken dl.naiyou dt {
    display: none;
  }

  .txt_link {
    margin-top: 10px;
  }
}
/*==============================
detail
==============================*/
.main h1.anken-tit-h {
  font-size: 1.125rem;
  border-bottom: solid 2px #41b1c9;
  background: none;
  font-family: inherit;
  margin-bottom: 10px;
  padding: 0 0 5px 0;
}

.entry-btn {
  width: 50%;
  margin: 0 auto;
}
.entry-btn a {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 16px 0 12px;
  color: #fff;
}

.related {
  border: solid 2px #e7e7e7;
  margin-top: 60px;
}
.related h3 {
  font-size: 1.125rem;
  background: #e7e7e7;
  padding: 10px 10px 8px;
}
.related ul {
  padding: 20px;
  margin-left: 0;
  margin-right: 0;
}
.related ul li {
  margin-bottom: 5px;
}
.related ul li a {
  padding-left: 10px;
  color: #000000;
  text-decoration: underline;
  font-size: 0.875rem;
}
.related ul li a:before {
  content: " ";
  background: url(resource/img_common/flow.png) center no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 0;
}
.related ul li a:hover {
  color: #979797;
  text-decoration: none;
}

@media (max-width: 768px) {
  .entry-btn {
    width: 80%;
  }
  .entry-btn a {
    font-size: 1rem;
  }
}
/*==============================
entry
==============================*/
.projects.entry {
  border: solid 1px #051b40;
  margin-bottom: 60px;
}
.projects.entry h2 {
  background: none;
  color: #051b40;
  font-family: inherit;
  font-size: 1.125rem;
  padding: 10px;
  margin-bottom: 0;
  border-bottom: solid 1px #051b40;
}
.projects.entry article {
  padding: 20px 20px 10px;
  border-top: none;
  border-bottom: none;
  margin-bottom: 0px;
}

.flowchart {
  margin-bottom: 30px;
}

/*==============================
touroku
==============================*/
.shuccho {
  border: solid 2px #e7e7e7;
  margin-top: 30px;
  margin-bottom: 30px;
}
.shuccho h3 {
  font-size: 1rem;
  background: #e7e7e7;
  padding: 10px 10px 8px;
}
.shuccho h3 span {
  font-size: 1.125rem;
  color: #051b40;
  font-weight: 700;
}
.shuccho p {
  padding: 10px 20px 0;
}
.shuccho p b {
  font-weight: 700;
}

/*==============================
top page
==============================*/
.main-img .container {
  background: url(img/index/main-img.jpg) center top no-repeat;
  background-size: cover;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  position: relative;
}
.main-img .container h1{
  color: #fff;
  width: 460px;
  background-color: #f5f5f7;
  margin-left: 0;
  margin-right: 0;
  padding: 30px;
}
.main-img h1 span {
  display: block;
  float: left;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding-top: 65px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.3;
  position: relative;
}
.main-img h1 span:before {
  width: 64px;
  height: 29px;
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: calc(50% - 34px);
}
.main-img h1 span.aa {
  background: #fd9cb3;
  padding-top: 55px;
}
.main-img h1 span.aa:before {
  background: url(img/index/main_point01.png) center no-repeat;
  background-size: cover;
}
.main-img h1 span.b {
  background: #76cbe7;
}
.main-img h1 span.b:before {
  background: url(img/index/main_point02.png) center no-repeat;
  background-size: cover;
}
.main-img h1 span.c {
  background: #6bd299;
}
.main-img h1 span.c:before {
  background: url(img/index/main_point03.png) center no-repeat;
  background-size: cover;
}
.main-img h1 span.d {
  background: #ffce5c;
}
.main-img h1 span.d:before {
  background: url(img/index/main_point04.png) center no-repeat;
  background-size: cover;
}
.main-img h1 span span.main-txt-small {
  margin: 10px 0;
  padding-top: 0;
  height: auto;
  font-size: 1rem;
  display: block;
}

.main-img div.main-img-campaign_banner{
  display: block;
  width: 160px;
  height: 485px;
  background: url(img/index/campaign_banner_bg.png);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
}
.main-img div.main-img-campaign_banner a{
  display: block;
  width: 109px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
.main-img p.main-img-campaign_text img{
  width: 126px;
  height: 304px;
  margin-top: 40px;
  margin-right: 17px;
  margin-left: 17px;
}

.main-img-btn{
  width: 67.5213%;
  margin: 40px auto 0;
}

/*div h1.row div.main-img-btn ul li div.skillbox{
  font-size: 1.125rem;
  border: 1px #fed7e1 dashed;
  background-color: #fd9cb3;
  height: 100%;
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 60px;
}
div h1.row div.main-img-btn ul li div.skillbox:hover{
  font-size: 1.125rem;
  border: 1px #fed7e1 dashed;
  background-color: #fcb6c6;
  height: 100%;
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 60px;
}
div h1.row div.main-img-btn ul li div.skillbox:before{
  background: url(resource/img_common/icon_skillsieet.png);
  background-size: cover;
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 22px);
  left: 10px;
}
div h1.row div.main-img-btn ul li div.tourokubox{
  border: 1px #d3edf5 dashed;
  background-color: #90d1e7;
  height: 100%;
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 70px;
}
div h1.row div.main-img-btn ul li div.tourokubox:hover{
  border: 1px #d3edf5 dashed;
  background-color: #a5d7e8;
  height: 100%;
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 70px;
}
div h1.row div.main-img-btn ul li div.tourokubox:before{
  background: url(resource/img_common/icon_touroku.png);
  background-size: cover;
  content: "";
  width: 45px;
  height: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: 10px;
}
div h1.row div.main-img-btn ul li div span.skill-txt-small {
  background: none;
  height: auto;
  padding-top: 0;
  font-size: 0.75rem;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  display: block;
}
div h1.row div.main-img-btn ul li div span.skill-txt{
  position: relative;
}
div h1.row div.main-img-btn ul li div span.skill-txt:after {
  content: "";
  background: url(resource/img_common/arrow_white01.png);
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 4px;
}*/

@media (max-width: 1200px) {
  .main-img .main-img-btn {
    position: absolute;
    width: 90%;
    bottom: -30px;
    left: calc(50% - 45%);
  }
}
@media (max-width: 992px) {
  .main-img {
    background: url(img/index/main-img.jpg) 80% top no-repeat;
  }
  .main-img .container {
    width: 94%;
  }
  .main-img h1 span {
    margin-right: 10px;
  }
  .main-img .main-img-banner {
    width: 565px;
  }
}
@media (max-width: 768px) {
  .main-img {
    padding: 0 0 0 0;
  }
  .main-img h1 span {
    display: block;
    float: none;
    width: 250px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 1rem;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
  }
  .main-img h1 span span.main-txt-small {
    display: inline;
  }
  .main-img .main-img-banner {
    width: 80%;
    margin: 0 auto;
  }
  .main-img .main-img-btn {
    width: 96%;
    left: 2%;
  }
  .main-img .main-img-btn ul {
    margin-left: -5px;
    margin-right: -5px;
  }
  .main-img .main-img-btn ul li {
    padding-left: 5px;
    padding-right: 5px;
  }
  .main-img .main-img-btn ul li a.touroku_btn, .main-img .main-img-btn ul li a.skill_btn {
    font-size: 0.875rem;
  }
}
@media (max-width: 480px) {
  .main-img {
    padding: 150px 0 40px;
  }
  .main-img .container {
    width: 100%;
  }
  .main-img h1 {
    margin-bottom: 10px;
  }
  .main-img h1 span {
    display: block;
    float: none;
    width: 210px;
    margin-bottom: 5px;
    font-size: 0.75rem;
  }
  .main-img h1 span span.main-txt-small {
    display: inline;
  }
  .main-img .main-img-banner {
    display: none;
  }
  .main-img .main-img-btn ul {
    width: 67.5213%;
    margin: 0 auto;
  }
  .main-img .main-img-btn ul li a.touroku_btn, .main-img .main-img-btn ul li a.skill_btn {
    height: 60px;
    font-size: 0.75rem;
    text-align: left;
    padding-left: 65px;
    padding-right: 3px;
    padding-top: calc(30px - 1rem);
  }
  .main-img .main-img-btn ul li a.touroku_btn:before, .main-img .main-img-btn ul li a.skill_btn:before {
    content: "";
    width: 50px;
    height: 50px;
    top: 5px;
    left: 5px;
  }
  .main-img .main-img-btn ul li a.touroku_btn:after, .main-img .main-img-btn ul li a.skill_btn:after {
    content: none;
  }

  .main-img-banner_sp {
    display: block;
    width: 96%;
    margin: 30px auto 0;
  }
}
div.container h1.row div.main-img-btn ul.row{
  margin-top: 40px;
}
.top-main {
  background: url(resource/img_common/arrow_bg.png) top center no-repeat;
  padding-top: 70px;
}
.top-main h2 {
  font-size: 1.125rem;
  text-align: center;
}
.top-main h2 br {
  display: none;
}
.top-main div form div ul li input {
  color: #9b9b9b;
}
.top_contents .top_about {
  font-size: 0.875rem;
  padding: 0 20px;
  margin-bottom: 50px;
}
.top_contents .top_about dl.top_about01 {
  display: table;
  width: 100%;
  margin-bottom: 30px;
}
.top_contents .top_about dl.top_about01 dt, .top_contents .top_about dl.top_about01 dd {
  display: table-cell;
  vertical-align: top;
}
.top_contents .top_about dl.top_about01 dt {
  padding-right: 20px;
}
.top_contents .top_about dl.top_about01 dd {
  width: 298px;
}
.top_contents .top_about ul li dl dt {
  width: 78px;
  margin: 0 auto 15px;
}
.top_contents .top_about ul li dl dd {
  font-weight: 700;
  text-align: center;
}
.top_contents .top_flow {
  font-size: 0.875rem;
}
.top_contents .top_flow ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}
.top_contents .top_flow ul li {
  vertical-align: top;
  text-align: center;
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.top_contents .top_flow ul li:last-of-type dl:after {
  content: none;
}
.top_contents .top_flow ul li dl {
  border: solid 3px #eeeeee;
  width: 100%;
  padding: 15px 5px;
  position: relative;
}
.top_contents .top_flow ul li dl dt {
  margin-bottom: 15px;
}
.top_contents .top_flow ul li dl dt span {
  background: #051b40;
  color: #fff;
  padding: 2px 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
.top_contents .top_flow ul li dl dd {
  font-size: 0.875rem;
  font-weight: 700;
}
.top_contents .top_flow ul li dl dd.flow_thumb {
  width: 78px;
  margin: 0 auto 10px;
}
.top_contents .top_flow ul li dl:after {
  content: "";
  background: url(img/index/arrow_flow.png) center no-repeat;
  background-size: cover;
  width: 42px;
  height: 16px;
  position: absolute;
  top: calc(50% - 8px);
  right: -36px;
  z-index: 2;
}

@media (max-width: 1200px) {
  .top_contents .top_about ul li dl dd br {
    display: none;
  }
}
@media (max-width: 480px) {
  .top-main {
    background-size: 70%;
    padding-top: 25px;
  }
  .top-main h2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .top-main h2 br {
    display: inline;
  }

  .top_contents .top_about dl.top_about01 {
    display: block;
    margin-bottom: 30px;
  }
  .top_contents .top_about dl.top_about01 dt, .top_contents .top_about dl.top_about01 dd {
    display: block;
  }
  .top_contents .top_about dl.top_about01 dt {
    padding-right: 0;
    margin-bottom: 10px;
  }
  .top_contents .top_about dl.top_about01 dd {
    width: 100%;
  }
  .top_contents .top_about ul li dl {
    display: table;
    margin-bottom: 20px;
  }
  .top_contents .top_about ul li dl dt, .top_contents .top_about ul li dl dd {
    display: table-cell;
    vertical-align: top;
  }
  .top_contents .top_about ul li dl dt {
    margin: 0 auto 0;
  }
  .top_contents .top_about ul li dl dd {
    text-align: left;
    padding-left: 20px;
  }
  .top_contents .top_about ul li:last-of-type dl {
    margin-bottom: 0;
  }
  .top_contents .top_flow {
    font-size: 0.875rem;
  }
  .top_contents .top_flow ul {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .top_contents .top_flow ul li {
    width: 100%;
  }
  .top_contents .top_flow ul li dl {
    display: table;
    padding: 10px;
    margin-bottom: 30px;
  }
  .top_contents .top_flow ul li dl dt, .top_contents .top_flow ul li dl dd {
    display: table-cell;
    vertical-align: middle;
  }
  .top_contents .top_flow ul li dl dt {
    margin-bottom: 0;
    width: 80px;
    font-size: 0.75rem;
    position: absolute;
    top: -10px;
    left: calc(50% - 40px);
  }
  .top_contents .top_flow ul li dl dd {
    text-align: left;
    padding-left: 20px;
  }
  .top_contents .top_flow ul li dl dd.flow_thumb {
    margin: 0 auto 0;
    padding-left: 0;
  }
  .top_contents .top_flow ul li dl:after {
    background: url(img/index/arrow_flow_s.png) center no-repeat;
    background-size: cover;
    width: 16px;
    height: 23px;
    top: 100%;
    right: calc(50% - 8px);
  }
  .top_contents .top_flow ul li:last-of-type dl {
    margin-bottom: 0;
  }
}
/*==============================
about
==============================*/
.img2_1 {
  text-align: right;
  margin-top: 20px;
}
.img2_1 img {
  max-width: 524px;
  width: 100%;
}

.img6 {
  text-align: center;
}
.img6 img {
  max-width: 205px;
}

/*==============================
flow
==============================*/
.flow ul {
  padding: 45px 0 60px;
}
.flow ul li {
  border: solid 2px #051b40;
  position: relative;
  margin-bottom: 30px;
}
.flow ul li:before {
  content: " ";
  width: 50px;
  height: 30px;
  background: #9d9d9d;
  position: absolute;
  top: -32px;
  left: 30px;
}
.flow ul li:last-of-type:after {
  content: " ";
  width: 100px;
  height: 70px;
  background: url(img/flow/flow-arrow.png) center bottom no-repeat;
  position: absolute;
  bottom: -72px;
  left: 2px;
}
.flow dl {
  display: table;
}
.flow dl dt {
  display: table-cell;
  vertical-align: middle;
  background: #051b40;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  padding: 20px 28px;
}
.flow dl dt span {
  display: block;
  font-size: 1.125rem;
}
.flow dl dd {
  display: table-cell;
  vertical-align: middle;
  padding: 20px 20px 20px 120px;
  background-position: 20px center;
  background-repeat: no-repeat;
}
.flow dl dd h3 {
  color: #051b40;
  font-size: 1rem;
  font-weight: 700;
}
.flow dl dd p {
  font-size: 0.875rem;
}
.flow dl dd.step01 {
  background-image: url(img/flow/pict_step01.png);
}
.flow dl dd.step02 {
  background-image: url(img/flow/pict_step02.png);
}
.flow dl dd.step03 {
  background-image: url(img/flow/pict_step03.png);
}
.flow dl dd.step04 {
  background-image: url(img/flow/pict_step04.png);
}
.flow dl dd.step05 {
  background-image: url(img/flow/pict_step05.png);
}

@media (max-width: 480px) {
  .flow ul li:before {
    left: calc(50% - 25px);
  }
  .flow ul li:last-of-type:after {
    left: calc(50% - 50px);
  }
  .flow dl {
    display: block;
  }
  .flow dl dt {
    display: block;
    font-size: 1.5rem;
    padding: 10px 0;
  }
  .flow dl dt span {
    display: inline;
    font-size: 1.125rem;
  }
  .flow dl dd {
    display: block;
  }
  .flow dl dd h3 {
    color: #051b40;
    font-size: 1rem;
    font-weight: 700;
  }
  .flow dl dd p {
    font-size: 0.875rem;
  }
}
/*==============================
company
==============================*/
.company table {
  width: 100%;
  font-size: 0.875rem;
}
.company table th {
  border-bottom: 2px solid #051b40;
  font-weight: 700;
  width: 30%;
  padding: 10px;
}
.company table td {
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
}

@media (max-width: 480px) {
  .company table th {
    width: 100%;
    float: left;
    display: block;
    background: #f1f1f1;
    text-align: center;
  }
  .company table td {
    width: 100%;
    float: left;
    display: block;
  }
  .company table td iframe {
    width: 100%;
  }
}
/*==============================
campaign
==============================*/
.campaign {
  width: 100%;
  max-width: 610px;
  margin: 0 auto;
  padding-bottom: 40px;
  background: #8cdef6;
}
.campaign .campaign_detail {
  max-width: 540px;
  width: 90%;
  margin: 0 auto;
  padding: 0 15px 40px;
  background: #fff;
}
.campaign .campaign_detail h2 {
  margin: 0 25px;
  padding: 25px 0 40px;
}
.campaign .campaign_detail h3 {
  padding-bottom: 40px;
}
.campaign .campaign_detail .campaign_overview {
  margin: 0 20px;
  padding: 40px 0;
}
.campaign .campaign_detail .campaign_text {
  margin: 0 10px;
  border-top: solid 1px #999;
  padding-top: 40px;
}
.campaign .campaign_detail .campaign_text dl {
  margin-bottom: 30px;
  display: table;
}
.campaign .campaign_detail .campaign_text dl dt {
  display: table-cell;
  vertical-align: top;
  width: 80px;
}
.campaign .campaign_detail .campaign_text dl dt img {
  width: 100%;
}
.campaign .campaign_detail .campaign_text dl dd {
  display: table-cell;
  vertical-align: top;
  padding-left: 20px;
  font-size: 0.875rem;
}
.campaign .campaign_detail .campaign_text dl dd ul {
  padding-left: 20px;
  list-style-type: square;
}
.campaign .campaign_detail .campaign_text dl dd strong {
  color: #f7660b;
  font-size: 180%;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 1.125rem;
}
.campaign a.inq {
  display: block;
  width: 90%;
  max-width: 500px;
  height: 74px;
  margin: 40px auto 0;
  background: url("img/campaign/inquiry_btn.png") no-repeat;
  background-size: contain;
}

@media (max-width: 480px) {
  .campaign {
    padding-bottom: 20px;
  }
  .campaign .campaign_detail .campaign_text dl {
    display: block;
  }
  .campaign .campaign_detail .campaign_text dl dt {
    display: block;
    margin-bottom: 10px;
  }
  .campaign .campaign_detail .campaign_text dl dd {
    display: block;
    padding-left: 0px;
  }
  .campaign a.inq {
    margin: 20px auto 0;
  }
}
/*==============================
privacypolicy
==============================*/
.privacypolicy h3 {
  background: #e7e7e7;
  border-left: solid 5px #051b40;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 5px 5px 5px 10px;
  margin: 30px 0 15px;
}
.privacypolicy h4 {
  font-weight: 700;
  font-size: 0.875rem;
}
.privacypolicy p {
  font-size: 0.875rem;
  margin-bottom: 10px;
}
.privacypolicy ul {
  font-size: 0.875rem;
  margin-left: 30px;
}
.privacypolicy ul li {
  list-style: decimal;
}
.privacypolicy .adress p {
  font-size: 0.75rem;
}
