<?
include("head.php");
?>

<body>

    <?
    include("header.php");
    ?>

	<div class="container content">
		<div class="row">

	        <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
	            <div class="breadcrumbs">
	              <ul class="row">
	                <li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
	                <li>お問い合わせ</li>
	              </ul>
	            </div>
	            <article>
	            	<h1>お問い合わせありがとうございました。</h1>
	            	<div class="thanks-text-body">
						<p>この度はお問い合わせありがとうございます。<br>
						折り返し担当者よりご連絡させて頂きます。</p>
						<p>なお、お問い合わせ順に返信致しておりますが<br>
						多くのお問い合わせを頂いている場合は返信が遅れる場合があります。<br>
						予めご了承下さい。</p>
						<p>また、弊社からお送りするメールが迷惑メール扱いになり、ご連絡が届かないケースがあります。<br>
                    お手数をおかけしますが、迷惑メールフィルター等をご確認いただきますようお願い申し上げます。</p>
						<p class="backtoppage"><a href="index.html" class="btn_base btn_sub">トップページへ戻る</a></p>
	            	</div>
	            </article>

			<!-- Begin INDEED conversion code -->
			<script type="text/javascript">
			/* <![CDATA[ */
			var indeed_conversion_id = '9563533485949263';
			var indeed_conversion_label = '';
			/* ]]> */
			</script>
			<script type="text/javascript" src="//conv.indeed.com/pagead/conversion.js">
			</script>
			<noscript>
			<img height=1 width=1 border=0 src="//conv.indeed.com/pagead/conv/9563533485949263/?script=0">
			</noscript>
			<!-- End INDEED conversion code -->

	        </section><!--/.main-->

	        <aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
	            <?
	            include("side.php");
	            ?>
	        </aside><!--/aside-->

		</div><!--/.row-->
	</div><!-- /.container-->

    <?
    include("footer.php");
    ?>

</body>
</html>
