<?
include("admin/inc.php");
require("PHPMailer/class.phpmailer.php");

$kakaku[350000]="〜350,000円";
$kakaku[400000]="350,000〜400,000円";
$kakaku[450000]="400,000〜450,000円";
$kakaku[500000]="450,000〜500,000円";
$kakaku[550000]="500,000〜550,000円";
$kakaku[600000]="550,000〜600,000円";
$kakaku[650000]="600,000〜650,000円";
$kakaku[700000]="650,000〜700,000円";
$kakaku[999999999]="700,000円〜";

	//古い日付のファイルを削除
	$dir = '../files/';
	deleteFile($dir);

	function deleteFile($dir)
	{
		$mae=strtotime("-10 min");

			if (!$handle=opendir($dir)) die("ディレクトリの読み込みに失敗しました");
			while($filename=readdir($handle))
			{
					if(!preg_match("/^\./", $filename))
					{
						$dt = filectime($dir.$filename);
						//echo date("y/m/d H:i:s",$dt)." - ".date("y/m/d H:i:s",$mae);

						if($dt < $mae){ //1日前以上だったら削除
							if (!unlink($dir.$filename)) die("ファイルの削除に失敗しました");
						}
					}
			}
	}

//メール送信
if($_POST[sousin_x]!=""){

	//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
	//お客様へメール
	//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※

	$sendoto=$_POST[mail];

	$subject="登録面談のお申し込みありがとうございました";
	$subject=mb_convert_encoding($subject,"JIS","UTF-8");
	$subject=base64_encode($subject);
	$subject="=?iso-2022-jp?B?".$subject."?=";

	//* 内容
	$body="==================================================================\n";
	$body.="このメールは、自動的に送信されています。\n";
	$body.="==================================================================\n\n";
	$body.=$_POST[name]."様\n\n";
	$body.="この度は面談のお申し込みありがとうございます。\n";
	$body.="折り返し担当者よりご連絡させて頂きます。\n\n";
	$body.="なお、お問い合わせ順に返信致しておりますが\n";
	$body.="多くのお問い合わせを頂いている場合は\n";
	$body.="返信が遅れる場合があります。\n";
	$body.="予めご了承下さい。\n\n";
	$body.="==================================================================\n";
	$body.="株式会社Miraie\n";
	$body.="〒150－0002 東京都渋谷区渋谷1－12－2 クロスオフィス渋谷6F\n";
	$body.="TEL：03-5774-6300　FAX：03-5774-6301\n";
	$body.="==================================================================\n";
	$body=mb_convert_encoding($body,"JIS","UTF-8");

	$headers="From:".$send."\n";
	$headers.="MIME-Version: 1.0\n";
	$headers.="Content-type: text/plain; charset=\"iso-2022-jp\"\n";
	$headers.="Content-Transfer-Encoding: 7bit\n";
	$headers=mb_convert_encoding($headers,"JIS","UTF-8");
	mail($sendoto,$subject,$body,$headers);

	//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
	//Miraieへメール
	//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※

	//言語設定、内部エンコーディングを指定する
	mb_language("japanese");
	mb_internal_encoding("UTF-8");

	//日本語添付メールを送る
	$to = $send; //宛先
	$subject = "登録面談フォーム"; //題名
	$body="以下の内容でフォームより送信されました。\n\n";
	$body.="※※※※※※※※※※※※※※※※※※※※※※※※※\n\n";
	$body.="名前：".$_POST[name]."\n";
	$body.="フリガナ：".$_POST[hurigana]."\n";
	$body.="性別：".$_POST[sei]."\n";
	$body.="年齢：".$_POST[age]."歳\n";
	$body.="電話番号：".$_POST[tel]."\n";
	$body.="メール：".$_POST[mail]."\n";
	$body.="最寄り駅：".$_POST[eki]."\n";
	$body.="希望報酬：".$kakaku[($_POST[tanka])]."\n";
	$body.="希望業務開始日：".$_POST[colname]."\n";
	$body.="面談希望日：".$_POST[colname2]."\n";
	$body.="出張登録制度：".$_POST[syuttyou]."\n";
	$body.="備考：\n";
	$body.=ereg_replace("\r\n","\n",$_POST[naiyou])."\n";
	$body.="※※※※※※※※※※※※※※※※※※※※※※※※※\n\n";
	$from = $_POST[mail];

	if($_POST[filename]!=""){
	$attachfile = "../files/".$_POST[filename]; //添付ファイルパス
	}

	if($_POST[filename2]!=""){
	$attachfile2 = "../files/".$_POST[filename2]; //添付ファイルパス
	}

	$mail = new PHPMailer();
	$mail->CharSet = "iso-2022-jp";
	$mail->Encoding = "7bit";

	$mail->AddAddress($to);
	$mail->From = $from;
	$mail->FromName = mb_encode_mimeheader(mb_convert_encoding($fromname,"JIS","UTF-8"));
	$mail->Subject = mb_encode_mimeheader(mb_convert_encoding($subject,"JIS","UTF-8"));
	$mail->Body  = mb_convert_encoding($body,"JIS","UTF-8");

	//添付ファイル追加
	$mail->AddAttachment($attachfile);
	$mail->AddAttachment($attachfile2);

	if (!$mail->Send()){
    	$ser = "エラーが発生しました。お手数ですが、再度お試しください";
	}else{
		//添付ファイル削除
		if($_POST[filename]!=""){ unlink("../files/".$_POST[filename]); }
		if($_POST[filename2]!=""){ unlink("../files/".$_POST[filename2]); }
    	header("Location: touroku_thanks.html?m=".$_POST[mail]);
	}

}

//履歴書
if (is_uploaded_file($_FILES["rireki"]["tmp_name"])) {

	//前回アップしたものがあれば削除
	if($_POST[filename]!=""){ unlink("../files/".$_POST[filename]); }

	//拡張子
	$p=pathinfo($_FILES["rireki"]["name"]);
	$_POST[filename]=$today.".".$p[extension];

	if (move_uploaded_file($_FILES["rireki"]["tmp_name"], "../files/".$_POST[filename])) {
		chmod("../files/".$_POST[filename], 0644);
	}
}

//スキルシート
if (is_uploaded_file($_FILES["skill"]["tmp_name"])) {

	//前回アップしたものがあれば削除
	if($_POST[filename2]!=""){ unlink("../files/".$_POST[filename2]); }

	//拡張子
	$p=pathinfo($_FILES["skill"]["name"]);
	$_POST[filename2]=$today."_skill.".$p[extension];

	if (move_uploaded_file($_FILES["skill"]["tmp_name"], "../files/".$_POST[filename2])) {
		chmod("../files/".$_POST[filename2], 0644);
	}
}
?>

<?
include("head.php");
?>

<body>

    <?
    include("header.php");
    ?>

	<div class="container content">
		<div class="row">

			<section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main">
				<h1>登録面談受付中</h1>
                <div class="breadcrumbs">
                  <ul class="row">
                    <li><a href="index.html">シニアエンジニア向けの求人サイトTOP</a></li>
                    <li>登録面談受付中</li>
                  </ul>
                </div>

				<form action="touroku_kakunin.html" method="POST" enctype="multipart/form-data" name="form" id="formid">

				<input type="hidden" name="filename" value="<? echo $_POST[filename]; ?>">
				<input type="hidden" name="filename2" value="<? echo $_POST[filename2]; ?>">

				以下の入力内容をご確認ください。
				<?
				if($ser!=""){ echo "<p class='m-t2 m-b2'><font color=red>".$ser."</font></p>"; }
				?>

				<div class="formstyle">
					<table>
						<tr>
							<th>お名前 <span class="red">(必須)</span></th>
							<td>
								<?
								if($_POST[name]==""){ $er=1; echo "<span class='red'>入力されていません</span>"; }
								echo $_POST[name];
								?>
								<input type="hidden" name="name" value="<? echo $_POST[name]; ?>">
							</td>
						</tr>
						<tr>
							<th>フリガナ <span class="red">(必須)</span></th>
							<td>
								<?
								if($_POST[hurigana]==""){ $er=1; echo "<span class='red'>入力されていません</span>"; }
								echo $_POST[hurigana];
								?>
								<input type="hidden" name="hurigana" value="<? echo $_POST[hurigana]; ?>">
							</td>
						</tr>
						<tr>
							<th>性別 <span class="red">(必須)</span></th>
							<td>
								<?
								if($_POST[sei]==""){ $er=1; echo "<span class='red'>選択されていません</span>"; }
								echo $_POST[sei];
								?>
								<input type="hidden" name="sei" value="<? echo $_POST[sei]; ?>">
							</td>
						</tr>
						<tr>
							<th>年齢 <span class="red">(必須)</span></th>
							<td>
								<?
								if($_POST[age]==""){ $er=1; echo "<span class='red'>入力されていません</span>"; }
								else{ echo $_POST[age]."歳"; }
								?>
								<input type="hidden" name="age" value="<? echo $_POST[age]; ?>">
							</td>
						</tr>
						<tr>
							<th>お電話番号 <span class="red">(必須)</span></th>
							<td>
								<?
								if($_POST[tel]==""){ $er=1; echo "<span class='red'>入力されていません</span>"; }
								echo $_POST[tel];
								?>
								<input type="hidden" name="tel" value="<? echo $_POST[tel]; ?>">
							</td>
						</tr>
						<tr>
							<th>メールアドレス <span class="red">(必須)</span></th>
							<td><?
								if($_POST[mail]==""){ $er=1; echo "<span class='red'>入力されていません</span>"; }
								elseif (!preg_match("/^([a-zA-Z0-9])+([a-zA-Z0-9\._-])*@([a-zA-Z0-9_-])+([a-zA-Z0-9\._-]+)+$/",$_POST[mail])){ $er=1; echo "<span class='red'>正しいメールアドレスをご入力ください</span>"; }
								echo $_POST[mail];
								?>
								<input type="hidden" name="mail" value="<? echo $_POST[mail]; ?>">
							</td>
						</tr>
						<tr>
							<th>最寄り駅</th>
							<td>
								<?
								echo $_POST[eki];
								?>
								<input type="hidden" name="eki" value="<? echo $_POST[eki]; ?>">
							</td>
						</tr>
						<tr>
							<th>希望報酬</th>
							<td>
								<?
								echo $kakaku[($_POST[tanka])];
								?>
								<input type="hidden" name="tanka" value="<? echo $_POST[tanka]; ?>">
							</td>
						</tr>
						<tr>
							<th>希望業務開始日</th>
							<td>
								<?
								echo $_POST[colname];
								?>
								<input type="hidden" name="colname" value="<? echo $_POST[colname]; ?>">
							</td>
						</tr>
						<tr>
							<th>面談希望日</th>
							<td>
								<?
								echo $_POST[colname2];
								?>
								<input type="hidden" name="colname2" value="<? echo $_POST[colname2]; ?>">
						</td>
						</tr>
						<tr>
							<th>履歴書 / 職務経歴書</th>
							<td>
								<?
								if($_POST[filename]!=""){
								?>
								<b>ファイルアップロード済</b>
								<?
								}
								?>
							</td>
						</tr>
						<tr>
							<th>スキルシート <span class="red">(必須)</span></th>
							<td>
								<?
								if($_POST[filename2]!=""){
								?>
								<b>ファイルアップロード済</b>
								<?
								} else { $er=1; echo "<span class='red'>アップロードされていません</span>"; }
								?>
							</td>
						</tr>
						<tr>
							<th>出張登録制度</th>
							<td>
								<?
								echo $_POST[syuttyou];
								?>
								<input type="hidden" name="syuttyou" value="<? echo $_POST[syuttyou]; ?>">
							</td>
						</tr>
						<tr>
							<th>備考<span class="red"></span></th>
							<td>
								<?
								echo preg_replace("/\n/","<br>",$_POST[naiyou]);
								?>
								<input type="hidden" name="naiyou" value="<? echo $_POST[naiyou]; ?>">
							</td>
						</tr>
					</table>
				</div>
				<div class="kwaku">
					<div class="search_set">
						<p><input type="image" src="" class="btn_base btn_back" onclick="javascript:document.form.action='touroku.html';"></p>
						<p>
							<?
							if($er==""){
							?>
							<input type="image" name="sousin" src="" class="btn_base btn_send">
							<?
							}
							?>
						</p>
					</div>
				</div>
			</form>

			</section><!--/.main-->

			<aside class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			  <?
			  include("side.php");
			  ?>
			</aside><!--/aside-->

		</div><!--/.row-->
	</div><!-- /.container-->

    <?
    include("footer.php");
    ?>

</body>
</html>
