@charset "EUC-JP";

/* ------------ BASE ------------ */

body {
	padding:0;
	color:#333;
	background-color: #efefef;
	background: url(../img_common/back.png) repeat top left;
}

#container{
	width: 900px;
	background-color:#fff;
}

/* ------------ link property ------------ */

a {	text-decoration:none;}
a:link {	color:#333;}
a:visited {	color:#333;}
a:active {	color:#333;}
a:hover {	color:#333; text-decoration: underline;}


/* ------------ head section ------------ */

#headSec {
	padding:20px;
	width:860px;
	border-bottom:solid 1px #efefef;
}


/* ------------ global navigation section ------------ */

#gNaviSec {
	
}

#gNaviSec ul li {
	
}


/* ------------ main contents ------------ */


#alpha {
	float: right;
	width: 580px;
}

#beta {
	float: left;
	width: 185px;
}


/* ------------ side contents ------------ */

#sideNavi {
	
}

#bodySec {
	margin:0 auto;
	padding:20px;
	width:860px;
}




/*-------------footlink--------------------*/


/* ------------ foot section ------------ */

#footSec {
	padding:20px;
	width:860px;
	background-color:#333;
}

/* ------------ page navi ------------ */

.pagetop {
	
}

#login-inner{
	margin-top:30px;	
	margin-bottom:100px;
}

#login-inner th{
	padding:10px;
	border:solid 1px #ccc;
}

#login-inner td{
	padding:10px;
	border:solid 1px #ccc;
}

.red{ color:#F00; }


.head{
	font-weight:bold;
	padding:5px;
	border-left:3px solid #F60;
	padding-left:10px;
	background-color:#efefef;
	border-bottom:1px #ccc solid;
	color:#333;
}

#beta p{
	padding:5px;
	padding-left:10px;
	background-color:#F6F6F6;
	border-bottom:1px #ccc solid;
	border-top:1px #fff solid;
}


#beta{
	width:200px;	
	float:left;
}

#alpha{
	padding-left:20px;
	width:635px;	
	float:right;
}

#alpha h1{
	font-size:170%;
	font-weight:bold;
	width:610px;
	margin-bottom:20px;
	color:#333;
}

.nextf{
	margin-top:10px;
	width:615px;
	padding:10px;
	background-color:#efefef;
	text-align:center;
}








