@charset "EUC-JP";

/* ------------ fontsize button active 

#fontsizeBlock ul li#fontsize-small a { background-position: left top;}
#fontsizeBlock ul li#fontsize-middle a { background-position: left bottom;}
#fontsizeBlock ul li#fontsize-large a { background-position: left top;}

------------ */

body {font-size:13px;*font-size:small;*font:x-small;}

/**
 * 99% for safari; 100% is too large
 */
select, input, textarea {font:99%;}

/**
 * Bump up !IE to get to 13px equivalent
 */
pre, code {font:115% monospace;*font-size:100%;}

/**
 * Default line-height based on font-size rather than "computed-value"
 * see: http://www.w3.org/TR/CSS21/visudet.html#line-height
 */
body * {line-height:1.5em;}
