@charset "EUC-JP";
/* for HP reader */
#skiplinkSec ,#headAnc ,#naviAnc ,#mainAnc ,#endMainAnc {
	display: none;
	/* Hides from IE5-Mac */
		/*
		display: block;
		position: absolute;
		top: -500px;
		left: -500px;
		font-size: 1px;
		line-height: 100%;
		*/
	/*end  Hides from IE5-Mac */
}

#pagetop {
	display: block;
	width: 1px;
	height: 1px;
	margin-top: -1px;
	text-indent: -9999em;
	font-size: 0;
	line-height: 0;
}
