/* CSS Document */

body{
text-align:center;
font-size:14px;
padding:0;
margin:0;
}

div{
text-align:left;
width:950px;
padding:40px 0;
margin:0 auto;
}

h1{
font-size:18px;
margin:0 0 1em 0;
}

ul{
list-style:decimal-leading-zero;
}