<?
include("admin/inc.php");
require("PHPMailer/class.phpmailer.php");

$kakaku[400000]="〜400,000円";
$kakaku[500000]="400,000〜500,000円";
$kakaku[600000]="500,000〜600,000円";
$kakaku[700000]="600,000〜700,000円";
$kakaku[999999999]="700,000円〜";

//メール送信
if($_POST[sousin_x]!=""){
	
	function deleteFile($dir)
	{
		$mae=strtotime("-1 day");
		
			if (!$handle=opendir($dir)) die("ディレクトリの読み込みに失敗しました");
			while($filename=readdir($handle))
			{
					if(!preg_match("/^\./", $filename))
					{
						$dt = filectime($dir.$filename);
						if($dt < $mae){ //1日以上経過していれば削除
							if (!unlink($dir.$filename)) die("ファイルの削除に失敗しました");
						}
					}
			}
	}
	
	//古い日付のファイルを削除
	$dir = '../../files/';
	deleteFile($dir);

	//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
	//お客様へメール
	//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
	
	$sendoto=$_POST[mail];
	
	$subject="登録面談のお申し込みありがとうございました";
	$subject=mb_convert_encoding($subject,"JIS","UTF-8");
	$subject=base64_encode($subject);
	$subject="=?iso-2022-jp?B?".$subject."?=";
	
	//* 内容
	$body="==================================================================\n";
	$body.="このメールは、自動的に送信されています。\n";
	$body.="==================================================================\n\n";
	$body.=$_POST[name]."様\n\n";
	$body.="この度は面談のお申し込みありがとうございます。\n";
	$body.="折り返し担当者よりご連絡させて頂きます。\n\n";
	$body.="なお、お問い合わせ順に返信致しておりますが\n";
	$body.="多くのお問い合わせを頂いている場合は\n";
	$body.="返信が遅れる場合があります。\n";
	$body.="予めご了承下さい。\n\n";
	$body.="==================================================================\n";
	$body.="株式会社Miraie\n";
	$body.="〒150－0002 東京都渋谷区渋谷1－12－2 クロスオフィス渋谷4F\n";
	$body.="TEL：03-5774-6300　FAX：03-5774-6301\n";
	$body.="==================================================================\n";
	$body=mb_convert_encoding($body,"JIS","UTF-8");
	
	$headers="From:".$send."\n";
	$headers.="MIME-Version: 1.0\n";
	$headers.="Content-type: text/plain; charset=\"iso-2022-jp\"\n";
	$headers.="Content-Transfer-Encoding: 7bit\n";
	$headers=mb_convert_encoding($headers,"JIS","UTF-8");
	mail($sendoto,$subject,$body,$headers);
	
	//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
	//Miraieへメール
	//※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※

	//言語設定、内部エンコーディングを指定する
	mb_language("japanese");
	mb_internal_encoding("UTF-8");
	
	//日本語添付メールを送る
	$to = $send; //宛先
	$subject = "登録面談フォーム"; //題名
	$body="以下の内容でフォームより送信されました。\n\n";
	$body.="※※※※※※※※※※※※※※※※※※※※※※※※※\n\n";
	$body.="名前：".$_POST[name]."\n";
	$body.="フリガナ：".$_POST[hurigana]."\n";
	$body.="性別：".$_POST[sei]."\n";
	$body.="年齢：".$_POST[age]."歳\n";
	$body.="電話番号：".$_POST[tel]."\n";
	$body.="メール：".$_POST[mail]."\n";
	$body.="最寄り駅：".$_POST[eki]."\n";
	$body.="希望報酬：".$kakaku[($_POST[tanka])]."\n";
	$body.="希望業務開始日：".$_POST[colname]."\n";
	$body.="面談希望日：".$_POST[colname2]."\n";
	$body.="出張登録制度：".$_POST[syuttyou]."\n";
	$body.="備考：\n";
	$body.=ereg_replace("\r\n","\n",$_POST[naiyou])."\n";
	$body.="※※※※※※※※※※※※※※※※※※※※※※※※※\n\n";
	$from = $_POST[mail];
	
	if($_POST[filename]!=""){
	$attachfile = "../../files/".$_POST[filename]; //添付ファイルパス
	}

	if($_POST[filename2]!=""){
	$attachfile2 = "../../files/".$_POST[filename2]; //添付ファイルパス
	}

	$mail = new PHPMailer();
	$mail->CharSet = "iso-2022-jp";
	$mail->Encoding = "7bit";
	 
	$mail->AddAddress($to);
	$mail->From = $from;
	$mail->FromName = mb_encode_mimeheader(mb_convert_encoding($fromname,"JIS","UTF-8"));
	$mail->Subject = mb_encode_mimeheader(mb_convert_encoding($subject,"JIS","UTF-8"));
	$mail->Body  = mb_convert_encoding($body,"JIS","UTF-8");
	 
	//添付ファイル追加
	$mail->AddAttachment($attachfile);
	$mail->AddAttachment($attachfile2);
	$mail->Send();
	
	//添付ファイル削除
	if($_POST[filename]!=""){ unlink("../../files/".$_POST[filename]); }
	if($_POST[filename2]!=""){ unlink("../../files/".$_POST[filename2]); }
	
	header("Location: touroku_thanks.html?m=".$_POST[mail]);

}

//履歴書
if (is_uploaded_file($_FILES["rireki"]["tmp_name"])) {
	
	//前回アップしたものがあれば削除
	if($_POST[filename]!=""){ unlink("../../files/".$_POST[filename]); }
	
	//拡張子
	$p=pathinfo($_FILES["rireki"]["name"]);
	$_POST[filename]=$today.".".$p[extension];
	
	if (move_uploaded_file($_FILES["rireki"]["tmp_name"], "../../files/".$_POST[filename])) {
		chmod("../../files/".$_POST[filename], 0644);
	}
}

//スキルシート
if (is_uploaded_file($_FILES["skill"]["tmp_name"])) {
	
	//前回アップしたものがあれば削除
	if($_POST[filename2]!=""){ unlink("../../files/".$_POST[filename2]); }
	
	//拡張子
	$p=pathinfo($_FILES["skill"]["name"]);
	$_POST[filename2]=$today."_skill.".$p[extension];

	if (move_uploaded_file($_FILES["skill"]["tmp_name"], "../../files/".$_POST[filename2])) {
		chmod("../../files/".$_POST[filename2], 0644);
	}
}
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" dir="ltr">
<head>
	<meta http-equiv="Content-Language" content="ja">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>登録面談入力内容のご確認｜GEES</title>
	<meta name="description" content="IT業界に精通した専任スタッフが、あなたの詳細なスキルやご要望をお伺いし、ご要望に沿った案件をご提案いたします。出張登録制度あり。">
	<meta name="keywords" content="IT,求人,検索,登録面談,出張登録">
	<!-- for legacy browser -->
	<link rel="stylesheet" type="text/css" href="resource/css/legacy.css">
	<!-- for modern browser -->
	<link rel="stylesheet" type="text/css" href="resource/css/modern.css" media="screen,print">
	<link rel="stylesheet" type="text/css" href="resource/css/font.css" media="screen,print" title="default">
	<link rel="stylesheet" type="text/css" href="css/index.css" media="screen,print" title="default">
	<link rel="stylesheet" type="text/css" href="resource/css/nivo-slider.css" media="screen,print" title="default">
	<link rel="stylesheet" type="text/css" href="resource/css/themes/default/default.css" media="screen,print" title="default">
	<!-- load JavaScript -->
	<script type="text/javascript" src="resource/script/common.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript" charset="utf-8">
    <!--
    google.load("jquery", "1");
    -->
    </script>
    <script type="text/javascript" src="resource/script/jquery.nivo.slider.pack.js"></script> 
    <script type="text/javascript">
	$(window).load(function() {
        $('#slider').nivoSlider({
								effect:'random',
								pauseTime:10000
								});
    });
	
	$(function() {
		
		// Twitter
	function date_format(date){
	    function format(str){
	        return ("00" + str).slice(-2);
	    }
	    var array = date.split(" ");
	    date = new Date(array[1] + " " + array[2] + ", " + array[5] + " " + array[3]);
		date.setHours(date.getHours() + 9);
	    return date.getFullYear()  + "/" +
		       format(date.getMonth() + 1) + "/" +
	           format(date.getDate())      + " " +
	           format(date.getHours())     + ":" +
	           format(date.getMinutes());
	}
	$.getJSON('http://twitter.com/statuses/user_timeline/miraie_GEES.json?count=3&callback=?', function (json) {
		for(var i in json){
			var text = json[i].text;
			var created_at = json[i].created_at;
			var twdate = date_format(created_at);
			text = text.replace(/(https?:\/\/[-a-z0-9._~:\/?#@!$&amp;amp;amp;\'()*+,;=%]+)/ig,'<a href="$1" target="_blank">$1</a>').replace(/@+([_A-Za-z0-9-]+)/ig,'<a href="http://twitter.com/$1" target="_blank">@$1</a>').replace(/#+([_A-Za-z0-9-]+)/ig,'<a href="http://search.twitter.com/search?q=$1" target="_blank">#$1</a>');
			$("#twitterArea").append('<span class="fwb txt10">' + twdate + '</span>' + '<p class="">' + text + '</p>');
		}
	});
			   
	});
	
	</script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js" defer="defer"></script>
    <script type="text/javascript" src="resource/script/jkl-calendar.js" charset="UTF-8"></script>
    <script type="text/javascript">
    var cal = new JKL.Calendar("calid","formid","colname");
    var cal2 = new JKL.Calendar("calid2","formid","colname2");
    </script>
    
</head>
<body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37830642-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<div id="fb-root"></div>
<script type="text/javascript">(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	
	<!-- skip sec/ -->
	<div id="skiplinkSec">
		<ul>
			<li><a href="#headAnc">ヘッダーへジャンプします</a></li>
			<li><a href="#naviAnc">メニューへジャンプします</a></li>
			<li><a href="#mainAnc">本文へジャンプします</a></li>
		</ul>
	</div>
	<!-- /skip sec -->

<div id="container">

	<p><a name="headAnc" id="headAnc">ヘッダーのはじまりです</a></p>
	
	<div id="headSec">
    	<div id="head1">国籍制限不問の案件が多数！グローバルエンジニア向けの求人案件検索サイト、随時更新中！</div>
        <div id="head2" class="clearfix">
        	<div class="floatLeft w300 m-t1"><a href="index.html"><img src="resource/img_common/0120logo.png" alt="グローバルエンジニア向けの求人案件検索サイト｜GEES"></a></div>
            <div class="floatLeft w600 alignRight m-t1"><img src="resource/img_common/headtel2.png" alt=""></div>
        </div>
        <div id="head3" class="clearfix">
        	<ul>
            <li><a href="index.html"><img src="resource/img_common/navi1.png" alt="トップページ" class="imgover"></a></li>
            <li><a href="about.html"><img src="resource/img_common/navi2.png" class="imgover" alt=""></a></li>
            <li><a href="flow.html"><img src="resource/img_common/navi3.png" alt="就業までのフロー" class="imgover"></a></li>
            <li><a href="list.html"><img src="resource/img_common/navi4.png" alt="新着求人案件" class="imgover"></a></li>
            <li><a href="company.html"><img src="resource/img_common/navi5.png" alt="運営会社" class="imgover"></a></li>
            <li><a href="inquiry.html"><img src="resource/img_common/navi6.png" alt="お問い合わせ" class="imgover"></a></li>
            </ul>
        </div>
	<!-- /▲head sec -->
	</div>
	
	<hr>
	
	<div id="bodySec" class="clearfix">
    	
        <div id="main">
        	
            <p><img src="img/touroku/title.png" alt="登録面談受付中" width="648" height="56"></p>
            
            <div class="m-t1 m-b2"><a href="index.html">グローバルエンジニア向けの求人サイトTOP</a> > 登録面談受付中</div>
            
            	<form action="touroku_kakunin.html" method="POST" enctype="multipart/form-data" name="form" id="formid">
                
                <input type="hidden" name="filename" value="<? echo $_POST[filename]; ?>">
                <input type="hidden" name="filename2" value="<? echo $_POST[filename2]; ?>">
                
                以下の入力内容をご確認ください。
                
                <table width="645" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <th width="175">お名前 <span class="red">(必須)</span></th>
                    <td width="470">
					<?
                      if($_POST[name]==""){ $er=1; echo "<span class='red'>入力されていません</span>"; }
					  echo $_POST[name];
					  ?>
                    <input type="hidden" name="name" value="<? echo $_POST[name]; ?>">
                    </td>
                  </tr>
                  <tr>
                    <th>フリガナ <span class="red">(必須)</span></th>
                    <td>
					<?
                      if($_POST[hurigana]==""){ $er=1; echo "<span class='red'>入力されていません</span>"; }
					  echo $_POST[hurigana];
					  ?>
                    <input type="hidden" name="hurigana" value="<? echo $_POST[hurigana]; ?>">
                    </td>
                  </tr>
                  <tr>
                    <th>性別 <span class="red">(必須)</span></th>
                    <td>
					<?
                      if($_POST[sei]==""){ $er=1; echo "<span class='red'>選択されていません</span>"; }
					  echo $_POST[sei];
					  ?>
                    <input type="hidden" name="sei" value="<? echo $_POST[sei]; ?>">
                    </td>
                  </tr>
                  <tr>
                    <th>年齢 <span class="red">(必須)</span></th>
                    <td>
					<?
                      if($_POST[age]==""){ $er=1; echo "<span class='red'>入力されていません</span>"; }
					  else{ echo $_POST[age]."歳"; }
					  ?>
                    <input type="hidden" name="age" value="<? echo $_POST[age]; ?>">
                    </td>
                  </tr>
                  <tr>
                    <th>お電話番号 <span class="red">(必須)</span></th>
                    <td>
					<?
                      if($_POST[tel]==""){ $er=1; echo "<span class='red'>入力されていません</span>"; }
					  echo $_POST[tel];
					  ?>
                    <input type="hidden" name="tel" value="<? echo $_POST[tel]; ?>">
                  </tr>
                  <tr>
                    <th width="175">メールアドレス <span class="red">(必須)</span></th>
                    <td width="470"><?
                      if($_POST[mail]==""){ $er=1; echo "<span class='red'>入力されていません</span>"; }
					  elseif (!preg_match("/^([a-zA-Z0-9])+([a-zA-Z0-9\._-])*@([a-zA-Z0-9_-])+([a-zA-Z0-9\._-]+)+$/",$_POST[mail])){ $er=1; echo "<span class='red'>正しいメールアドレスをご入力ください</span>"; }
					  echo $_POST[mail];
					  ?>
                    <input type="hidden" name="mail" value="<? echo $_POST[mail]; ?>"></td>
                  </tr>
                  <tr>
                    <th>最寄り駅</th>
                    <td>
					<?
					  echo $_POST[eki];
					  ?>
                    <input type="hidden" name="eki" value="<? echo $_POST[eki]; ?>">
                    </td>
                  </tr>
                  <tr>
                    <th>希望報酬</th>
                    <td>
					<?
					  echo $kakaku[($_POST[tanka])];
					?>
                    <input type="hidden" name="tanka" value="<? echo $_POST[tanka]; ?>">
                    </td>
                  </tr>
                  <tr>
                    <th>希望業務開始日</th>
                    <td>
					<?
					  echo $_POST[colname];
					?>
                    <input type="hidden" name="colname" value="<? echo $_POST[colname]; ?>">
                    </td>
                  </tr>
                  <tr>
                    <th>面談希望日</th>
                    <td>
					<?
					  echo $_POST[colname2];
					?>
                    <input type="hidden" name="colname2" value="<? echo $_POST[colname2]; ?>">
                    </td>
                  </tr>
                  <tr>
                    <th>履歴書 / 職務経歴書</th>
                    <td>
                    <?
					if($_POST[filename]!=""){
					?>
                    <b>ファイルアップロード済</b>
					<?
					}
					?>
                    </td>
                  </tr>
                  <tr>
                    <th>スキルシート</th>
                    <td>
                    <?
					if($_POST[filename2]!=""){
					?>
                    <b>ファイルアップロード済</b>
					<?
					}
					?>
                    </td>
                  </tr>
                  <tr>
                    <th>出張登録制度</th>
                    <td>
					<?
					  echo $_POST[syuttyou];
					?>
                    <input type="hidden" name="syuttyou" value="<? echo $_POST[syuttyou]; ?>">
                    </td>
                  </tr>
                  <tr>
                    <th width="175">備考<span class="red"></span></th>
                    <td width="470">
					<?
					echo preg_replace("/\n/","<br>",$_POST[naiyou]);
					?>
                    <input type="hidden" name="naiyou" value="<? echo $_POST[naiyou]; ?>"></td>
                  </tr>
                </table>
                
          <div class="kwaku m-t2 alignCenter">
            <input type="image" src="img/inquiry/modoru.png" onclick="javascript:document.form.action='touroku.html';">
            <?
				if($er==""){
				?>
            <input type="image" name="sousin" src="img/inquiry/sousin.png" class="ml20">
            <?
				}
				?>
          </div>
                
          </form>
            
        </div>
       
        <div id="sub">
            <?
			include("side.php");
			?>
        </div>

	<!-- /▲body sec --></div>

<!-- /container--></div>

<div id="pagetop" class="p-t5"><a href="javascript:backToTop();"><img src="resource/img_common/pagetop.png" alt=""></a></div>

<div id="footSec" class="clearfix">
	
    <div id="footin" class="p-t15">    <div class="floatLeft w330"><a href="index.html"><img src="resource/img_common/0120logo2.png" alt="グローバルエンジニア向けの求人案件検索サイト｜GEES"></a></div>
    <div class="floatLeft w370 p-t15 f11 alignLeft">国籍制限不問の案件が多数！グローバルエンジニア向けの求人案件検索サイト、随時更新中！</div>
    <div class="floatLeft w190"><img src="resource/img_common/foottel.png" alt=""></div>
</div>
    
    <div id="footin2" class="p-t2">
		
        <div class="floatLeft footcom alignLeft">
        <p class="f13 bold">株式会社Miraie</p>
        <p class="f11 m-t05">〒150－0002</p>
        <p class="f11">東京都渋谷区渋谷1－12－2 クロスオフィス渋谷4F</p>
        <p class="f11 m-t05">TEL 03-5774-6300　FAX 03-5774-6301</p>
        </div>
        
        <div class="floatLeft w580 ml20 alignLeft p-t05">
        <p class="aline p-b1"><img src="resource/img_common/service.png" alt="Service"></p>
        <p class="p-t1">
        <img src="resource/img_common/flow2.png" class="imgcenter" alt=""> <a href="list.html" herf="">新着案件</a>
        <img src="resource/img_common/flow2.png" class="imgcenter ml20" alt=""> <a href="about.html">GEESとは</a>
        <img src="resource/img_common/flow2.png" class="imgcenter ml20" alt=""> <a href="flow.html">就業までのフロー</a>
        <img src="resource/img_common/flow2.png" class="imgcenter ml20" alt=""> <a href="company.html">運営会社</a>
        <img src="resource/img_common/flow2.png" class="imgcenter ml20" alt=""> <a href="inquiry.html">お問い合わせ</a>
        </p>
        </div>
        
	</div>
        
<!-- /foot sec -->
</div>

</body>
</html>
