@charset "UTF-8";

/* ------------ tools ------------ */

/* float reset */

/* .clearfix class wraps enclosing block element around inner floated elements */
.clearfix {
	zoom:1;/*for IE 5.5-7*/
}
.clearfix:after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0.1px;
    clear: both;
    font-size: 0.1em;
    line-height: 0;
}
* html .clearfix {
	display: inline-block;
}

/* no ie mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* */

.clr {
    clear: both;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: 0 -1px -1px 0;
    border: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}

/* font */

.bold { font-weight:bold;}

/* float set */

.floatLeft	{float:left}
.floatRight	{float:right}

/* align set */

.alignLeft	{text-align:left;}
.alignCenter{text-align:center;}
.alignCenter > * {margin: 0 auto;}
.alignRight	{text-align:right;}


/* ----- Heading style ----- */



/* space */

.m-t0 {	margin-top:0;}
.m-t05 {margin-top: 5px;}
.m-t07 {margin-top: 7px;}
.m-t1 {	margin-top:10px;}
.m-t12 {margin-top:12px;}
.m-t15 {margin-top:15px;}
.m-t2 {	margin-top:20px;}
.m-t25 {margin-top:25px;}
.m-t3 {	margin-top:30px;}
.m-t35 {margin-top:35px;}
.m-t4 {	margin-top:40px;}
.m-t45 {margin-top:45px;}
.m-t5 {	margin-top:50px;}
.m-t55 {margin-top:55px;}
.m-t6 {	margin-top:60px;}
.m-t65 {margin-top:65px;}
.m-t7 {	margin-top:70px;}
.m-t75 {margin-top:75px;}
.m-t8 {	margin-top:80px;}
.m-t85 {margin-top:85px;}

.m-b0 {	margin-bottom:0;}
.m-b05 {margin-bottom: 5px;}
.m-b07 {margin-bottom: 7px;}
.m-b1 {	margin-bottom:10px;}
.m-b12 {margin-bottom:12px;}
.m-b15 {margin-bottom:15px;}
.m-b2 {	margin-bottom:20px;}
.m-b25 {margin-bottom:25px;}
.m-b3 {	margin-bottom:30px;}
.m-b35 {margin-bottom:35px;}
.m-b4 {	margin-bottom:40px;}
.m-b45 {margin-bottom:45px;}
.m-b5 {	margin-bottom:50px;}
.m-b55 {margin-bottom:55px;}
.m-b6 {	margin-bottom:60px;}
.m-b65 {margin-bottom:65px;}
.m-b7 {	margin-bottom:70px;}
.m-b75 {margin-bottom:75px;}
.m-b8 {	margin-bottom:80px;}
.m-b85 {margin-bottom:85px;}

.p-t0 {	padding-top:0;}
.p-t05 {padding-top: 5px;}
.p-t07 {padding-top: 7px;}
.p-t1 {	padding-top:10px;}
.p-t12 {padding-top:12px;}
.p-t15 {padding-top:15px;}
.p-t2 {	padding-top:20px;}
.p-t25 {padding-top:25px;}
.p-t3 {	padding-top:30px;}
.p-t35 {padding-top:35px;}
.p-t4 {	padding-top:40px;}
.p-t45 {padding-top:45px;}
.p-t5 {	padding-top:50px;}
.p-t55 {padding-top:55px;}
.p-t6 {	padding-top:60px;}
.p-t65 {padding-top:65px;}
.p-t7 {	padding-top:70px;}
.p-t75 {padding-top:75px;}
.p-t8 {	padding-top:80px;}
.p-t85 {padding-top:85px;}

.p-b0 {	padding-bottom:0;}
.p-b05 {padding-bottom: 5px;}
.p-b07 {padding-bottom: 7px;}
.p-b1 {	padding-bottom:10px;}
.p-b12 {padding-bottom:12px;}
.p-b15 {padding-bottom:15px;}
.p-b2 {	padding-bottom:20px;}
.p-b25 {padding-bottom:25px;}
.p-b3 {	padding-bottom:30px;}
.p-b35 {padding-bottom:35px;}
.p-b4 {	padding-bottom:40px;}
.p-b45 {padding-bottom:45px;}
.p-b5 {	padding-bottom:50px;}
.p-b55 {padding-bottom:55px;}
.p-b6 {	padding-bottom:60px;}
.p-b65 {padding-bottom:65px;}
.p-b7 {	padding-bottom:70px;}
.p-b75 {padding-bottom:75px;}
.p-b8 {	padding-bottom:80px;}
.p-b85 {padding-bottom:85px;}

.w90{ width:90px; }
.w92{ width:92px; }
.w100{ width:100px; }
.w105{ width:105px; }
.w110{ width:110px; }
.w150{ width:150px; }
.w190{ width:190px; }
.w200{ width:200px; }
.w210{ width:210px; }
.w230{ width:230px; }
.w280{ width:280px; }
.w289{ width:289px; }
.w300{ width:300px; }
.w310{ width:310px; }
.w320{ width:320px; }
.w330{ width:330px; }
.w340{ width:340px; }
.w350{ width:350px; }
.w370{ width:370px; }
.w390{ width:390px; }
.w420{ width:420px; }
.w480{ width:480px; }
.w500{ width:500px; }
.w535{ width:535px; }
.w555{ width:555px; }
.w580{ width:580px; }
.w600{ width:600px; }
.w647{ width:647px; }

.imgcenter{ vertical-align:middle; }

.ml10{ margin-left:10px; }
.ml20{ margin-left:20px; }

.lh{ line-height:25px; }

.red{ color:red; }
.orange{
	color: #FF0000;
}
