@charset "UTF-8";

/* ------------ BASE ------------ */

body {
	color:#333;
	background-color: #FFFFF6;
}

#container{
	width: 100％;
	
}

/* ------------ link property ------------ */

a {	text-decoration:underline;}
a:link {	color:#333;}
a:visited {	color:#333;}
a:active {	color:#333;}
a:hover {	color:#333; text-decoration: none;}


/* ------------ head section ------------ */

#head1{
	margin:0 auto;
	width:900px;
	height:30px;
	line-height:30px;
	font-size:11px;
}

#head2{
	margin:0 auto;
	width:900px;
	height:77px;
	line-height:77px;
}

#head3{
	margin:0 auto;
	width:900px;
	height:70px;
}

#head3 ul li{
	float:left;	
}

#headSec {
	background: url(../img_common/headback.png) repeat-x top left;
	height:189px;
}


#bodySec{
	margin:0 auto;
	margin-top:20px;
	width:900px;
}


/* ------------ main contents ------------ */


#main {
	float: left;
	width: 650px;
}

#sub {
	text-align:right;
	float: left;
	width: 231px;
	margin-left:19px;
}


/* ------------ side contents ------------ */

#sideNavi {
	
}




/*-------------footlink--------------------*/


/* ------------ foot section ------------ */

#footSec {
	width:100%;
	height:300px;
	background: url(../img_common/footback.png) repeat-x top left;
}

#footin{
	width:900px;
	height:80px;
	margin:0 auto;
}

#footin2{
	width:900px;
	margin:0 auto;
}

.footcom{
	padding:15px;
	width:267px;
	height:72px;
	background: url(../img_common/footcom.png) no-repeat top left;
}

/* ------------ page navi ------------ */

#pagetop {
	text-align:right;
	width:900px;
	height:27px;
	margin:0 auto;
}


/* twitter */
#twitterWidget{
	width: 208px;
	padding: 15px 10px;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	background-color: #fff;
	text-align:left;
}
#twitterAccount{
	margin-bottom: 10px;
}
#twitterLogo{
	width: 100px;
	float: left;
}
#octAccount{
	width: 100px;
	float: right;
	text-align: right;
	font-size: 77%;
	font-weight: bold;
	color: #333;
}
#octAccount a,
#octAccount a:hover{
	color: #333;
}
#twitterTitle{
	margin-bottom: 10px;
	font-size: 77%;
	font-weight: bold;	
	color: #999999;
}
#twitterArea p{
	margin-bottom: 10px;
	font-size: 77%;
	line-height: 1.4;
	color: #616161;
}
#twitterArea p span.tw_link{
	padding-left: 5px;
	color: #0086cd;
}

.line{
	width:647px;
	line-height:40px;
	padding-bottom:10px;
	border-bottom:1px solid #E8E1BE;
}

.aline{
	width:647px;
	height:20px;
	border-bottom:dotted 1px #666;
}

table th{
	border-bottom: 2px solid #FF0000;
	padding: 10px;
	font-weight: bold;
}

table td{
	border-bottom:1px solid #ccc;
	padding:10px;
}

.dtitle{
	font-size:18px;
	font-weight:bold;
	width:635px;
	border-left:5px solid #F60;
	padding-left:10px;
	padding-bottom:3px;
	border-bottom:solid 1px #E8E1BE;
}

.haikei{
	background: url(../../img/detail/img3.png) repeat-y top left;
	padding-left:35px;
	padding-right:35px;
	padding-top:15px;
	width:579px;
}

.enwaku{
	border:solid 1px #E8E1BE;
	padding:10px;
	background-color:#FFF;
	font-size:15px;
	font-weight:bold;
}

.enwaku2{
	border-left:solid 1px #E8E1BE;
	border-right:solid 1px #E8E1BE;
	border-bottom:solid 1px #E8E1BE;
	padding:10px;
	background-color:#FFF;
}
