@charset "EUC-JP";

/* ------------ tools ------------ */
.imgcenter{
vertical-align:middle;
}

/* float reset */

/* .clearfix class wraps enclosing block element around inner floated elements */
.clearfix {
	zoom:1;/*for IE 5.5-7*/
}
.clearfix:after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0.1px;
    clear: both;
    font-size: 0.1em;
    line-height: 0;
}
* html .clearfix {
	display: inline-block;
}

/* no ie mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* */

.clr {
    clear: both;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: 0 -1px -1px 0;
    border: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}

/* font */

.bold { font-weight:bold;}

/* float set */

.floatLeft	{float:left}
.floatRight	{float:right}

/* align set */

.alignLeft	{text-align:left;}
.alignCenter{text-align:center;}
.alignCenter > * {margin: 0 auto;}
.alignRight	{text-align:right;}


/* ----- Heading style ----- */



/* space */

.m-t0 {	margin-top:0;}
.m-t05 {margin-top: 5px;}
.m-t07 {margin-top: 7px;}
.m-t1 {	margin-top:10px;}
.m-t12 {margin-top:12px;}
.m-t15 {margin-top:15px;}
.m-t2 {	margin-top:20px;}
.m-t25 {margin-top:25px;}
.m-t3 {	margin-top:30px;}
.m-t35 {margin-top:35px;}
.m-t4 {	margin-top:40px;}
.m-t45 {margin-top:45px;}
.m-t5 {	margin-top:50px;}
.m-t55 {margin-top:55px;}
.m-t6 {	margin-top:60px;}
.m-t65 {margin-top:65px;}
.m-t7 {	margin-top:70px;}
.m-t75 {margin-top:75px;}
.m-t8 {	margin-top:80px;}
.m-t85 {margin-top:85px;}
.m-t13 {margin-top:130px;}

.m-b0 {	margin-bottom:0;}
.m-b05 {margin-bottom: 5px;}
.m-b07 {margin-bottom: 7px;}
.m-b1 {	margin-bottom:10px;}
.m-b12 {margin-bottom:12px;}
.m-b15 {margin-bottom:15px;}
.m-b2 {	margin-bottom:20px;}
.m-b25 {margin-bottom:25px;}
.m-b3 {	margin-bottom:30px;}
.m-b35 {margin-bottom:35px;}
.m-b4 {	margin-bottom:40px;}
.m-b45 {margin-bottom:45px;}
.m-b5 {	margin-bottom:50px;}
.m-b55 {margin-bottom:55px;}
.m-b6 {	margin-bottom:60px;}
.m-b65 {margin-bottom:65px;}
.m-b7 {	margin-bottom:70px;}
.m-b75 {margin-bottom:75px;}
.m-b8 {	margin-bottom:80px;}
.m-b85 {margin-bottom:85px;}

.p-t0 {	padding-top:0;}
.p-t05 {padding-top: 5px;}
.p-t07 {padding-top: 7px;}
.p-t1 {	padding-top:10px;}
.p-t12 {padding-top:12px;}
.p-t15 {padding-top:15px;}
.p-t2 {	padding-top:20px;}
.p-t25 {padding-top:25px;}
.p-t3 {	padding-top:30px;}
.p-t35 {padding-top:35px;}
.p-t4 {	padding-top:40px;}
.p-t45 {padding-top:45px;}
.p-t5 {	padding-top:50px;}
.p-t55 {padding-top:55px;}
.p-t6 {	padding-top:60px;}
.p-t65 {padding-top:65px;}
.p-t7 {	padding-top:70px;}
.p-t75 {padding-top:75px;}
.p-t8 {	padding-top:80px;}
.p-t85 {padding-top:85px;}

.p-b0 {	padding-bottom:0;}
.p-b05 {padding-bottom: 5px;}
.p-b07 {padding-bottom: 7px;}
.p-b1 {	padding-bottom:10px;}
.p-b12 {padding-bottom:12px;}
.p-b15 {padding-bottom:15px;}
.p-b2 {	padding-bottom:20px;}
.p-b25 {padding-bottom:25px;}
.p-b3 {	padding-bottom:30px;}
.p-b35 {padding-bottom:35px;}
.p-b4 {	padding-bottom:40px;}
.p-b45 {padding-bottom:45px;}
.p-b5 {	padding-bottom:50px;}
.p-b55 {padding-bottom:55px;}
.p-b6 {	padding-bottom:60px;}
.p-b65 {padding-bottom:65px;}
.p-b7 {	padding-bottom:70px;}
.p-b75 {padding-bottom:75px;}
.p-b8 {	padding-bottom:80px;}
.p-b85 {padding-bottom:85px;}

.w100{ width:100px; }
.w200{ width:200px; }
.w400{ width:400px; }
.w850{ width:800px; margin:0 auto; }
.w900{ width:900px; margin:0 auto; }

.ml10{ margin-left:10px; }
.ml05{ margin-left:5px; }
.ml30{ margin-left:30px; }

.mr20{ margin-right:20px; }

/* ----- Button style ----- */

.btn{cursor:pointer;display:inline-block;background-color:#e6e6e6;background-repeat:no-repeat;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.25, #ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);background-image:-moz-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);background-image:-ms-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);background-image:-o-linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);background-image:linear-gradient(#ffffff, #ffffff 0.25, #e6e6e6);padding:4px 14px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;font-size:13px;line-height:18px;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;transition:0.1s linear all;}.btn:hover{background-position:0 -15px;color:#333;text-decoration:none;}
.btn.primary,.btn.danger{color:#fff;}.btn.primary:hover,.btn.danger:hover{color:#fff;}
.btn.primary{background-color:#0064cd;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));background-image:-moz-linear-gradient(#049cdb, #0064cd);background-image:-ms-linear-gradient(#049cdb, #0064cd);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));background-image:-webkit-linear-gradient(#049cdb, #0064cd);background-image:-o-linear-gradient(#049cdb, #0064cd);background-image:linear-gradient(#049cdb, #0064cd);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#0064cd #0064cd #003f81;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn.danger{background-color:#9d261d;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#d83a2e), to(#9d261d));background-image:-moz-linear-gradient(#d83a2e, #9d261d);background-image:-ms-linear-gradient(#d83a2e, #9d261d);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #d83a2e), color-stop(100%, #9d261d));background-image:-webkit-linear-gradient(#d83a2e, #9d261d);background-image:-o-linear-gradient(#d83a2e, #9d261d);background-image:linear-gradient(#d83a2e, #9d261d);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#9d261d #9d261d #5c1611;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn.large{font-size:16px;line-height:28px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.btn.small{padding-right:9px;padding-left:9px;font-size:11px;}
.btn.disabled{background-image:none;filter:alpha(opacity=65);-khtml-opacity:0.65;-moz-opacity:0.65;opacity:0.65;cursor:default;}
.btn:disabled{background-image:none;filter:alpha(opacity=65);-khtml-opacity:0.65;-moz-opacity:0.65;opacity:0.65;cursor:default;}
.btn:active{-webkit-box-shadow:inset 0 3px 7px rgba(0, 0, 0, 0.1),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 3px 7px rgba(0, 0, 0, 0.1),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 3px 7px rgba(0, 0, 0, 0.1),0 1px 2px rgba(0, 0, 0, 0.05);}
button.btn::-moz-focus-inner,input[type=submit].btn::-moz-focus-inner{padding:0;border:0;}

/* ----- Form style ----- */
