@charset "UTF-8";

/* ------------ BASE ------------ */

body {
	color:#333;
	background-color: #FFF;
}

#container{
	width: 100％;

}

/* ------------ link property ------------ */

a {	text-decoration:underline;}
a:link {	color:#333;}
a:visited {	color:#333;}
a:active {	color:#333;}
a:hover {	color:#333; text-decoration: none;}


/* ------------ head section ------------ */

#head1{
	margin:0 auto;
	width:900px;
	height:30px;
	line-height:30px;
	font-size:11px;
}

#head2{
	margin:0 auto;
	width:900px;
	height:77px;
	line-height:77px;
}

#head3{
	margin:0 auto;
	width:900px;
	height:70px;
}

#head3 ul li{
	float:left;
}

#headSec {
	background: url(../img_common/headback.png) repeat-x top left;
	height:189px;
}


#bodySec{
	margin:0 auto;
	margin-top:20px;
	width:900px;
}


/* ------------ main contents ------------ */


#main {
	float: left;
	width: 650px;
}

#sub {
	text-align:right;
	float: left;
	width: 231px;
	margin-left:19px;
}


/* ------------ side contents ------------ */

#sideNavi {

}




/*-------------footlink--------------------*/


/* ------------ foot section ------------ */

#footSec {
	width:100%;
	height:300px;
	background: url(../img_common/footback.png) repeat-x top left;
}

#footin{
	width:900px;
	height:80px;
	margin:0 auto;
}

#footin2{
	width:900px;
	margin:0 auto;
}

#footin3{
	width:900px;
	margin:0 auto;
	padding: 50px 30px 0;
	font-size: 90%;
}

#footin3 p.footin3_left{
	float: left;
}

#footin3 p.footin3_left a{
	color: #fff;
}

#footin3 p.footin3_right{
	color: #fff;
	float: right;
}

.footcom{
	padding:15px;
	width:267px;
	height:72px;
	background: url(../img_common/footcom.png) no-repeat top left;
}

/* ------------ page navi ------------ */

#pagetop {
	text-align:right;
	width:900px;
	height:27px;
	margin:0 auto;
}


/* twitter */
#twitterWidget{
	width: 208px;
	padding: 15px 10px;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	background-color: #fff;
	text-align:left;
}
#twitterAccount{
	margin-bottom: 10px;
}
#twitterLogo{
	width: 100px;
	float: left;
}
#octAccount{
	width: 100px;
	float: right;
	text-align: right;
	font-size: 77%;
	font-weight: bold;
	color: #333;
}
#octAccount a,
#octAccount a:hover{
	color: #333;
}
#twitterTitle{
	margin-bottom: 10px;
	font-size: 77%;
	font-weight: bold;
	color: #999999;
}
#twitterArea p{
	margin-bottom: 10px;
	font-size: 77%;
	line-height: 1.4;
	color: #616161;
}
#twitterArea p span.tw_link{
	padding-left: 5px;
	color: #0086cd;
}

.line{
	width:647px;
	line-height:40px;
	padding-bottom:10px;
	border-bottom:1px solid #E8E1BE;
}

.aline{
	width:647px;
	height:20px;
	border-bottom:dotted 1px #666;
}

table th{
	border-bottom:2px solid #051b40;
	padding:10px;
	font-weight:bold;
}

table td{
	border-bottom:1px solid #ccc;
	padding:10px;
}

.dtitle{
	font-size:18px;
	font-weight:bold;
	width:635px;
	border-left:5px solid #051b40;
	padding-left:10px;
	padding-bottom:3px;
	border-bottom:solid 1px #051b40;
}

.haikei{
	background: url(../../img/detail/img3.png) repeat-y top left;
	padding-left:35px;
	padding-right:35px;
	padding-top:15px;
	width:579px;
}

.enwaku{
	border:solid 1px #051b40;
	padding:10px;
	background-color:#FFF;
	font-size:15px;
	font-weight:bold;
}

.enwaku2{
	border-left:solid 1px #051b40;
	border-right:solid 1px #051b40;
	border-bottom:solid 1px #051b40;
	padding:10px;
	background-color:#FFF;
}



/* campaign*/
#campaign{
  width:610px;
  margin: 0 auto;
  background: #8cdef6;
}

#campaign_detail{
  width: 540px;
  margin: 0 auto;
  padding: 0 15px 40px;
  background: #fff;
}

#campaign_detail h2{
  margin: 0 25px;
  padding: 25px 0 40px;
}

#campaign_detail h3{

  padding-bottom: 40px;
}

#campaign_overview{
  margin: 0 20px;
  padding: 40px 0;
}

#campaign_text{
  margin: 0 10px;
  border-top: solid 1px #999;
  padding-top: 40px;
}

.campaign_text_part{
  margin-bottom: 30px;
}

.campaign_icon{
  float: left;
  padding-right: 30px;
}

.campaign_text_part p, .campaign_text_part ul{
  padding-top: 5px;
  float:left;
  line-height: 140%;
  font-size: 90%;
}

.campaign_text_part p .bold_number{
  color: #f7660b;
  font-size: 180%;
  font-weight: 900;
  letter-spacing:1px;
}

.campaign_text_part p .bold_jp{
  color: #000;
  font-size: 110%;
  font-weight: 900;
}

.campaign_text_part p a{
  color: #f7660b;
  line-height: 120%;
  font-size: 100%;
  font-weight: 900;
  text-decoration: underline;
}

.campaign_text_part p a:hover{
  color: #f70b1b;
}

.campaign_text_part li{
  line-height: 140%;
  padding-bottom: 10px;
  font-weight: 500;
  list-style-type: square;
}
.campaign_text_part li.ab{
  padding-top: 5px;
  font-size: 90%;
  list-style-type: none;
}

a.inq{
  display: block;
  width: 500px;
  height: 74px;
  margin: 40px 55px 0;
  padding-bottom: 40px;
  background: url("../../img/campaign/inquiry_btn.png") no-repeat;
}

a:hover.inq{
  background: url("../../img/campaign/inquiry_btn_on.png") no-repeat;
}





/* privacy policy*/
#privacypolicy{
  width: 610px;
  margin: 0 auto;
  padding: 0 20px;
}

#pp_title1{
  width: 580px;
  height: 20px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #051b40;
  border-bottom: 4px solid #aeb4bf;
  font-size: 135%;
  font-weight: 900;
  color: #fff;
}

h3.pp_title2{
  width: 580px;
  height: 20px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #e7e7e7;
  border-left: 8px solid #051b40;
  font-size: 110%;
  font-weight: 600;
}

#privacypolicy p{
  margin: 0 15px 30px 15px;
  font-size: 90%;
  line-height: 1.2;
}

#privacypolicy ul{
    margin: 0 0 30px 0;
}

#privacypolicy ul li{
  margin-left: 30px;
  margin-bottom: 5px;
  font-size: 90%;
  list-style-type: decimal;
}

#privacypolicy h4{
  margin-left: 15px;
  padding-bottom: 10px;
  font-size: 100%;
  font-weight: 500;
}

#privacypolicy p.pp_company{
  line-height: 1.3;
}
