@charset "UTF-8";

/* ------------ property resset ------------ */

html {
    margin: 0;
    /* setting border: 0 hoses ie6 win window inner well border */
    padding: 0;
	overflow-y:scroll;
}
body {
    margin: 0;
    /* setting border: 0 hoses ie5 win window inner well border */
    padding: 0;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,fieldset,input,textarea,p,blockquote,th,td{margin:0; padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
fieldset,img,object{border:0; /*vertical-align:bottom;*/}
table{border-collapse:collapse;border-spacing:0;}
caption,th {text-align:left;}
ul {list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;}

hr {display: none; }
strong {font-weight: bold;}

/* ------------ font property ------------ */

/**
 * Percents could work for IE, but for backCompat purposes, we are using keywords.
 * x-small is for IE6/7 quirks mode.
 * 
 */
body {font-size:13px;*font-size:small;*font:x-small;}
/*body {font:13px Osaka,"鐚?竺 鐚違ｊ痰激ャ・按,"Lucida Grande",verdana,arial,sans-serif; *font-size:small;*font:x-small;}*/
/*body {font:middle Osaka,"鐚?竺 鐚違ｊ痰激ャ・按,"・停#・ｇ痺閼2・・Pro W3","Lucida Grande",verdana,arial,sans-serif;}*/
table {font-size:inherit;font:100%;}

/**
 * 99% for safari; 100% is too large
 */
select, input, textarea {font:99%;}
/*select, input, textarea {font:99% Osaka,"鐚?竺 鐚違ｊ痰激ャ・按,"・停#・ｇ痺閼2・・Pro W3","Lucida Grande",verdana,arial,sans-serif;}*/

/**
 * Bump up !IE to get to 13px equivalent
 */
pre, code {font:115% monospace;*font-size:100%;}

/**
 * Default line-height based on font-size rather than "computed-value"
 * see: http://www.w3.org/TR/CSS21/visudet.html#line-height
 */
body * {line-height:1.5em;}
/*body * {line-height:1.22em;}*/

.f10 {font-size: 77%; *font-size: 71%;}
.f11 {font-size: 85%;}
.f12 {font-size: 93%;}
.f13 {font-size: 100%;}
.f14 {font-size: 107%;}
.f15 {font-size: 114%;}
.f16 {font-size: 122%;}
.f17 {font-size: 129%;}
.f18 {font-size: 136%;}
.f19 {font-size: 144%;}
.f20 {font-size: 152%;}
.f21 {font-size: 159%;}
.f22 {font-size: 167%;}
.f23 {font-size: 174%;}
.f24 {font-size: 182%;}
.f25 {font-size: 189%;}
.f26 {font-size: 197%;}

/* ------------ link property ------------ */

/*\*/
a {
overflow: hidden;
}
/**/

/* ------------ layout property ------------ */

body { text-align: center; } /* center on ie */

#container {
    position: relative;
    margin: 0 auto; /* center on everything else */
    text-align: left;
}
#container-inner { position: static; width: auto; }

#headSec { position: relative; width: 100%; }
#headSec-inner { position: static; }

#gNaviSec { position: relative; width: 100%; }
#gNaviSec-inner { position: static; }

#bodySec { position: relative; width: 100%; }
#bodySec-inner { position: static; }

#footSec { position: relative; width: 100%; }
#footSec-inner { position: static; }

#alpha, #beta, #gamma, #delta {
    display: inline; /* ie win bugfix */
    position: relative;
    float: left;
    min-height: 1px;
}

#delta { float: right; }

#alpha-inner, #beta-inner, #gamma-inner, #delta-inner {
    position: static;
}
