<?
include("check.php");

//POSTデータ読み込み
if (is_array($_POST)) {

    $empty = $POST = array();
    foreach ($_POST as $varname => $varvalue) {
    
    if(is_array($varvalue)){
    
        for($i=0;$i<sizeof($varvalue);$i++){
        $varvalue2.=$varvalue[$i];
        if($varvalue[($i+1)]){ $varvalue2.="、"; }
        }
        
        $varvalue=$varvalue2;
        $varvalue2="";
    }
        
    $$varname=$varvalue;
    }
}

//登録
if($kanryou!=""){
	
	if ($gengo == null) {
		$gengo = 0;
		$gengoindex = '';
	}
	
	if ($skill == null) {
		$skill = 0;
		$skillindex = '';
	}
	
	if ($potision == null) {
		$potision = 0;
		$potisionindex = 0;
	}
	
	if ($toku1 == null) {
		$toku1 = 0;
	}
	
	if ($toku2 == null) {
		$toku2 = 0;
	}

	if($id==""){
		
			//新規
			$stmt = $db->prepare( "insert into kyujin_data (kinmuti,gengo,skill,potision,kikan,tanka,mendan,naiyou,bikou,flag,anken,kousinbi,gengoindex,skillindex,potisionindex,toku1,toku2,keiken) 
					values (:kinmuti, :gengo, :skill, :potision, :kikan, :tanka, :mendan, :naiyou, :bikou, :flag, :anken, :today, :gengoindex, :skillindex, :potisionindex, :toku1, :toku2, :keiken)" );
			$stmt->bindParam (':kinmuti',$kinmuti, PDO::PARAM_STR );
			$stmt->bindParam (':gengo', $gengo, PDO::PARAM_STR );
			$stmt->bindParam (':skill', $skill, PDO::PARAM_STR );
			$stmt->bindParam (':potision', $potision, PDO::PARAM_STR );
			$stmt->bindParam (':kikan', $kikan, PDO::PARAM_STR );
			$stmt->bindParam (':tanka', $tanka, PDO::PARAM_STR );
			$stmt->bindParam (':mendan', $mendan, PDO::PARAM_STR );
			$stmt->bindParam (':naiyou', $naiyou, PDO::PARAM_STR );
			$stmt->bindParam (':bikou', $bikou, PDO::PARAM_STR );
			$stmt->bindParam (':flag', $flag, PDO::PARAM_STR );
			$stmt->bindParam (':anken', $anken, PDO::PARAM_STR );
			$stmt->bindParam (':today', $today, PDO::PARAM_STR );
			$stmt->bindParam (':gengoindex', $gengoindex, PDO::PARAM_STR );
			$stmt->bindParam (':skillindex', $skillindex, PDO::PARAM_STR );
			$stmt->bindParam (':potisionindex', $potisionindex, PDO::PARAM_STR );
			$stmt->bindParam (':toku1', $toku1, PDO::PARAM_STR );
			$stmt->bindParam (':toku2', $toku2, PDO::PARAM_STR ); 
			$stmt->bindParam (':keiken', $keiken, PDO::PARAM_STR );
			$stmt->execute ();
	}else{
				
		//編集
		$stmt = $db->prepare("update kyujin_data set kinmuti = :kinmuti, gengo = :gengo, skill = :skill, potision = :potision, kikan = :kikan, tanka = :tanka, mendan = :mendan, naiyou = :naiyou, bikou = :bikou,
				flag = :flag, anken = :anken, kousinbi = :today, gengoindex = :gengoindex, skillindex = :skillindex, potisionindex = :potisionindex, toku1 = :toku1, toku2 = :toku2, keiken = :keiken where kyujin_id = :id");
		$parameter[":kinmuti"] = $kinmuti;
		$parameter[":gengo"] = $gengo;
		$parameter[":skill"] = $skill;
		$parameter[":potision"] = $potision;
		$parameter[":kikan"] = $kikan;
		$parameter[":tanka"] = $tanka;
		$parameter[":mendan"] = $mendan;
		$parameter[":naiyou"] = $naiyou;
		$parameter[":bikou"] = $bikou;
		$parameter[":flag"] = $flag;
		$parameter[":anken"] = $anken;
		$parameter[":today"] = $today;
		$parameter[":gengoindex"] = $gengoindex;
		$parameter[":skillindex"] = $skillindex;
		$parameter[":potisionindex"] = $potisionindex;
		$parameter[":toku1"] = $toku1;
		$parameter[":toku2"] = $toku2;
		$parameter[":keiken"] = $keiken;
		$parameter[":id"] = $id;
		$stmt->execute ($parameter);
	}
	
	header("Location: kyujin_list.html");
}
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" dir="ltr">
<head>
	<meta http-equiv="Content-Language" content="ja">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>コントロールパネル</title>
	<!-- for legacy browser -->
	<link rel="stylesheet" type="text/css" href="resource/css/legacy.css">
	<!-- for modern browser -->
	<link rel="stylesheet" type="text/css" href="resource/css/modern.css" media="screen,print">
	<link rel="stylesheet" type="text/css" href="resource/css/font.css" media="screen,print" title="default">

	<!-- load JavaScript -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript" charset="utf-8">
    <!--
    google.load("jquery", "1");
    -->
    </script>
    <script type="text/javascript" src="resource/script/common.js"></script>
    </head>
    
    <body>
    <form method="POST" action="kyujin_kakunin.html" name="form">
    <input type="hidden" name="id" value="<? echo $id; ?>">
    
    <?
    //データ読み込み
    if (is_array($_POST)) {
        
        $empty = $POST = array();
        foreach ($_POST as $varname => $varvalue) {
        
            if(is_array($varvalue)){
        
                for($i=0;$i<sizeof($varvalue);$i++){
                $varvalue2.=$varvalue[$i];
                if($varvalue[($i+1)]){ $varvalue2.="、"; }
                }
                
                $varvalue=$varvalue2;
                $varvalue2="";
            }
            
            $$varname=$varvalue;
            
            //hidden
            if($varname!="kanryou" and $varname!="id" and $varname!="filename" and $varname!="jun"){
            echo "<input type=\"hidden\" name=\"".$varname."\" value=\"".$varvalue."\">\n";
            }
        }
    }
    ?>
    
	<hr />

<div id="container">
	
	<div id="headSec" class="clearfix">
		
        <div class="floatLeft w420">
        <img src="resource/img_common/logo2.png">
        </div>
        
        <div class="floatLeft w420 alignRight">
        <a href="logout.html" class="btn m-t1">ログアウト</a>
        </div>
        
	</div>
	
	<hr />
	
	<div id="bodySec" class="clearfix">
    
        <div id="alpha">
        <h1>求人案件の編集</h1>
        
        <table width="700" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
          <tr>
            <th width="150">勤務地</th>
            <td class="alignLeft">
            <?
			echo $kinmuti;
			?>
            </td>
          </tr>
          <tr>
            <th>言語<span class="red"></span></th>
            <td class="alignLeft">
            <?
			if($_POST[gengo]!=""){
				
				for($i=0;$i<sizeof($_POST[gengo]);$i++){
					$stmt = $db->prepare ( "select * from kyujin_gengo where gengo_id=:gengo_id" );
					$stmt->bindParam ( ':gengo_id', $_POST[gengo][$i], PDO::PARAM_STR );
					$stmt->execute ();
					$ken = $stmt->rowCount ();
					$data = $stmt->fetch ( PDO::FETCH_ASSOC );
					$gengoindex.=$data[gengo];
					if(($i+1)<sizeof($_POST[gengo])){ $gengoindex.="、"; }
				}
				
				echo $gengoindex;
			}
			?>
            <input type="hidden" name="gengoindex" value="<? echo $gengoindex; ?>">
            </td>
          </tr>
          <tr>
            <th>インフラスキル<br>
              (検索用)</th>
            <td class="alignLeft">
            <?
			if($_POST[skill]!=""){
				
				for($i=0;$i<sizeof($_POST[skill]);$i++){
					$stmt = $db->prepare ( "select * from kyujin_skill where skill_id=:skill_id" );
					$stmt->bindParam ( ':skill_id', $_POST[skill][$i], PDO::PARAM_STR );
					$stmt->execute ();
					$data = $stmt->fetch ( PDO::FETCH_ASSOC );
					$skillindex.=$data[skill];
					if(($i+1)<sizeof($_POST[skill])){ $skillindex.="、"; }
				}
				
				echo $skillindex;
			}
			?>
            <input type="hidden" name="skillindex" value="<? echo $skillindex; ?>">
            </td>
          </tr>
          <tr>
            <th>スキル</th>
            <td class="alignLeft"><?
			if($keiken!=""){ echo preg_replace("/\n/","<br>",$keiken); }
			?></td>
          </tr>
          <tr>
            <th>ポジション<span class="red"></span></th>
            <td class="alignLeft">
            <?
			if($_POST[potision]!=""){
				
				for($i=0;$i<sizeof($_POST[potision]);$i++){
					$stmt = $db->prepare ( "select * from kyujin_potision where potision_id=:potision_id" );
					$stmt->bindParam ( ':potision_id', $_POST[potision][$i], PDO::PARAM_STR );
					$stmt->execute ();
					$data = $stmt->fetch ( PDO::FETCH_ASSOC );
					$potisionindex.=$data[potision];
					if(($i+1)<sizeof($_POST[potision])){ $potisionindex.="、"; }
				}
				
				echo $potisionindex;
			}
			?>
            <input type="hidden" name="potisionindex" value="<? echo $potisionindex; ?>">
            </td>
          </tr>
          <tr>
            <th>期間<span class="red"></span></th>
            <td class="alignLeft"><?
			echo $kikan;
			?></td>
          </tr>
          <tr>
            <th width="150">単価<span class="red"></span></th>
            <td class="alignLeft">
            <?
			echo number_format($tanka)."円";
			?>
            </td>
          </tr>
          <tr>
            <th>面談回数<span class="red"></span></th>
            <td class="alignLeft">
            <?
			echo $mendan;
			?>
            </td>
          </tr>
          <tr>
            <th>案件名<span class="red"></span></th>
            <td class="alignLeft"><?
			echo $anken;
			?></td>
          </tr>
          <tr>
            <th>内容</th>
            <td class="alignLeft">
            <?
			if($naiyou!=""){ echo preg_replace("/\n/","<br>",$naiyou); }
			?>
            </td>
          </tr>
          <tr>
            <th>備考</th>
            <td class="alignLeft">
            <?
			if($bikou!=""){ echo preg_replace("/\n/","<br>",$bikou); }
			?>
            </td>
          </tr>
          <tr>
            <th>特集</th>
            <td class="alignLeft">
            <? if($toku1!=""){ echo "未経験・スキルアップ"; } ?>
            <? if($toku2!=""){ echo "年齢不問"; } ?>
            </td>
          </tr>
          <tr>
            <th>公開<span class="red"></span></th>
            <td class="alignLeft">
            <?
			echo $flag;
			?>
            </td>
          </tr>
        </table>
        
        <div class="nextf">
          <input type="button" class="btn" name="modoru" value="入力画面へ戻る" onclick="document.form.action='kyujin_input.html'; document.form.submit();">
          　
          <?
        if($er==""){
		?>
          <input type="submit" class="btn primary" name="kanryou" value="登録する">
          <?
		}
		?>
        </div>
        
      </div>
        
        
        <div id="beta">
        <? include("menu_side.php"); ?>
        </div>
        	
		            
          </div>
        
	<!-- /▲body sec --></div>
    
		


<!-- /container--></div>
</form>
</body>
</html>
