@charset "utf-8";

body {
	line-height: 1;
	font-size:80%;
}

.wrap {
	width:914px;
    　　margin:0 auto;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
	background: #fff;
}

.topicpath {
	border-bottom:solid 1px #CCC;
	padding:10px 0;
	background:#FAFAFA;
	margin:0 7px;
	padding-left:20px;
}

/* header
-------------------------------------------------------------------------------------------------------*/

#header {
	background:url(../images/header_bg.jpg) repeat-x left top;
	width:900px;
        margin-left:7px;
        margin-right:7px;
	padding:0;  
}

#header .header_top {
	height:33px; 
        position:relative;
	overflow:hidden;
	zoom:1;
}

#header h1 {
        float: left;
        display: inline;
	font-size:100%;
        color: #FFF;
        padding-left: 20px;
        padding-top: 7px;
}

#header #hnavi{
	float: right;
        display: inline;
        text-align: right;
}
#header #hnavi ul{
	list-style:none;
        margin-right: 20px;
        margin-top: 5px;
}
#header #hnavi ul li{
	display: inline;
}

#header #main_vis {
	clear:both;
}



/* mainBase
-------------------------------------------------------------------------------------------------------*/
#mainBase {
	width:860px;
	padding:0 27px;
	padding-top:20px;
    position:relative;
	overflow:hidden;
	zoom:1;
}

/* subBase
-------------------------------------------------------------------------------------------------------*/
#subBase {

}

#subBase .section2 {

}

#subBase .section2 h2 {
	background:#FFFFFF url(../images/h3_bg.jpg) repeat-x left top;
        height:28px;
        font-size:100%;
        padding-top: 12px;
        padding-left: 12px;
        margin-bottom: 20px;
}

#subBase .section2 h3 {
	clear:both;
	border:solid 1px #DDD;
	border-width: 0 0 1px 0;
	background:#FAFAFA;
	font-size:100%;
	padding:10px 15px;
	margin-top:20px;
	margin-bottom:15px;
	zoom: 1;
	font-weight: bold;
}

#subBase .section2 h4 {
	clear:both;
	border-left:solid 3px #0082C3;
	font-size:100%;
	padding:7px 10px;
	margin-top:5px;
	margin-bottom:10px;
	zoom: 1;
	color:#333;
}

#subBase .section2 ul {
	margin-left:35px;
	margin-top:10px;
	margin-bottom:20px;
}
#subBase .section2 ul li {
	margin-bottom:5px;
}

#subBase .section2 ol {
	margin-left:35px;
	margin-bottom:20px;
}
#subBase .section2 ol li {
	margin-bottom:5px;
}

#subBase .section2 p {
	margin-bottom:20px;
}

#subBase .section2 .return {
	margin-top:30px;
	zoom: 1;
        text-align: center;
}

#subBase .section2 table {
	border-collapse: collapse;
	width:100%;
	margin-bottom:25px;
}

#subBase .section2 table tr th{
	text-align:left;
	padding:10px;
	background:#F3F3F3;
	border:1px #cccccc solid;
	font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
	color: #333;
}

#subBase .section2 table tr td{
	text-align:left;
	vertical-align:top;
	padding:10px;
	border:1px #cccccc solid;
	border-top:2px #cccccc solid;
	font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
	color: #333;
}

#subBase .section2 table tr td p{
	padding:0;
	margin:0;
}

#subBase .section2 .topth tr th{
	text-align:center;
}

#subBase .section2 .leftth tr th{
	border-top:1px #cccccc solid;
}
#subBase .section2 .leftth tr td{
	border-top:1px #cccccc solid;
}


#subBase .section2 .subnavi{
	margin-top:10px;
	margin-bottom:15px;
	line-height:200%;
	padding:10px 15px;
	border:solid 1px #CCC;
}

#subBase .section2 .subnavi2{
	margin-top:10px;
	margin-bottom:15px;
	text-align:left;
}

#subBase .section2 .subnavi3{
	margin-top:10px;
	margin-bottom:15px;
	text-align:left;
}

#subBase .section2 .subnavi3 .navi_icon{
	background:#FFFFFF url(../images/navi_icon.gif) no-repeat left center;
	padding-left:15px;
	font-weight:normal;
	margin-right:10px;
}

#subBase .rss {
	text-align:right;
	margin-bottom:0;
}

#subBase .imagec {
	text-align:center;
	margin-bottom:10px;
}

#subBase .imagel {
	float:left;
	display:inline;
	margin-bottom:10px;
	margin-right:20px;
}

#subBase .imager {
	float:right;
	display:inline;
	margin-bottom:10px;
	margin-left:20px;
}

#subBase .imgmemo {
	font-weight:bold;
        font-size:90%;
        padding-top:5px;
}

#subBase .strong {
	color:#003399;
	font-weight:bold;
}

#subBase .pagetop {
	clear:both;
	text-align:right;
	padding-top:40px;
	margin-bottom:0;
}

#subBase p.entrydate {
	text-align:left;
	margin-top:20px;
	margin-bottom:10px;
	padding:5px;
	border:1px solid #CCC;
	background:#FAFAFA;
}

#subBase h4.news_h4 {
	margin-top:0;
	margin-bottom:20px;
}

#subBase .indent {
	text-indent: 1em;
}

#english #subBase p {
	text-align: justify;
        text-justify:distribute;
}

#subBase .a01_color {
	color:#80BF5A;
}
#subBase .a01_bgcolor {
	background:#E7F6D9;
}

#subBase .a02_color {
	color:#0058C2;
}
#subBase .a02_bgcolor {
	background:#D9E6F6;
}

#subBase .a03_color {
	color:#DE6400;
}
#subBase .a03_bgcolor {
	background:#FAE8D9;
}

#subBase .a04_color {
	color:#8100C2;
}
#subBase .a04_bgcolor {
	background:#ECD9F6;
}

#subBase .rgroup {
	padding:0 10px 0 10px;
        margin-bottom: 10px;
}
#subBase .rgroup h4 {
	border:none;
        padding-left: 0;
        padding-bottom: 0;
        margin-bottom: 5px;
}
#subBase .rgroup p {
	padding-bottom: 7px;
}
#english #subBase .rgroup p.rgroupnm {
	padding-bottom: 0;
	margin-bottom: 0;
	text-align:left;
}

#subBase #rgroup01 {
	border-left:solid 3px #80BF5A;
}
#subBase #rgroup02 {
	border-left:solid 3px #0058C2;
}
#subBase #rgroup03 {
	border-left:solid 3px #DE6400;
}
#subBase #rgroup04 {
	border-left:solid 3px #8100C2;
}

.navi_icon{
	background:url(../images/yajirusi3.png) no-repeat left center;
	padding-left:15px;
	font-weight:normal;
}

.pdf_icon{
	background:#FFFFFF url(../images/pdficon.gif) no-repeat left center;
	padding-left:22px;
	font-weight:normal;
}

.top_icon{
	background:#FFFFFF url(../images/top_icon.gif) no-repeat left center;
	padding-left:15px;
	font-weight:normal;
}



/* leftContainer
-------------------------------------------------------------------------------------------------------*/
#leftContainer {
	width:190px;
	float:left;
	display:inline;
}

#leftContainer #mnavi {
list-style:none;
border-top:1px solid #CCC;
width:170px;
margin-bottom: 20px;
z-index: 0;
}
#leftContainer #mnavi li {
margin-bottom:0;
}
#leftContainer #mnavi li a {
font-weight:bold;
color:#333333;
text-decoration:none;
display:block;
width:140px;
padding:11px 15px;
background:url(../images/mnavi.gif) no-repeat left top;
border-bottom:1px solid #CCC;
}
#leftContainer #mnavi li a:hover {
text-decoration:none;
color:#FFFFFF;
background:url(../images/mnavi_on.gif) no-repeat left top;
}
#top #leftContainer #mnavi #mnavi01 a {
color:#FFFFFF;
background:url(../images/mnavi_on.gif) no-repeat left top;
}
#message #leftContainer #mnavi #mnavi02 a {
color:#FFFFFF;
background:url(../images/mnavi_on.gif) no-repeat left top;
}
#outline #leftContainer #mnavi #mnavi03 a {
color:#FFFFFF;
background:url(../images/mnavi_on.gif) no-repeat left top;
}
#research #leftContainer #mnavi #mnavi04 a {
color:#FFFFFF;
background:url(../images/mnavi_on.gif) no-repeat left top;
}
#org #leftContainer #mnavi #mnavi05 a {
color:#FFFFFF;
background:url(../images/mnavi_on.gif) no-repeat left top;
}
#publications #leftContainer #mnavi #mnavi06 a {
color:#FFFFFF;
background:url(../images/mnavi_on.gif) no-repeat left top;
}
#event #leftContainer #mnavi #mnavi07 a {
color:#FFFFFF;
background:url(../images/mnavi_on.gif) no-repeat left top;
}
#news #leftContainer #mnavi #mnavi08 a {
color:#FFFFFF;
background:url(../images/mnavi_on.gif) no-repeat left top;
}


#english #leftContainer #mnavi {
font-size:95%;
}
#english #leftContainer #mnavi {
list-style:none;
border-top:1px solid #CCC;
width:170px;
margin-bottom: 20px;
z-index: 0;
}
#english #leftContainer #mnavi li a {
font-weight:bold;
color:#333333;
text-decoration:none;
display:block;
width:146px;
height:auto;
padding:11px 15px 11px 9px;
background:url(../images/mnavi_en.gif) no-repeat left top;
border-bottom: #CCC solid 1px;
line-height: 140%;
}
#english #leftContainer #mnavi li a:hover {
text-decoration:none;
color:#FFFFFF;
background:url(../images/mnavi_en_on.gif) no-repeat left top;
}
#english #top #leftContainer #mnavi #mnavi01 a {
color:#FFFFFF;
background:url(../images/mnavi_en_on.gif) no-repeat left top;
}
#english #message #leftContainer #mnavi #mnavi02 a {
color:#FFFFFF;
background:url(../images/mnavi_en_on.gif) no-repeat left top;
}
#english #outline #leftContainer #mnavi #mnavi03 a {
color:#FFFFFF;
background:url(../images/mnavi_en_on.gif) no-repeat left top;
}
#english #research #leftContainer #mnavi #mnavi04 a {
color:#FFFFFF;
background:url(../images/mnavi_en_on.gif) no-repeat left top;
}
#english #org #leftContainer #mnavi #mnavi05 a {
color:#FFFFFF;
background:url(../images/mnavi_en_on.gif) no-repeat left top;
}


/* mainContainer
-------------------------------------------------------------------------------------------------------*/

#mainContainer {
	width:670px;
	float:right;
	display:inline;
	position:relative;
	overflow:hidden;
	zoom:1;
}

#mainContainer .inner {
	padding:0 30px 10px 30px;
	width:590px;
}


/* footer
-------------------------------------------------------------------------------------------------------*/





/* 追加分
-------------------------------------------------------------------------------------------------------*/
/*.smenu2 p {
    margin-top: 5px;
    font-weight: bold;
}

.smenu2 a {
    color:#555;
}

.smenu2 .now a {
    color:#0E7010;
}*/

em {
    font-style: italic;
}

/* Hack
-------------------------------------------------------------------------------------------------------*/
.fix:after {
	content: "."; 
	display: block; 
	height: 0;
	clear: both; 
	visibility: hidden;
}
.fix {
	display:inline-block;
}
/* Hides from IE-mac \*/
* html .fix {height: 1%;}
.fix {display: block;}
/* End hide from IE-mac */