@charset "utf-8";

/* admin
-------------------------------------------------------------------------------------------------------*/
#header #h_logout{
	margin-right:15px;
	margin-top:15px;
}
#header #h_logout span{
	background:url(../images/hnavi_icon.gif) no-repeat left 4px;
	padding-left:13px;
}


#member .title{
	padding-bottom:30px;
	background:#F2F2F2;
	padding:10px;
	font-weight:bold;
	font-size:120%;
	border-left:5px solid #333;
}

#member .back{
	background:url(../images/return_icon.gif) no-repeat left 3px;
	padding-left:13px;
	margin-left:15px;
}

#member #login_table {
	margin-top:10px;
	width:400px;
	border-collapse: collapse;
}

#member #login_table tr th {
	width:35%;
	text-align:right;
	padding:10px;
	padding-right:20px;
	vertical-align:top;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

#member #login_table tr td {
	width:65%;
	padding:10px;
	padding-left:20px;
	word-break: break-all;
	border:1px #CCCCCC solid;
}

#member #login_table tr .submit {
	text-align:center;
}


#member .title2{
	padding:5px;
	margin:5px;
	margin-top:15px;
	margin-bottom:10px;
	font-weight:bold;
	font-size:110%;
	border-bottom:1px solid #DDD;
}

#member .menu{
	padding-bottom:25px;
}

#member .menu ul{
	padding-top:10px;
	margin-left:45px;
}

#member .menu ul li{
	margin-bottom:8px;
}



#member #sub_navi{
	text-align:left;
	margin-left:15px;
	margin-top:15px;
	padding-bottom:0;
}
#member #sub_navi span{
	background:url(../images/hnavi_icon.gif) no-repeat left 4px;
	padding-left:13px;
}

#member .list_table {
	margin-top:0;
	width:950px;
	border-collapse: collapse;
}

#member .list_table tr th {
	text-align:center;
	padding:10px;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

#member .list_table tr td {
	padding:10px;
	word-break: break-all;
	border:1px #CCCCCC solid;
	vertical-align:top;
}

#member .list_table tr td table{
border-collapse: collapse;
}
#member .list_table tr td table tr td{
border:none;
width:50%;
}

#member .list_table tr td ul {
	margin-left:20px;
}
#member .list_table tr td ul li{
	margin-bottom:5px;
}
#member .list_table tr td ol {
	margin-left:20px;
}
#member .list_table tr td ol li{
	margin-bottom:5px;
}
#member .list_table tr td dl dt{
	font-weight:bold;
}
#member .list_table tr td dl dd{
	margin-bottom:10px;
}


#member .list_table tr td .editicon {
	background:url(../images/pencil.png) no-repeat left 0px;
	padding-left:18px;
}

#member .list_table .bg {
	background:#F9F9F9;
}


#member .form_table {
	margin-top:10px;
	width:670px;
	margin-left:0;
	border-collapse: collapse;
	margin-bottom:30px;
}

#member .form_table caption {
	text-align:left;
	padding-bottom:5px;
	font-weight:bold;
}

#member .form_table tr th {
	width:18%;
	text-align:left;
	padding:10px;
	padding-right:20px;
	vertical-align:top;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

#member table.form_table tr td {
	width:82%;
	padding:10px;
	word-break: break-all;
	border:1px #CCCCCC solid;
}

#member .form_table tr .submit {
	text-align:center;
}


#member .form_table tr td .type1 {
	border-collapse: collapse;
}

#member .form_table tr td .type1 tr th {
	width:20%;
	text-align:left;
	vertical-align:top;
	padding:10px;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

#member .form_table tr td .type1 tr td {
	width:80%;
	text-align:left;
	vertical-align:top;
	padding:10px;
	border:1px #CCCCCC solid;
}

#member .form_table tr td .type2 {
	border-collapse: collapse;
}

#member .form_table tr td .type2 tr th {
	width:auto;
	text-align:center;
	padding:10px;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

#member .form_table tr td .type2 tr td {
	width:auto;
	text-align:left;
	padding:10px;
	border:1px #CCCCCC solid;
}

#member .form_table tr td #calid_screen table{
	margin-bottom: 0;
}
#member .form_table tr td #calid_screen table tr td{
	border-collapse: collapse;
	border:0;
	width:auto;
	height:auto;
}

#member .form_table tr td #calid2_screen table{
	margin-bottom: 0;
}
#member .form_table tr td #calid2_screen table tr td{
	border-collapse: collapse;
	border:0;
	width:auto;
	height:auto;
}

#member .form_table tr td #calid3_screen table{
	margin-bottom: 0;
}
#member .form_table tr td #calid3_screen table tr td{
	border-collapse: collapse;
	border:0;
	width:auto;
	height:auto;
}

#member .form_table tr td .form_dl dt {
	clear:both;
	float:left;
	display:inline;
	width:100px;
	padding-bottom:10px;
}

.English #member .form_table tr td .form_dl dt {
	clear:both;
	float:left;
	display:inline;
	width:150px;
	padding-bottom:10px;
}

#member .form_table tr td .form_dl dd {
	padding-bottom:10px;
}


#member .order_table {
	width:100%;
	margin-left:0;
	border-collapse: collapse;
	margin-bottom:15px;
}

#member .order_table tr td {
	padding:10px;
	word-break: break-all;
	border:1px #CCCCCC solid;
}

#member .order_bt {
	text-align:center;
	width:650px;
	padding-left:0;
	margin-top:15px;
	margin-bottom:15px;
}

#member .topicon {
	background:#333;
	color:#FFF;
	font-weight:bold;
	padding:2px;
	font-size:70%;
}

#member .search {

}

#member .advice {
    color:#DD0000;
}

#subBase #member #leftContainer #mnavi #current a {
    color:#FFFFFF;
    background:url(../images/mnavi_on.gif) no-repeat left top;
}

#member #mainContainer h3 {
    margin-top: 30px;
}

#member .form_table tr .bgcolor1 {
	background:#DEF0FF;
}
#member .form_table tr .bgcolor2 {
	background:#FFEDED;
}

#member .section2 .list_table{
    border-bottom:solid 1px #CCC;
}
#member .section2 .list_table tr td{
    border-width: 1px;
}
#member .section2 .list_table .dotted td {
    border-bottom:dotted 1px #CCC;
    border-top:dotted 1px #CCC;
}
#member .section2 .list_table .dotted .noline {
    border-bottom:none;
    border-top:none;
}



/* paging
-------------------------------------------------------------------------------------------------------*/
#pagenavi {
	width:678px;
	padding-top:10px;
	padding-bottom:0;
}

#pagenavi2 {
	width:678px;
	padding-top:15px;
}

.kensu {
	width:220px;
	float:left;
	color:#666666;
	font-size:90%;
}

.paging {
	text-align:right;
	width:403px;
	float:right;
}

.paging .int_navi a:link {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .int_navi a {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .int_navi a:visited {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .int_navi a:hover {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	color:#FFFFFF;
	text-decoration:none;
	padding:2px 4px;
}

.paging .now_page {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	padding:2px 4px;
}

.paging .nextpage a {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .nextpage a:visited {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .nextpage a:hover {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	color:#FFFFFF;
	text-decoration:none;
	padding:2px 4px;
}

.paging .prevpage a {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .prevpage a:visited {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .prevpage a:hover {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	color:#FFFFFF;
	text-decoration:none;
	padding:2px 4px;
}


/* sub common
-------------------------------------------------------------------------------------------------------*/

.type1 {
	border-collapse: collapse;
	width:100%;
	margin:15px 0;
}

.type1 tr th {
	width:20%;
	text-align:left;
	vertical-align:top;
	padding:10px;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

.type1 tr td {
	width:80%;
	text-align:left;
	vertical-align:top;
	padding:10px;
	border:1px #CCCCCC solid;
}

.type2 {
	border-collapse: collapse;
	width:100%;
	margin:15px 0;
}

.type2 tr th {
	width:auto;
	text-align:center;
	padding:10px;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

.type2 tr td {
	width:auto;
	text-align:left;
	padding:10px;
	border:1px #CCCCCC solid;
}

.form_table .entry ul{
	margin-left:25px;
	margin-bottom:20px;
}

.form_table .entry ol{
	margin-left:30px;
	margin-bottom:20px;
}

.form_table .entry dl{
	margin-left:15px;
	margin-bottom:20px;
}