@charset "utf-8";

/* top page
-------------------------------------------------------------------------------------------------------*/
#top .section3 {
	width:470px;
	padding-bottom:25px;
}

#top #mainContainer #rightContainer {
	width:182px;
	float:right;
	display:inline;
	padding-bottom:30px;
}

#top #mainContainer #rightContainer #banner {
        list-style: none;
	border:solid #CCC 1px;
        width:174px;
        padding: 3px 3px 0 3px;
        background: #EBEBEB;
}

#top #mainContainer #rightContainer #banner li {
        padding-bottom: 3px;
}

#top h3 {
	background:#FFFFFF url(../images/h3_bg.jpg) repeat-x left top;
        height:28px;
        font-size:100%;
        padding-top: 12px;
        padding-left: 12px;
}

#top .more{
    text-align: right;
}

#top .more .navi_icon{
        clear:both;
	background:#FFFFFF url(../images/navi_icon.gif) no-repeat left center;
	padding-left:15px;
	font-weight:normal;
}

#top #t_news ul{
	padding-top:10px;
	list-style:none;
	float:left;
	margin-left:0;
}

#top #t_news ul li{
background:#FFFFFF url(../images/line_dotted.gif) repeat-x left bottom;
padding:0 0 11px 0;
margin-bottom:9px;
clear:both;
width:470px;
position:relative;
overflow:hidden;
zoom: 1;
margin-left:0;
}

#top #t_news ul li .new{
vertical-align:middle;
padding-left:3px;
}

#top #t_news ul li .date{
float:left;
display:inline;
width:100px;
}

#top #t_news ul li .infoarea{
width:365px;
float:right;
display:inline;
}




/* topics
-------------------------------------------------------------------------------------------------------*/
#topics #newslist{
	list-style:none;
	margin-left:0;
	margin-top:0;
	border-top:1px solid #CCC;
	padding-top: 10px;
}

#topics #newslist{
	list-style:none;
	float:left;
	margin-left:0;
}

#topics #newslist li{
background:#FFFFFF url(../images/line_dotted.gif) repeat-x left bottom;
padding:0 0 11px 0;
margin-bottom:9px;
clear:both;
width:670px;
position:relative;
overflow:hidden;
zoom: 1;
margin-left:0;
}

#topics #newslist li .new{
vertical-align:middle;
padding-left:3px;
}

#topics #newslist li .date{
float:left;
display:inline;
width:120px;
}

#topics #newslist li .infoarea{
width:545px;
float:right;
display:inline;
}

#topics #mainContainer .dedate{
text-align: right;
margin-bottom: 15px;
}

#topics #mainContainer h3{
margin-bottom: 5px;
}


/* message
-------------------------------------------------------------------------------------------------------*/
#message .msg{
float:left;
display: inline;
width:480px;
}

#message .imager{
width:170px;
}


/* org
-------------------------------------------------------------------------------------------------------*/
#org .mem tr .name{
width: 35%;
}

#org .mem tr .post{
width: 65%;
}

#org #mainContainer .mem2{
margin-bottom: 15px;
}

#org #mainContainer .mem2 tr td{
border:1px #CCC solid;
}

#org #mainContainer .mem2 tr .link{
width:15%;
}

#org #mainContainer .mem2 tr .name{
width:auto;
background: #FAFAFA;
}

/* contact
-------------------------------------------------------------------------------------------------------*/
#contact .sname{
line-height:190%;
border: 1px #CCC solid;
padding: 10px;
background: #FAFAFA;
}

#contact .title{
font-weight: bold;
font-size: 130%;
color: #005984;
}

#contact .no{

}

/* event
-------------------------------------------------------------------------------------------------------*/
#subBase #event table{
    margin-bottom: 10px;
}

#subBase #event table tr .info{
    width:64%;
/*    background: #FAFAFA;*/
}
#subBase #event table tr .info2{
    width:80%;
}

#subBase #event table tr th{
    border-width:1px;
}
#subBase #event table tr td{
    border-width:1px;
}

#subBase #event table tr td .ename{
    font-weight: bold;
    color: #093C01;
    margin-bottom: 5px;
    display:block;
/*    font-size: 110%;*/
}

#subBase #event table tr td .ename a{
/*    text-decoration: underline;*/
}

#subBase #event table tr .link{
    width:18%;
    border-bottom: 1px solid #CCC;
    background: #FAFAFA;
}
#subBase #event table tr .link a{
    background: #FAFAFA;
}
#subBase #event table tr .link2{
    width:36%;
    border-top: 1px solid #CCC;
    background: #FAFAFA;
}

/* entry
-------------------------------------------------------------------------------------------------------*/
#mainContainer .section2 .entry ul{
	margin-left:25px;
	margin-bottom:20px;
}

#mainContainer .section2 .entry ol{
	margin-left:30px;
	margin-bottom:20px;
}

#mainContainer .section2 .entry dl{
	margin-left:15px;
	margin-bottom:20px;
}


/* mailform
-------------------------------------------------------------------------------------------------------*/
#mailform .form_table {
	margin-top:10px;
	width:670px;
	margin-left:0;
	border-collapse: collapse;
	margin-bottom:30px;
}

#mailform .form_table caption {
	text-align:left;
	padding-bottom:5px;
	font-weight:bold;
}

#mailform .form_table tr th {
	width:18%;
	text-align:left;
	padding:10px;
	padding-right:20px;
	vertical-align:top;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

#mailform table.form_table tr td {
	width:82%;
	padding:10px;
	word-break: break-all;
	border:1px #CCCCCC solid;
}

#mailform .form_table tr .submit {
	text-align:center;
}


#mailform .form_table tr td .type1 {
	border-collapse: collapse;
}

#mailform .form_table tr td .type1 tr th {
	width:20%;
	text-align:left;
	vertical-align:top;
	padding:10px;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

#mailform .form_table tr td .type1 tr td {
	width:80%;
	text-align:left;
	vertical-align:top;
	padding:10px;
	border:1px #CCCCCC solid;
}

#mailform .form_table tr td .type2 {
	border-collapse: collapse;
}

#mailform .form_table tr td .type2 tr th {
	width:auto;
	text-align:center;
	padding:10px;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

#mailform .form_table tr td .type2 tr td {
	width:auto;
	text-align:left;
	padding:10px;
	border:1px #CCCCCC solid;
}

#mailform .form_table tr td #calid_screen table{
	margin-bottom: 0;
}
#mailform .form_table tr td #calid_screen table tr td{
	border-collapse: collapse;
	border:0;
	width:auto;
	height:auto;
}

#mailform .form_table tr td #calid2_screen table{
	margin-bottom: 0;
}
#mailform .form_table tr td #calid2_screen table tr td{
	border-collapse: collapse;
	border:0;
	width:auto;
	height:auto;
}

#mailform .form_table tr td #calid3_screen table{
	margin-bottom: 0;
}
#mailform .form_table tr td #calid3_screen table tr td{
	border-collapse: collapse;
	border:0;
	width:auto;
	height:auto;
}

#mailform .form_table tr td .form_dl dt {
	clear:both;
	float:left;
	display:inline;
	width:100px;
	padding-bottom:10px;
}

.English #mailform .form_table tr td .form_dl dt {
	clear:both;
	float:left;
	display:inline;
	width:150px;
	padding-bottom:10px;
}

#mailform .form_table tr td .form_dl dd {
	padding-bottom:10px;
}

#mailform .form_table tr .bgcolor1 {
	background:#C6EBA6;
}
#mailform .form_table tr .bgcolor2 {
	background:#F0D9A0;
}

#mailform .advice {
    color:#DD0000;
}

input[type="text"],
textarea {
	background: #FFF;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}
#mailform form label {
    	font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
	color: #333;
}
#mailform select {
    margin: 0;
}
#mailform .section2 form input {
    margin: 0;
}

#mailform .section2 form input[type=text]{
    margin: 0;
    padding: 2px;
    width: 150px;
    margin-bottom: 5px;
}


/* publications
-------------------------------------------------------------------------------------------------------*/
#publications .section2 .list_table{
    border-bottom:solid 1px #CCC;
}
#publications .section2 .list_table tr td{
    border-width: 1px;
}
#publications .section2 .list_table .dotted td {
    border-bottom:dotted 1px #CCC;
    border-top:dotted 1px #CCC;
}
#publications .section2 .list_table .dotted .noline {
    border-bottom:none;
    border-top:none;
}


/* news
-------------------------------------------------------------------------------------------------------*/
#news .section2 table tr td ul{
    margin:0;
    margin-left: 20px;
}


/* paging
-------------------------------------------------------------------------------------------------------*/
#pagenavi {
	width:678px;
	padding-top:10px;
	padding-bottom:0;
}

#pagenavi2 {
	width:678px;
	padding-top:15px;
}

.kensu {
	width:220px;
	float:left;
	color:#666666;
	font-size:90%;
}

.paging {
	text-align:right;
	width:403px;
	float:right;
}

.paging .int_navi a:link {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .int_navi a {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .int_navi a:visited {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .int_navi a:hover {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	color:#FFFFFF;
	text-decoration:none;
	padding:2px 4px;
}

.paging .now_page {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	padding:2px 4px;
}

.paging .nextpage a {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .nextpage a:visited {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .nextpage a:hover {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	color:#FFFFFF;
	text-decoration:none;
	padding:2px 4px;
}

.paging .prevpage a {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .prevpage a:visited {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .prevpage a:hover {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	color:#FFFFFF;
	text-decoration:none;
	padding:2px 4px;
}





