@charset "utf-8";

/* admin
-------------------------------------------------------------------------------------------------------*/
#header #h_logout{
	margin-right:15px;
	margin-top:15px;
}
#header #h_logout span{
	background:url(../images/hnavi_icon.gif) no-repeat left 4px;
	padding-left:13px;
}

input[type="text"],
textarea {
	background: #FFF;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}
#admin form label {
    	font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
	color: #333;
}
#admin select {
    margin: 0;
}
#admin .section2 form input {
    margin: 0;
}

#admin ul{
    list-style: disc;
}

#admin .section2 form input[type=text]{
    margin: 0;
    padding: 2px;
    width: 150px;
    margin-bottom: 5px;
}

#admin .title{
	padding-bottom:30px;
	background:#F2F2F2;
	padding:10px;
	font-weight:bold;
	font-size:120%;
	border-left:5px solid #333;
}

#admin .back{
	background:url(../images/return_icon.gif) no-repeat left 3px;
	padding-left:13px;
	margin-left:15px;
}

#admin .section2 #login_table {
	margin-top:10px;
	width:400px;
	border-collapse: collapse;
}

#admin .section2 #login_table tr th {
	width:35%;
	text-align:right;
	padding:10px;
	padding-right:20px;
	vertical-align:top;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

#admin .section2 #login_table tr td {
	width:65%;
	padding:10px;
	padding-left:20px;
	word-break: break-all;
	border:1px #CCCCCC solid;
}

#admin .section2 #login_table tr .submit {
	text-align:center;
}


#admin .title2{
	padding:5px;
	margin:5px;
	margin-top:15px;
	margin-bottom:10px;
	font-weight:bold;
	font-size:110%;
	border-bottom:1px solid #DDD;
}

#admin .menu{
	padding-bottom:25px;
}

#admin .menu ul{
	padding-top:10px;
	margin-left:45px;
}

#admin .menu ul li{
	margin-bottom:8px;
}



#admin #sub_navi{
	text-align:left;
	margin-left:15px;
	margin-top:15px;
	padding-bottom:0;
}
#admin #sub_navi span{
	background:url(../images/hnavi_icon.gif) no-repeat left 4px;
	padding-left:13px;
}

#admin .list_table {
	margin-top:0;
	width:950px;
	border-collapse: collapse;
	border-right:1px solid #CCC;
}

#admin .list_table tr th {
	text-align:center;
	padding:10px;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
	font-weight: bold;
}

#admin .list_table tr td {1120013we
	padding:10px;
	word-break: break-all;
	border:1px #CCCCCC solid;
	vertical-align:top;
}

#admin .list_table tr td table{
border-collapse: collapse;
}
#admin .list_table tr td table tr td{
border:none;
width:50%;
}

#admin .list_table tr td ul {
	margin-left:20px;
}
#admin .list_table tr td ul li{
	margin-bottom:5px;
}
#admin .list_table tr td ol {
	margin-left:20px;
}
#admin .list_table tr td ol li{
	margin-bottom:5px;
}
#admin .list_table tr td dl dt{
	font-weight:bold;
}
#admin .list_table tr td dl dd{
	margin-bottom:10px;
}


#admin .list_table tr td .editicon {
	background:url(../images/pencil.png) no-repeat left 0px;
	padding-left:18px;
}

#admin .list_table .bg {
	background:#F9F9F9;
}


#admin .form_table {
	margin-top:10px;
	width:670px;
	margin-left:0;
	border-collapse: collapse;
	margin-bottom:30px;
}

#admin .form_table caption {
	text-align:left;
	padding-bottom:5px;
	font-weight:bold;
}

#admin .form_table tr th {
	width:22%;
	text-align:left;
	padding:10px;
	padding-right:20px;
	vertical-align:top;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
	font-weight:bold;
}

#admin table.form_table tr td {
	width:78%;
	padding:10px;
	word-break: break-all;
	border:1px #CCCCCC solid;
}

#admin .form_table tr .submit {
	text-align:center;
}


#admin .form_table tr td .type1 {
	border-collapse: collapse;
}

#admin .form_table tr td .type1 tr th {
	width:20%;
	text-align:left;
	vertical-align:top;
	padding:10px;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

#admin .form_table tr td .type1 tr td {
	width:80%;
	text-align:left;
	vertical-align:top;
	padding:10px;
	border:1px #CCCCCC solid;
}

#admin .form_table tr td .type2 {
	border-collapse: collapse;
}

#admin .form_table tr td .type2 tr th {
	width:auto;
	text-align:center;
	padding:10px;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

#admin .form_table tr td .type2 tr td {
	width:auto;
	text-align:left;
	padding:10px;
	border:1px #CCCCCC solid;
}

#admin .form_table tr td #calid_screen table{
	margin-bottom: 0;
}
#admin .form_table tr td #calid_screen table tr td{
	border-collapse: collapse;
	border:0;
	width:auto;
	height:auto;
}

#admin .form_table tr td #calid2_screen table{
	margin-bottom: 0;
}
#admin .form_table tr td #calid2_screen table tr td{
	border-collapse: collapse;
	border:0;
	width:auto;
	height:auto;
}

#admin .form_table tr td #calid3_screen table{
	margin-bottom: 0;
}
#admin .form_table tr td #calid3_screen table tr td{
	border-collapse: collapse;
	border:0;
	width:auto;
	height:auto;
}

#admin .form_table tr td .form_dl dt {
	clear:both;
	float:left;
	display:inline;
	width:100px;
	padding-bottom:10px;
}

.English #admin .form_table tr td .form_dl dt {
	clear:both;
	float:left;
	display:inline;
	width:150px;
	padding-bottom:10px;
}

#admin .form_table tr td .form_dl dd {
	padding-bottom:10px;
}


#admin .order_table {
	width:100%;
	margin-left:0;
	border-collapse: collapse;
	margin-bottom:15px;
}

#admin .order_table tr td {
	padding:10px;
	word-break: break-all;
	border:1px #CCCCCC solid;
}

#admin .order_bt {
	text-align:left;
	padding-left:0;
	margin-top:15px;
	margin-bottom:15px;
}

#admin .topicon {
	background:#333;
	color:#FFF;
	font-weight:bold;
	padding:2px;
	font-size:70%;
}

#admin .search {

}

#admin .advice {
    color:#DD0000;
}

#subBase #admin #leftContainer #mnavi #current a {
    color:#FFFFFF;
    background:url(../images/mnavi_on.gif) no-repeat left top;
}

#admin h3 {
    margin-top: 30px;
    color:#333;
}

#admin .form_table tr .bgcolor1 {
	background:#C6EBA6;
}
#admin .form_table tr .bgcolor2 {
	background:#F0D9A0;
}

#admin .section2 .list_table{
    border-bottom:solid 1px #CCC;
}
#admin .section2 .list_table tr td{
    border-width: 1px;
}
#admin .section2 .list_table .dotted td {
    border-bottom:dotted 1px #CCC;
    border-top:dotted 1px #CCC;
}
#admin .section2 .list_table .dotted .noline {
    border-bottom:none;
    border-top:none;
}


/* paging
-------------------------------------------------------------------------------------------------------*/
#pagenavi {
	width:678px;
	padding-top:10px;
	padding-bottom:0;
}

#pagenavi2 {
	width:678px;
	padding-top:15px;
}

.kensu {
	width:220px;
	float:left;
	color:#666666;
	font-size:90%;
}

.paging {
	text-align:right;
	width:403px;
	float:right;
}

.paging .int_navi a:link {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .int_navi a {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .int_navi a:visited {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .int_navi a:hover {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	color:#FFFFFF;
	text-decoration:none;
	padding:2px 4px;
}

.paging .now_page {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	padding:2px 4px;
}

.paging .nextpage a {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .nextpage a:visited {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .nextpage a:hover {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	color:#FFFFFF;
	text-decoration:none;
	padding:2px 4px;
}

.paging .prevpage a {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .prevpage a:visited {
	border:1px solid #ABC7E2;
	padding:2px 4px;
}

.paging .prevpage a:hover {
	border:1px solid #ABC7E2;
	background:#ABC7E2;
	color:#FFFFFF;
	text-decoration:none;
	padding:2px 4px;
}


/* sub common
-------------------------------------------------------------------------------------------------------*/

.type1 {
	border-collapse: collapse;
	width:100%;
	margin:15px 0;
}

.type1 tr th {
	width:20%;
	text-align:left;
	vertical-align:top;
	padding:10px;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

.type1 tr td {
	width:80%;
	text-align:left;
	vertical-align:top;
	padding:10px;
	border:1px #CCCCCC solid;
}

.type2 {
	border-collapse: collapse;
	width:100%;
	margin:15px 0;
}

.type2 tr th {
	width:auto;
	text-align:center;
	padding:10px;
	border:1px #CCCCCC solid;
	background:#F2F2F2;
}

.type2 tr td {
	width:auto;
	text-align:left;
	padding:10px;
	border:1px #CCCCCC solid;
}

#admin .form_table .entry ul{
	margin-left:25px;
	margin-bottom:20px;
}

#admin .form_table .entry ol{
	margin-left:30px;
	margin-bottom:20px;
}

#admin .form_table .entry dl{
	margin-left:15px;
	margin-bottom:20px;
}

#admin .form_table .entry p{
	padding-bottom:15px;
}